@import '@bmi/ui/styles/gra-colors';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;

  --ui-loader-loading-color: var(--gra-accent-color);
  --ui-loader-message-color: var(--gra-color--gray-500);
  --ui-loader-error-color: var(--gra-theme-danger);
}


.ui-loader {
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--ui-loader-loading-color);
  text-align: center;

  h2 {
    color: var(--ui-loader-loading-color);
  }
}

.ui-loader--state-error {
  &, h2 {
    color: var(--ui-loader-error-color);
  }
}

.ui-loader--state-message {
  &, h2 {
    color: var(--ui-loader-message-color);
  }
}

.ui-loader__waves {
  display: inline-block;

  & > div {
    background: $BrandBlue;
  }
}

.ui-loader__message-icon {
  font-size: 4rem;
}


.ui-loader__spinner {
  display: inline-block;
  &:focus {
    //@include focus-outline;
  }

  .ui-loader__spinner-wrapper {
    .ui-loader__spinner-wheel {
      position: relative;
      visibility: visible;
      width: 64px;
      height: 64px;
      border-radius: 100%;
      border: 2px solid var(--gra-color--gray-400);
      border-left-color: var(--ui-loader-loading-color);
      animation: ui-loader-spinner 1.1s infinite linear;
    }
  }
}

@keyframes ui-loader-spinner {
  0%   { transform: rotate(7deg); }
  100% { transform: rotate(360deg); }
}

