:host {
  display: block;
  position: relative;

  min-height: 200px;
}

ui-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading-container-content {
  height: 100%;
}

ui-loader {
  z-index: 1;
}

