<div class="ui-loader ui-loader--state-{{currentState}}">
  <ng-container *ngIf="currentState === 'loading'; else displayMessage">
    <div class="ui-loader__spinner" aria-label="Loading, please wait...">
      <div class="ui-loader__spinner-wrapper">
        <div class="ui-loader__spinner-wheel"></div>
      </div>
    </div>
    <h2 *ngIf="text">{{text}}</h2>
  </ng-container>
  <ng-template #displayMessage>
    <div class="ui-loader__message">
      <ui-icon *ngIf="icon" [icon]="icon" class="ui-loader__message-icon"></ui-icon>
      <h2 *ngIf="messageText">{{messageText}}</h2>
    </div>
  </ng-template>
</div>
