<h3 class="no-permissions-message" *ngIf="permissionsForm.controls.length === 0">
  No permissions configured
</h3>
<div class="permission-entries">
  <ng-container *ngFor="let entry of permissionsForm.controls; let index = index">
    <div *ngIf="entry.value as value" [formGroup]="entry" class="entry permission-{{ value.permission?.toLowerCase() }}">
      <ng-container [ngSwitch]="getPrincipalType(value)">
        <span *ngSwitchCase="'team'" class="type-icon ui-icon ui-icon-fw ui-icon-users"></span>
        <span *ngSwitchCase="'system'" class="type-icon ui-icon ui-icon-cog ui-icon-fw"></span>
        <span *ngSwitchCase="'user'" class="type-icon ui-icon ui-icon-fw ui-icon-user"></span>
      </ng-container>
      <label>{{ value.id }}</label>
      <select type="text" formControlName="permission">
        <option>None</option>
        <option value="ROLLUP">ROLLUP</option>
        <option value="READ">READ</option>
        <option value="WRITE">WRITE</option>
        <option value="ADMIN">ADMIN</option>
      </select>
      <button type="button"
              [ngClass]="{'remove-button': !isAdmin(value) || allowRemoveAdmin, 'hide-button': isAdmin(value) && !allowRemoveAdmin}"
              (click)="removeEntry(entry)" tooltip="Remove this user/team from the permissions">
        <span class="ui-icon ui-icon-times"></span>
      </button>
    </div>
  </ng-container>
</div>
<div class="add-item-row">
  <ui-select [(ngModel)]="principalToAdd" [optionGroups]="optionGroups | async" placeholder="Select team or users to add..."></ui-select>
  <button type="button" class="ui-button ui-btn--success" [disabled]="!principalToAdd" (click)="addEntryClicked()">
    <span class="ui-icon ui-icon-plus"></span> Add
  </button>
</div>
