@import "@bmi/ui/styles/gra-colors";
@import "@bmi/ui/styles/utilities";
@import "@bmi/ui/styles/forms";

.no-permissions-message {
  text-align: center;
  margin: 3rem 0rem;
}

.permission-entries {
  .entry {
    @include ui-gray-box();

    &.permission-rollup {
      color: $DkGray2;
    }

    &.permission-read {
      @include ui-gray-box($borderColor: mix($LakeBlue, white, 40%));
    }

    &.permission-write {
      @include ui-gray-box(
        $borderColor: mix($LakeBlue, white, 50%),
        $blushColor: rgba($LakeBlue, 0.35)
      );
    }

    &.permission-admin {
      @include ui-gray-box(
        $borderColor: $LakeBlue,
        $blushColor: rgba($LakeBlue, 0.2),
        $backgroundColor: mix($LakeBlue, white, 15%)
      );
    }

    display: flex;
    align-items: baseline;
    margin: 0.5rem 0rem;
    padding: 0.8rem;
    padding-right: 0.5rem;  //Align the delete button with edge of box

    .type-icon {
      margin-right: 1rem;
    }

    label {
      flex: 2 1;
    }

    select {
      @include form-control();
      flex: 1 1;
      max-width: 30rem;
    }

    button.remove-button {
      @include ui-icon-button();
      padding: 0.8rem;
    }

    button.hide-button {
      visibility: hidden;
    }
  }
}

.add-item-row {
  margin-top: 1rem;
  display: flex;

  ui-tabbed-select {
    flex: 1 1 auto;
    margin-right: 1rem;
  }
}

