@import '@bmi/ui/styles/gra-colors';

@mixin overSize {
  @media (min-width: 1310px) {
    @content;
  }
}


@mixin idp-font-family() {
  font-family: $idpFontFamily;
}

/*
 * Styling for a gray box, like used in the popup lab and stacker list. Has a
 * border and subtle shadowing to give it some shape, but not too extreme.
 */
@mixin gray-box($backgroundColor: $PaleGray1, $borderColor: rgba($LtGray2, 0.5), $blushColor: rgba($borderColor, 0.2), $blushSize: 1rem) {
  background-color: $backgroundColor;
  border-radius: .2rem;
  border: 1px solid $borderColor;
  box-shadow: 0 0.25rem 1rem -0.25rem rgba(black, 0.1), inset 0 0 $blushSize $blushColor;
}


/**
 * Styles a button for a clickable icon. This will make the background
 * transparent, and add extra padding around the content to make it easier to click.
 */
@mixin icon-button($color: $MedGray2) {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: inherit;
  background: none;
  color: $color;

  &:hover {
    color: lighten($color, 8%);
  }

  &:active {
    color: darken($color, 10%);
  }
}


@mixin font-size-medium {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

@mixin font-size-small-medium {
  font-size: 1.25rem;
  line-height: 2rem;
}


@mixin truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin wrap() {
  box-sizing: border-box;
  // width: calc(100% - 4rem);
  // max-width: calc(100% - 4rem);
  // min-width: 124.6rem;
  margin: 0 2rem;

  // reducing this to fit beside expanded sidebar
  // minimum supported resolution: 1280px
  // sidebar: 280px + content: 1000px
  width: calc(100% - 4rem);
  max-width: calc(100% - 4rem);
  min-width: 96rem;
  position: relative;
  // for testing wrap boundaries
  // border: 1px dotted red;
}


@mixin container() {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
