<ng-container [formGroup]="form">
  <ui-form-field label="Value">
    <bmi-binding-picker
      formControlName="value"
    ></bmi-binding-picker>
  </ui-form-field>

  <ui-collapsible-section label="Column Settings" [initiallyOpen]="hasAdvancedOptionsSet">

    <ui-form-field label="Display Style">
      <ui-select [options]="displayStyleOptions" formControlName="displayStyle"></ui-select>
    </ui-form-field>

    <ui-form-field *ngIf="isLinkMode" label="Link Destination">
      <bmi-core-route-selector formControlName="route"></bmi-core-route-selector>
    </ui-form-field>
  </ui-collapsible-section>

</ng-container>
