idp-stacker-list {
  display: block;
  margin-bottom: 1rem;
}

idp-single-select, idp-multi-select, gravity-split-multiselect {
  width: 24rem;
  max-width: 24rem;
  box-sizing: border-box;
  display: block;
}

ui-form-field {
  display: inline-block;
  vertical-align: top;
  margin: 0 1rem 0 0;
}

label {
  text-transform: capitalize;
}

input,
select,
.readonly-field {
  font-weight: 700;
  font-size: 1.125rem;
}
