:host {
  display: flex;
  flex-direction: row;
}

ui-form-field {
  flex: 1 0 auto;

  // For some reason the path pickers seem to affect this flex layout when
  // changing mode, so I'm trying to force a size here to prevent that.
  width: 10rem;
  min-width: 10rem;
}

ui-form-field + ui-form-field {
  margin-left: 1rem;
}

.readonly-field {
  line-height: 2.9rem;
  width: 15.7rem;
}
