
<idp-stacker-list [items]="conditions">
  <ng-template let-condition let-i="index">
    <ng-container [ngSwitch]="condition.get('conditionType')?.value || 'PROPERTY'">
      <gravity-condition-list-row-property *ngSwitchCase="'PROPERTY'" [board]="board" [formGroup]="condition"></gravity-condition-list-row-property>
      <gravity-condition-list-row-phase *ngSwitchCase="'PHASE'" [board]="board" [formGroup]="condition"></gravity-condition-list-row-phase>
      <gravity-condition-list-row-task *ngSwitchCase="'TASK'" [board]="board" [formGroup]="condition"></gravity-condition-list-row-task>
      <gravity-condition-list-row-dynamic *ngSwitchCase="'DYNAMIC'" [board]="board" [formGroup]="condition"></gravity-condition-list-row-dynamic>
      <div *ngSwitchDefault>
        <strong>Editing {{condition?.get('conditionType')?.value}} conditions is not supported</strong>
      </div>
    </ng-container>
  </ng-template>
</idp-stacker-list>
