:host {
  max-width: 512px;
  display: block;
}
.cron-form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
input[type='range'] {
  padding: 0;
}
p {
  margin: 0;
}
div.alert.alert--info,
div.alert.alert--warning {
  padding: var(--gra-spacing-half);
  margin: 0 0 var(--gra-spacing-qtr);
}
ui-checkbox {
  margin-right: var(--gra-spacing-half);
}