<div class="alert alert--{{ enabled ? 'info' : 'warning' }}">
  <ui-checkbox [(ngModel)]="enabled" (click)="change()"></ui-checkbox>
  <div class="alert__message">{{ description() }}</div>
</div>
<section class="cron-form" [formGroup]="form" *ngIf="enabled">
  <ui-form-field label="Minute">
    <input
      type="number"
      min="0"
      max="59"
      formControlName="minute"
      (change)="syncControls('minute', 59)"
    />
    <input
      type="range"
      min="0"
      max="59"
      formControlName="minute"
      (change)="syncControls('minute', 59)"
    />
  </ui-form-field>
  <ui-form-field label="Hour">
    <input
      type="number"
      min="0"
      max="23"
      formControlName="hour"
      (change)="syncControls('hour', 23)"
    />
    <input
      type="range"
      min="0"
      max="23"
      formControlName="hour"
      (change)="syncControls('hour', 23)"
    />
  </ui-form-field>
  <ui-form-field label="Day of week">
    <ui-select
      [options]="weekDayOptions"
      formControlName="weekDay"
    ></ui-select>
  </ui-form-field>
</section>
