
<bmi-app-header
  [contextTabs]="contextTabs"
  [headerTitle]="headerTitle">
  <ng-template #rightPanel>

    <bmi-admin-global-search class="header-item"></bmi-admin-global-search>

    <button
        class="header-item btn btn--circle btn--large btn--ghost"
        [class.btn--ghost]="!sidebarOpen"
        [class.btn--secondary]="sidebarOpen"
        type=button
        title="Toggle Sidebar"
        (click)="toggleSidebar()">
      <ui-icon icon="cui-view-feed-dual" class="rotate-180"></ui-icon>
    </button>

    <ng-container *ngIf="userInfo | async as user">
      <div class="header-item">
        {{user.fullName}}
      </div>
      <div class="header-item">
        <bmi-profile-image [userId]="user.id"></bmi-profile-image>
      </div>
    </ng-container>
    <ui-dropdown-menu positionPolicy="right">
      <button type=button class="btn btn--link"><ui-icon icon="cui-chevron-down"></ui-icon></button>
      <ng-template #items>
        <ui-dropdown-item (click)="ssoLogout()">Logout</ui-dropdown-item>
      </ng-template>
    </ui-dropdown-menu>
  </ng-template>
</bmi-app-header>

<bmi-app-sidebar
  *ngIf="appHasSidebar"
  [menuContent]="menuContent"
  [contextTabs]="contextTabs"
  [closeEvents]="closeEvents">
</bmi-app-sidebar>

<section
  class="main-layout__viewport"
  [class.menu-open]="menuOpen"
  [class.main-layout__viewport--sidebar-open]="sidebarOpen">
  <div class="main-layout__page-content">
    <ui-breadcrumbs [breadcrumbs]="breadcrumbs"></ui-breadcrumbs>
    <router-outlet></router-outlet>
  </div>
  <bmi-admin-sidebar *ngIf="sidebarOpen" class="main-layout__sidebar"></bmi-admin-sidebar>
</section>

