:host {
  display: flex;
}

header {
  padding: 0 20px;
}

nav.sidebar {
  transition: width .1s;
  width: 280px;
  top: 50px !important;
  .sidebar__header-title {
    margin-left: 8px;
  }
}

.main-layout {
  &__viewport {
    display: grid;
    grid-template-areas: "content";
    grid-template-columns: 1fr;

    position: fixed;
    bottom: 0;
    top: 63px;
    left: 80px;
    right: 0;

    &--sidebar-open {
      grid-template-areas: "content sidebar";
      grid-template-columns: 1fr 400px;
    }

    & > * {
      min-width: 0;
      min-height: 0;
    }
  }

  &__page-content {
    grid-area: content;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
  }

  &__sidebar {
    grid-area: sidebar;
    background: white;
    box-shadow: 0 0 20px rgba(black, 0.15);
    z-index: 1;
  }

}


.header-item + .header-item {
  margin-left: 20px;
}

.header-item bmi-profile-image {
  width: 38px;
  height: 38px;
  font-size: 38px;
}

/** didn't give this much thought yet */
gravity-help-sidebar {
  position: fixed;
  top: 50px;
  right: 0;
  width: 33.333vw;
  height: 100vh;
  overflow-y: scroll;
  background: white;
  border-left: 1px solid var(--gra-color--gray-400);
  padding: 10px;
}

:host ::ng-deep ui-breadcrumbs {
  span {
    font-size: 1.4rem;
  }
  .fa-chevron-right {
    font-size: 1rem;
  }
}


.help-button {
  border-radius: 50%;
  border: 2px solid var(--gra-link-color);
  color: var(--gra-link-color);
  padding: 4px;
  margin-right: 5px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 3px var(--gra-link-color);
  }

  &--enabled {
    color: var(--gra-color--white) !important;
    background: var(--gra-link-color);
  }
}
