<h2>Chart settings</h2>

<section *ngIf="!!form" [formGroup]="form">

  <section class="chart-settings">

    <ui-form-field label="Data source">
      <bmi-data-source-picker formControlName="dataSource"></bmi-data-source-picker>
    </ui-form-field>

    <ui-form-field label="Metrics">
      <ui-stacker-list [items]="form.controls.kpis">
        <ng-template let-item>
          <ng-container [formGroup]="item">

            <bmi-kpi-selector formControlName="kpi"></bmi-kpi-selector>
            <ui-collapsible-section
              label="Series settings"
              class="collapsible-section--series-settings">
              <div class="collapsible-section--series-settings__form">
                <ui-form-field
                  class="collapsible-section--series-settings-label"
                  label="Series label">
                  <input formControlName="label">
                </ui-form-field>
                <ui-form-field
                  class="collapsible-section--series-settings-type"
                  label="Display type">
                  <ui-single-select
                    formControlName="type"
                    [options]="typeOptions">
                  </ui-single-select>
                </ui-form-field>
                <ui-form-field
                  class="collapsible-section--series-settings-zones"
                  label="Color zones">
                  <bmi-color-zones-editor formControlName="zones"></bmi-color-zones-editor>
                </ui-form-field>
              </div>
            </ui-collapsible-section>

          </ng-container>
        </ng-template>
      </ui-stacker-list>
      <button
        type="button"
        class="btn btn--small btn--secondary"
        (click)="addKpi()">
        Add metric
      </button>
    </ui-form-field>

    <ui-collapsible-section label="More chart settings" class="collapsible-section--standalone">

      <ui-form-field label="Chart type (series can override this)">
        <ui-single-select
          formControlName="chartType"
          [options]="typeOptions">
        </ui-single-select>
      </ui-form-field>
  
      <ui-form-field label="Chart stacking">
        <ui-single-select formControlName="stacked" [options]="stackingOptions"></ui-single-select>
      </ui-form-field>

      <ui-form-field label="X axis label">
        <input formControlName="xAxisLabel">
      </ui-form-field>
  
      <ui-form-field label="Y axis label">
        <input formControlName="yAxisLabel">
      </ui-form-field>

    </ui-collapsible-section>

  </section>

</section>