ui-form-field {
  display: block;
  margin-bottom: 1rem;
}
ui-stacker-list ui-form-field {
  margin-bottom: 0;
}
.collapsible-section{
  &--standalone {
    background: var(--gra-color--gray-200);
    border: 1px solid var(--gra-color--gray-400);
    border-radius: 2.5px;
    display: block;
    padding: .4rem 1rem;
    margin-bottom: 1rem;
  }
  &--series-settings {
    display: block;
    padding: 4px 8px;
    margin: 0 -18px -4px -8px;
    border-top: 1px solid var(--gra-color--gray-400);
    background: rgba(0, 0, 0, .06);
    &__form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "label type"
                           "zones zones";
      gap: .8rem;
    }
    &-label {
      grid-area: label;
    }
    &-type {
      grid-area: type;
    }
    &-zones {
      grid-area: zones;
    }
  }
}

bmi-kpi-selector {
  margin-bottom: .5rem;
  display: block;
}
