:host {
  display: block;
}

.button-toolbar {
  &__item {
    display: inline-block;
  }

  &__item--separator {
    border-left: 1px solid var(--gra-color--gray-400);
    margin-left: 3px;
    margin-right: 3px;
    height: 16px;
    vertical-align: middle;
  }

  &__button--icon {
    background: none;
    border: none;

    color: var(--gra-color--gray-600);
    padding: 5px 3px;

    cursor: pointer;
    line-height: 1;
    &:hover, .button-toolbar__item--menu-open & {
      color: var(--gra-accent-color);
      background: white;
      box-shadow: 0px 1px 3px rgba(black, 0.18);
      
      // This number makes small icon buttons look circular, but larger buttons with 
      // text should be more rectangular. It looks a bit weird if the text wraps.
      border-radius: 20px;
    }

    .button-toolbar__item--menu-open & {
      background: var(--gra-color--gray-200);
    }

    ui-icon {
      line-height: 1;
    }
  }


  &__item, &__button--icon {
    outline: 0;

    &:hover, &:active, &:focus {
      outline: 0;
    }
  }
}
