<div class="button-toolbar">
  <ng-container *ngFor="let item of items">
    <ng-container [ngSwitch]="item.type">
      <div *ngSwitchCase="'action'" class="button-toolbar__item" (click)="invokeAction(item)">
        <ng-container *ngTemplateOutlet="buttonTemplate || defaultToolbarButton; context: {$implicit: item}"></ng-container>
      </div>
      <div *ngSwitchCase="'separator'" class="button-toolbar__item button-toolbar__item--separator"></div>
      <ui-dropdown-menu
          #dropdownMenuComponent
          *ngSwitchCase="'menu'"
          class="button-toolbar__item button-toolbar__item--menu"
          [class.button-toolbar__item--menu-open]="dropdownMenuComponent.isOpen"
          [positionPolicy]="'noRelative'">
        <ng-container *ngTemplateOutlet="buttonTemplate || defaultToolbarButton; context: {$implicit: item}"></ng-container>
        <ng-template #items>
          <ng-container *ngFor="let menuItem of item.items">
            <ng-container [ngSwitch]="menuItem.type">
              <ui-dropdown-item
                  *ngSwitchCase="'action'"
                  [icon]="menuItem.icon"
                  (click)="invokeAction(menuItem)">
                {{menuItem.text}}
              </ui-dropdown-item>
              <hr *ngSwitchCase="'separator'" class="button-toolbar__menu-separator">
            </ng-container>
          </ng-container>
        </ng-template>
      </ui-dropdown-menu>
    </ng-container>
  </ng-container>
</div>

<ng-template #defaultToolbarButton let-item>
  <button class="button-toolbar__button--icon button-toolbar__button" tabindex="-1" [title]="item.tooltip || ''">
    <ui-icon *ngIf="item.icon" [icon]="item.icon" [fixedWidth]="true"></ui-icon>
    <ng-container *ngIf="item.text && showButtonText">
      {{item.text}}
    </ng-container>
  </button>
</ng-template>
