<ui-loading-container loadingMessage="Gravity Admin" [isLoading]="isLoading" [errorMessage]="errorMessage" [hasError]="!!errorMessage">
  <ng-template>
    <gravity-admin-main-layout></gravity-admin-main-layout>
  </ng-template>
</ui-loading-container>
