<ng-container [formGroup]="form">

  <div class="row">
    <ui-form-field class="col" label="Filter ID">
      <input type="text" formControlName="id">
    </ui-form-field>

    <ui-form-field class="col" label="Name">
      <input type="text" formControlName="name">
    </ui-form-field>
  </div>

  <div class="row">
    <ui-form-field class="col" label="Filter Type">
      <ui-single-select formControlName="filterType" [options]="filterTypes" [floating]="true"></ui-single-select>
    </ui-form-field>
  </div>

  <div class="row">
    <ui-form-field class="col" label="UI Control Type">
      <ui-single-select formControlName="controlType" [options]="controlTypes" [floating]="true"></ui-single-select>
    </ui-form-field>

    <ui-form-field class="col" label="Only show in editor" formGroupName="config">
      <ui-checkbox formControlName="onlyShowInEditor"></ui-checkbox>
    </ui-form-field>
  </div>


  <ng-container formGroupName="config">
    <div class="row" *ngIf="showOptionlistPicker">
      <ui-form-field class="col" label="Optionlist Board">
        <ui-single-select formControlName="optionlist" [options]="optionlistBoards | async" [floating]="true"></ui-single-select>
      </ui-form-field>
      <ui-form-field class="col" label="Include None option">
        <ui-checkbox formControlName="includeNullOption"></ui-checkbox>
      </ui-form-field>
    </div>
  </ng-container>
</ng-container>
