@import '@bmi/ui/styles/gra-colors';


.chart-editor__layout {
  display: grid;
  grid-gap: 1rem;


  // Fallback small screen layout first. One column, stacked areas. This will
  // also be used if the "collapsed" flag is set on the chart editor (e.g. we
  // are in a small layout and shouldn't try to be too clever.)
  grid-template-columns: 1fr;
  grid-template-areas:
    "data-sources"
    "chart-preview"
    "chart-settings";

  &:not(.chart-editor__collapsed) {
    @media screen and (min-width: 1280px) {
      grid-template-columns: 3fr 2fr;
      grid-template-areas:
        "data-sources chart-preview"
        "chart-settings chart-preview";
    }
  }

  .chart-editor__data-sources { grid-area: data-sources; }
  .chart-editor__chart-preview { grid-area: chart-preview; min-width: 0; }
  .chart-editor__chart-settings { grid-area: chart-settings; }
}


.chart-preview-slide {
  // We want the preview card to slide down its column when possible. If the
  // user has a 1080p screen, then this sholud let the preview slide all the
  // way down next to the chart settings.
  //
  // We might want to combine this logic with the layout mediaqueries above so
  // that it only slides down when the full height column is enabled.
  position: sticky;

  // This helps to ensure that the previewm card  is clearing any page headers
  // which might be floating over content.
  top: 10rem;
}

.preview-card {
  border: 1px solid $LtGray2;
  padding: 1rem;
  box-shadow: 0.5rem 1rem 2rem -1rem rgba(black, 0.15);


  .preview-card__loader {
    min-height: 40rem;
  }

  .preview-card__no-preview-message {
    margin: 20rem 0rem;
    text-align: center;
  }
}

