<div class="chart-editor__layout" [formGroup]="form">
  <div class="chart-editor__data-sources">
    <h2>Chart Type</h2>
    <ui-form-field label="Type">
      <ui-single-select formControlName="chartType" [options]="chartTypeOptions"></ui-single-select>
    </ui-form-field>

    <h2>Data Sources</h2>
    <ng-container formArrayName="dataSources">
      <bmi-charts-data-source-editor *ngFor="let control of dataSources.controls; index as i" [formControlName]="i"></bmi-charts-data-source-editor>
    </ng-container>
  </div>

  <div class="chart-editor__chart-preview">
    <div class="chart-preview-slide">
      <h2>Chart Preview</h2>
      <div class="preview-card">
        <ui-loading-container  *ngIf="isPreviewAvailable; else noPreviewMessage"  class="preview-card__loader" [isLoading]="isLoadingPreview">
          <ng-template>
            <bmi-chart-viewer [config]="previewConfig" [data]="chartData"></bmi-chart-viewer>
          </ng-template>
        </ui-loading-container>
        <ng-template #noPreviewMessage>
          <h3 class="preview-card__no-preview-message">No chart preview is available yet</h3>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="chart-editor__chart-settings">
    <h2 *ngIf="chartType.value">Chart Settings</h2>
    <ng-container [ngSwitch]="chartType.value">
      <bmi-basic-highcharts-editor
        *ngSwitchCase="'@bmi/legacy-charts:highcharts-basic-chart-v1'"
        formControlName="chartSettings">
      </bmi-basic-highcharts-editor>
    </ng-container>
  </div>
</div>
