<div class="credential-editor" [formGroup]="form">
    <div class="credential-editor__form">
        <div class="row">
            <div class="col">
                <ui-form-field label="Credential ID">
                    <input formControlName="id">
                </ui-form-field>
            </div>
            <div class="col">
                <ui-form-field label="Credential Name">
                    <input formControlName="name">
                </ui-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ui-form-field label="Credential Description">
                    <textarea formControlName="description" rows="4"></textarea>
                </ui-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ui-form-field label="Credential Resource">
                    <input formControlName="resource">
                </ui-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ui-form-field label="Credential Method">
                    <input formControlName="method">
                </ui-form-field>
            </div>
            <div class="col">
                <ui-form-field label="Credential Request Method">
                    <input formControlName="requestMethod">
                </ui-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ui-checkbox
                data-cy="credential-editor-identifier-checkbox"
                [disabled]="isNew"
                formControlName="updateIdentifier"
                label="Update Identifier">
                </ui-checkbox>
                <ui-form-field label="Credential Identifier">
                    <input formControlName="identifier">
                </ui-form-field>
            </div>
            <div class="col">
                <ui-checkbox
                data-cy="credential-editor-secret-checkbox"
                [disabled]="isNew"
                formControlName="updateSecret" 
                label="Update Secret">
                </ui-checkbox>
                <ui-form-field label="Credential Secret">
                    <input formControlName="secret">
                </ui-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button
                data-cy="credential-editor-save-button"
                class="btn btn--primary"
                [disabled]="!isValid"
                (click)="saveCredential()">
                    Save
                </button>
                <button class="btn btn--ghost" (click)="closed()">Close</button>
            </div>
        </div>
    </div>
</div>

