.credential-editor {
    display: grid;
    grid-gap: 40px;
  
    grid-template-columns: minmax(720px, 960px) minmax(360px, 1fr);

    & > * { min-width: 0; }
    :host {
        --bmi-editor-height: 600px;
    }
    &__form > .row {
        margin-bottom: var(--gra-spacing);
      }
}
  
  