@import '@bmi/ui/styles/gra-colors';

.viewport {

  display: grid;
  grid-template-columns: 1fr 240px;
  grid-template-areas: "header sidebar"
                       "hr hr"
                       "page page";

  &__sidebar {
    grid-area: sidebar;
    margin: var(--gra-spacing) var(--gra-spacing) var(--gra-spacing) 0;
    bmi-widget-host {
      min-height: 4rem;
      border: 1px dashed var(--gra-color--gray-500);
      cursor: pointer;
    }
  }
  &__body {
    grid-area: page;
  }

  &__header-bar, &__body {
    padding: var(--gra-spacing);
  }

  &__body-hr {
    grid-area: hr;
    margin: 0 var(--gra-spacing);
    width: auto;
  }

  &--view-mode {
    .viewport__sidebar {
      bmi-widget-host {
        border: none;
      }
    }
  }


  &__header-bar {
    grid-area: header;
    padding: var(--gra-spacing) var(--gra-spacing) 0;

    ::ng-deep bmi-markdown-widget {
      h1, h2 {
        margin: 0;
      }

      h1 {
        font-weight: 100;
      }

      h2 {
        font-weight: 200;
      }
    }
  }

  &__header {
    word-wrap: break-word;
  }

  &__main-filter {
    margin-bottom: var(--gra-spacing);
  }

  &__breadcrumbs {
    padding: var(--gra-spacing-half) 0;
  }

}

// required for sidebar functionality. currently disabled.

// @mixin sidebarize {
//   grid-template-areas: "header sidebar"
//                        "hr sidebar"
//                        "page sidebar";
//   .viewport__sidebar {
//     grid-area: sidebar;
//     &__content {
//       position: sticky;
//       top: var(--gra-spacing);
//     }
//   }
// }

// @media (min-width: 1281px) and (max-width: 1679px) {
//   .viewport--has-sidebar.viewport--view-mode {
//     @include sidebarize;
//   }
// }
// @media (min-width: 1680px) {
//   .viewport--has-sidebar {
//     @include sidebarize;
//   }
// }
