
<div
  class="viewport"
  [class.viewport--view-mode]="isViewShowing"
  [class.viewport--has-sidebar]="!!secondaryFilterConfig">
  <div class="viewport__header-bar">
    <bmi-widget-host
      class="viewport__header"
      mode="view"
      [config]="headerWidgetConfig"
      (updateWidgetConfig)="widgetConfigUpdated('header', $event)">
    </bmi-widget-host>

    <bmi-widget-host
      *ngIf="showBreadcrumbs"
      class="viewport__breadcrumbs"
      mode="view"
      [config]="breadcrumbsWidgetConfig"
      (updateWidgetConfig)="widgetConfigUpdated('breadcrumbs', $event)">
    </bmi-widget-host>

    <bmi-widget-host
      class="viewport__main-filter"
      [config]="mainFilterWidgetConfig"
      [editable]="true"
      (updateWidgetConfig)="widgetConfigUpdated('mainFilter', $event)">
    </bmi-widget-host>

  </div>

  <div class="viewport__sidebar">
    <div class="viewport__sidebar__content">
      <div
        *ngIf="!secondaryFilterConfig && isEditMode | async"
        class="viewport__secondary-filter--add">
        <button class="btn btn--ghost" type="button" (click)="addSecondaryFilterConfig()">
          Add secondary filter
        </button>
      </div>

      <bmi-widget-host *ngIf="secondaryFilterConfig"
        class="viewport__secondary-filter"
        [config]="secondaryFilterConfig"
        [editable]="true"
        (updateWidgetConfig)="widgetConfigUpdated('secondaryFilter', $event)">
      </bmi-widget-host>
    </div>
  </div>

  <hr class="viewport__body-hr" *ngIf="!showPageNavigation">
  <bmi-widget-host
    class="viewport__body-hr"
    [config]="pageNavigationConfig"
    *ngIf="showPageNavigation">
  </bmi-widget-host>

  <div class="viewport__body">
    <ng-container [ngSwitch]="bodyMode | async">
      <ui-loader *ngSwitchCase="'loading'"></ui-loader>

      <div *ngSwitchCase="'missing-required-values'">
        {{ requiredMessage | async }}
      </div>

      <bmi-widget-host
        *ngSwitchDefault
        [config]="bodyWidgetConfig"
        (updateWidgetConfig)="widgetConfigUpdated('body', $event)">
      </bmi-widget-host>
    </ng-container>

  </div>

</div>
