<ng-container [formGroup]="form">
  <ui-collapsible-section label="Header Template" [isOpen]="false" type="sidebar">
    <p>
      This allows you to edit the Markdown template for the page header. You can use this to add a
      subtitle or include filter values by using Mustache templates.
    </p>
    <bmi-widget-config-editor formControlName="header" [flairEditing]="false"></bmi-widget-config-editor>
  </ui-collapsible-section>

  <ui-collapsible-section label="Breadcrumbs" type="sidebar">
    <p>
      Home (Module defined home page) and current page will be added automatically. Add breadcrumbs,
      if required, to fit between home and current pages.
    </p>
    <ui-form-field label="Show breadcrumbs">
      <ui-checkbox formControlName="showBreadcrumbs"></ui-checkbox>
    </ui-form-field>
    <bmi-widget-config-editor
      formControlName="breadcrumbs"
      [flairEditing]="false">
    </bmi-widget-config-editor>
  </ui-collapsible-section>

  <ui-collapsible-section label="Page Body" type="sidebar">
    <bmi-widget-selector formControlName="body"></bmi-widget-selector>
  </ui-collapsible-section>

  <ui-collapsible-section label="Loading and Required Values" type="sidebar">

    <p> These settings allow you to hide the page contents if required values are not met; or, to
      display a loading spinner. This works by watching a list of data bindings, and ensuring all
      values return a valid value.
    </p>

    <p>
      For example, if a filter is required, you can add that filter to the Required Values list. If
      the filter value is unspecified or blank, a message will be shown in place of the page body.
    </p>

    <h3>Required Values</h3>
    <bmi-binding-list formControlName="requiredValues" addButtonText="Add Required Value"></bmi-binding-list>

    <ui-form-field label="Message if required values not present">
      <textarea formControlName="requiredMessage" rows="5"></textarea>
    </ui-form-field>


    <h3>Loading Values</h3>

    <p>
      These work in a similar way to required values, but instead cause the page to show a loading
      spinner. Loading has a lower priority than the required values; if both message and spinner need
      to be shown, it will show the message.
    </p>

    <bmi-binding-list formControlName="loadingValues" addButtonText="Add Loading Value"></bmi-binding-list>
  </ui-collapsible-section>

  <ui-collapsible-section label="Filter Config" [isOpen]="false" type="sidebar">
    <bmi-widget-config-editor formControlName="mainFilter" [flairEditing]="false"></bmi-widget-config-editor>
  </ui-collapsible-section>

  <ui-collapsible-section label="Page Navigation" [isOpen]="false" type="sidebar">
    <ui-form-field label="Show page navigation">
      <ui-checkbox formControlName="showPageNavigation"></ui-checkbox>
    </ui-form-field>
    <bmi-widget-config-editor
      formControlName="pageNavigation"
      [flairEditing]="false">
    </bmi-widget-config-editor>
  </ui-collapsible-section>

  <ui-collapsible-section label="Advanced Paste Features" [isOpen]="false" type="sidebar">
    <p>
      These features let you paste in another page's config, but selectively choosing parts of the
      page, or merging rather than completely replacing it. This is a rudimentary replacement for
      page templates, allowing you to copy the navigation and data sources while leaving the
      contents intact, etc.
    </p>

    <hr>

    <button type=button class="btn btn--ghost" (click)="pastePageShell()">
      <ui-icon icon="fa4-clipboard"></ui-icon> Paste Page Shell
    </button>
    <p>Replaces the page 'shell' (navigation, header, breadcrumbs, merges data sources) while preserving the page contents</p>

    <hr>

    <button type=button class="btn btn--ghost" (click)="pastePageContents()">
      <ui-icon icon="fa4-clipboard"></ui-icon> Replace Page Body
    </button>
    <p>Just replaces the contents of the page, leaving the shell intact</p>


    <hr>

    <button type=button class="btn btn--ghost" (click)="pasteDataSources()">
      <ui-icon icon="fa4-clipboard"></ui-icon> Merge data sources
    </button>

    <p>Merge data sources from the pasted page</p>


  </ui-collapsible-section>
</ng-container>
