<ui-stacker-list [items]="formArray">
  <ng-template let-actionControl>
    <bmi-action-editor
      [formControl]="actionControl"
      [boardId]="boardId">
    </bmi-action-editor>
  </ng-template>
</ui-stacker-list>

<ui-dropdown-menu>
  <button type=button class="btn btn--success">
    <ui-icon icon="cui-plus" [fixedWidth]="true"></ui-icon>
    Add Action
  </button>
  <ng-template #items>
    <ui-dropdown-item
        *ngFor="let actionType of actionTypes | async"
        (click)="addAction(actionType)">
      {{actionType.name}}
    </ui-dropdown-item>
  </ng-template>
</ui-dropdown-menu>

