@import '@bmi/ui/styles/gra-colors';
@import '@bmi/ui/styles/forms';

:host {
  display: block;
}

:host ::ng-deep > textarea {
  height: 3.8rem;
  min-height: 2.9rem;
}

.ui-form-group ::ng-deep {
  & > input,
  & > textarea,
  & > select {
    width: 100%;
  }
  input {
    height: 2.9rem;
    padding: 0 .8rem;
    border: 1px solid var(--gra-color--gray-300);
    border-radius: .2rem;
    box-sizing: border-box;
  }
}

label {
  font-size: 1.125rem;
}

.form-feedback {
  color: $LtGray2;
}


.ui-form-group-invalid {
  ::ng-deep {
    /*
     * We only want to target direct descendants; we'll target certain complex
     * controls directly but I think a better strategy would be to have those
     * controls apply their own styling based on the ng-invalid class.
     */
    & > input, & > textarea, & > select, & > .form-input {
      @include invalid-form-control();
    }


    idp-path-picker {
      input, .form-input {
        @include invalid-form-control();
      }
    }

    single-select,
    multi-select,
    ui-single-select,
    ui-multi-select {
      .select-toggler {
        @include invalid-form-control();
      }
    }
  }

  label, .form-feedback {
    color: $StatusRed;
  }
}
