<div class="ui-form-group" [class.ui-form-group-invalid]="isInvalid"
     [attr.data-cy]="'ui-form-field-' + label">
	<label *ngIf="shouldShowLabel">
		{{label}}&nbsp;
		<span *ngIf="isRequired" class="field-required-star">*</span>
		<span *ngIf="infoText" class="ui-icon ui-icon-question" [tooltip]="infoText"></span>
	</label>
	<ng-content></ng-content>
	<div class="form-feedback">{{formFeedbackText}}</div>
</div>
