<ng-container [formGroup]="form">
  <ui-form-field label="Grid Columns">
    <input formControlName="columns" type="number" min="1" max="6">
  </ui-form-field>

  <ui-form-field label="Data Source">
    <bmi-data-source-picker formControlName="dataSourceId"></bmi-data-source-picker>
  </ui-form-field>

  <ui-form-field label="Bindings">
    <bmi-data-map-editor formControlName="bindings"></bmi-data-map-editor>
  </ui-form-field>

</ng-container>
