<div class="foreach__grid foreach__grid--columns-{{ gridColumns | async }} {{ (isEditMode | async) ? 'foreach__grid--edit-mode' : '' }}">
  <ng-container *ngIf="isEditMode | async; else loopMode">
    <div class="foreach__template-card-holder">
      <h3 class="foreach__template-title">Loop Template <small>({{dataSourceName | async}})</small></h3>
      <bmi-core-card [bmiDataContextSources]="templateDataContextConfig | async" [editing]="true">
        <bmi-core-widget-wrapper bmiWidgetWrapperContext>
          <bmi-widget-host
            [config]="templateConfig | async"
            [editable]="true"
            (updateWidgetConfig)="updateTemplateConfig($event)">
          </bmi-widget-host>
        </bmi-core-widget-wrapper>
      </bmi-core-card>
    </div>

    <div *ngFor="let x of (placeholderColumns | async)"
        class="foreach__placeholder">
      <h3 class="foreach__template-title">&nbsp;</h3>
      <div class="foreach__placeholder-card"></div>
    </div>
  </ng-container>
  <ng-template #loopMode>
    <bmi-core-card
        *ngFor="let instance of (instances | async); trackBy: trackByLoopInstance"
        [bmiDataContextSources]="instance.dataContextConfig"
        [editing]="false">
      <bmi-core-widget-wrapper bmiWidgetWrapperContext>
        <bmi-widget-host [config]="templateConfig | async"></bmi-widget-host>
      </bmi-core-widget-wrapper>
    </bmi-core-card>
  </ng-template>
</div>
