.foreach {

  &__grid {
    display: grid;
    gap: var(--gra-spacing);

    @for $i from 1 through 6 {
      &--columns-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }

    &--edit-mode {
      gap: 0;
    }
  }

  &__template-title {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--gra-color--gray-600);

    small {
      text-transform: none;
      vertical-align: middle;
    }
  }

  &__template-card-holder {
    border: 2px dashed;
    border-color: var(--gra-color--gray-400);
  }

  &__template-card-holder, &__placeholder {
    padding: 10px;
  }

  &__placeholder {
    display: flex;
    flex-direction: column;
    opacity: 0.15;
    padding: 10px;

    &-card {
      flex: 1;
      border: 1px solid;
      border-color: var(--gra-color--gray-800);
      box-shadow: inset -4px -4px 40px rgba(black, 0.2), 1px 2px 4px rgba(black, 0.1);
      background-color: var(--gra-color--gray-200);

    }
  }
}
