<div class="row">
  <div class="col">
    <h1>Integrations</h1>
    <ui-search-input
      [placeholder]="'Search Integrations'"
      [selection]="true"
      (newSearch)="updateIntegrationsSearch($event)">
    </ui-search-input>
    <ui-observable-loader [source]="integrations">
      <ng-template let-integrations>
        <ui-list-group>
          <ui-row-with-menu uiListGroupItem *ngFor="let nt of filteredIntegrations | async" [isActionable]="true">
            <a class="grow" [innerHTML]="nt.name | highlightTerm:integrationsSearch" (click)="integrationClicked(nt.id)"></a>
            <ui-dropdown-menu positionPolicy="right">
              <ng-template #items let-dropdown>
                <ui-dropdown-item icon="shared-ui-edit" (click)="executeIntegration(nt.id)">Execute integration now</ui-dropdown-item>
                <hr>
                <ui-dropdown-item icon="shared-ui-trash" (click)="deleteIntegration(nt.id)">Delete Integration</ui-dropdown-item>
              </ng-template>
            </ui-dropdown-menu>
          </ui-row-with-menu>
        </ui-list-group>
      </ng-template>
    </ui-observable-loader>
    <a
    class="btn btn--success"
    routerLink="/system/add-integration"
    data-cy="integrations-create-button">
      <ui-icon icon="cui-plus" [fixedWidth]="true"></ui-icon>
      Add Integration
    </a>
  </div>
  <div class="col">
    <h1>Integration Credentials</h1>
    <ui-search-input
      [placeholder]="'Search Integration Credentials'"
      [selection]="true"
      (newSearch)="updateCredentialSearch($event)">
    </ui-search-input>
    <ui-observable-loader [source]="credentials">
      <ng-template let-credentials>
        <ui-list-group>
          <ui-row-with-menu uiListGroupItem *ngFor="let nt of filteredCredentials | async" [isActionable]="true">
            <a class="grow" [innerHTML]="nt.name | highlightTerm:credentialSearch" (click)="credentialClicked(nt.id)"></a>
            <ui-dropdown-menu positionPolicy="right">
              <ng-template #items let-dropdown>
                <ui-dropdown-item icon="shared-ui-trash" (click)="deleteCredential(nt.id)">Delete Credential</ui-dropdown-item>
              </ng-template>
            </ui-dropdown-menu>
          </ui-row-with-menu>
        </ui-list-group>
      </ng-template>
    </ui-observable-loader>
    <a
      class="btn btn--success"
      routerLink="/system/add-credential"
      data-cy="integrations-create-credential-button">
      <ui-icon icon="cui-plus" [fixedWidth]="true"></ui-icon>
      Add Credential
    </a>
  </div>
</div>
