<section class="bmi-grid" *ngIf="!loading">
  <div class="colspan-4" *ngFor="let app of apps">
    <bmi-core-card>
      <section class="card-content">
        <h4 class="title">{{ app.name }}</h4>
        <div class="description">{{ app.description }}</div>

        <a *ngIf="!app.linkHref" class="btn btn--primary-ghost" color="primary-ghost" [routerLink]="'/' + app.id">
          Open
        </a>
        <a *ngIf="app.linkHref" class="btn btn--primary-ghost" color="primary-ghost" [href]="app.linkHref">
          Open
        </a>
      </section>
    </bmi-core-card>
  </div>
</section>

