.bmi-grid {
  margin-top: var(--gra-spacing);
}

bmi-core-card {
  display: block;
  height: 100%;
  .card-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  h4 {
    font-size: 2.25rem;
    margin: 0;
  }
  .description {
    margin: 2rem 0;
  }
  a {
    flex-grow: 0;
  }
}
