<gravity-condition-list [conditions]="conditions" [board]="board"></gravity-condition-list>

<ui-dropdown-menu>
  <button class="btn btn--link" type="button">
    <ui-icon icon="cui-plus"></ui-icon> Add condition
  </button>
  <ng-template #items>
    <ui-dropdown-item *ngFor="let option of conditionTypes" (click)="addCondition(option.value)">{{option.text}}</ui-dropdown-item>
  </ng-template>
</ui-dropdown-menu>

