.widget-wrapper {

  &__scroll-pane {
    overflow-y: auto;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin: 0;
  }

  &__hr {
    margin: 12px 0;
  }

  &__icons {
    flex-basis: auto;
    color: var(--gra-color--gray-500);
    font-size: 22px;
    line-height: 1;
  }

  &--huge &__title {
    font-weight: 200;
    font-size: 32px;
    line-height: 1.4142;
    text-transform: none;
  }

  // Implementing alignment modes for widgets is a bit tricky; it doesn't
  // really make sense for block elements that flex to fill their containers.
  // Using text-align only works in some cases here, but it can cascade into
  // widgets and cause weird results.
  // Instead, using display: flex here and an unset size will allow the content
  // to determine the size, and the widget can then be pushed to the center or
  // right of the box.
  &--align-right, &--align-center {
    display: flex;

    ::ng-deep & > bmi-widget-host {
      width: unset;
    }
  }

  &--align-right { justify-content: flex-end; }
  &--align-center { justify-content: center; }
}


a.widget-wrapper__link-cover:not(.btn) {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  &:hover {
    // box-shadow: inset 0 0 50px -40px var(--gra-theme-primary);
    border: 1px solid var(--gra-theme-primary);
  }
}

.widget-wrapper__link-cover--edit-mode {
  pointer-events: none;
}
