<ui-modal>
    <ui-loader *ngIf="loading"></ui-loader>

    <div *ngIf="!loading">
      <h2>Upload Status List</h2>
      <idp-data-table
        [data]="uploadStatusTable"
        [noDataMessage]="'No Upload data!'"
        (tableAction)="handleTableAction($event)"
        ></idp-data-table>
    </div>
</ui-modal>
