<ui-stacker-list
  [items]="form"
  [showDrag]="false"
  [customStyles]="true">
  <ng-template let-item>
    <ng-container [formGroup]="item">
      <ui-form-field label="Data binding">
        <bmi-binding-picker [formControl]="item" [resolver]="resolver"></bmi-binding-picker>
      </ui-form-field>
    </ng-container>
  </ng-template>
</ui-stacker-list>

<button type="button" (click)="addParameter()" class="btn btn--ghost btn--small">
  {{addButtonText}}
</button>
