:host ::ng-deep {
  ui-stacker-list {
    ui-stacker-box {
      border-top: 1px solid var(--gra-color--gray-400);
      &:last-child {
        border-bottom: 1px solid var(--gra-color--gray-400);
      }
    }
    .stacker-box-content {
      padding-left: 0;
      display: grid;
      grid-template-columns: 14rem 1fr;
      grid-gap: .8rem;
      & > * {
        min-width: 0;
      }
    }
  }
}
