<idp-loading-container *ngIf="show" [isLoading]="!ready" [hasError]="hasError" [errorMessage]="errorMessage">
  <ng-template>
    <h2>{{ title }}</h2>
    <idp-data-table *ngIf="tableData" [data]="tableData" [noDataMessage]="noDataMessage"></idp-data-table>

    <div class="transform-previewer-section" *ngIf="rawData">
      <h3></h3>
      <div class="transform-previewer-section__heading">
        <span>Raw Data Viewer Type: </span>
        <span class="transform-previewer-section__type">{{type}}</span>
      </div>
      <div class="transform-previewer__layout" >
        <div class="transform-previewer-section__form">
          <pre>{{rawData|json}}</pre>
        </div>
      </div>
    </div>
  </ng-template>
</idp-loading-container>
