<div class="admin-sidebar">
  <ul class="admin-sidebar__tabs">
    <li
        *ngFor="let panel of panels | async"
        [class.admin-sidebar__tab--active]="panel === (activePanel | async)"
        (click)="activatePanel(panel)">
      {{panel.title}}
    </li>
  </ul>
  <div class="admin-sidebar__content">
    <ng-container *ngIf="activePanel | async as panel">
      <ng-container *cdkPortalOutlet="panel.content"></ng-container>
    </ng-container>
  </div>
</div>
