:host {
  display: flex;
}

.admin-sidebar {
  display: flex;
  flex: 1;

  &__tabs {
    min-width: 0;
    padding: 0;
    background-color: var(--gra-color--gray-200);

    & > li {
      list-style-type: none;
      margin: 0;
      padding: 8px 3px;
      cursor: pointer;
      color: var(--gra-color--gray-800);
      background-color: var(--gra-color--gray-300);
      border: 1px solid var(--gra-color--gray-500);
      writing-mode: vertical-lr;
      border-right: 3px solid transparent;

      & + li {
        border-top: none;
      }

      &:hover {
        background-color: var(--gra-color--gray-200);
      }

      &.admin-sidebar__tab--active {
        color: var(--gra-color--gray-900);
        background-color: var(--gra-color--gray-400);
        border-right-color: var(--gra-theme-primary);
      }

    }
  }

  &__content {
    flex: 1;
    background: var(--gra-color--gray-100);
    padding: 20px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
