<ui-observable-loader [source]="moduleObservable | async">
  <ng-template let-module>
    <ng-container [formGroup]="form">
      <h1>{{isNew ? 'Create Module' : 'Edit ' + module.name }}</h1>

      <div class="row">
        <div class="col">
          <section formGroupName="app">
              <h3>Properties</h3>
              <div class="row">
                <div class="col">
                  <ui-form-field label="Name">
                    <input formControlName="name">
                  </ui-form-field>
                </div>
                <div class="col">
                  <ui-form-field label="ID">
                    <input formControlName="id">
                  </ui-form-field>
                </div>
              </div>


              <ui-form-field label="Description">
                <textarea formControlName="description"></textarea>
              </ui-form-field>
          </section>

          <section formGroupName="extraSettings">
            <h3>Organizational Settings</h3>

            <div class="row">
              <div class="col">
                <ui-form-field label="Group Name">
                  <input formControlName="group">
                </ui-form-field>
              </div>
              <div class="col">
                <ui-form-field label="Sort Weight">
                  <input type="number" formControlName="sortWeight">
                </ui-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <ui-form-field label="Favorite Boards">
                  <ui-multi-select [options]="boardOptions | async" formControlName="favoriteBoards"></ui-multi-select>
                </ui-form-field>
              </div>
            </div>
          </section>
        </div>
        <div class="col">
          <section formGroupName="app">
            <h3>Module Permissions</h3>
            <gravity-permissions-editor formControlName="permissions"></gravity-permissions-editor>
          </section>
        </div>
      </div>

      <section>
        <div class="btn btn--primary" (click)="saveModule()">Save</div>
        <div class="btn btn--ghost" [routerLink]="['/']">Cancel</div>
      </section>
    </ng-container>
  </ng-template>
</ui-observable-loader>
