<ui-observable-loader [source]="pluginMetadata">
  <ng-template let-plugin>
    <ng-container *ngIf="plugin; else noPluginAvailable" [formGroup]="form">
      <div *ngIf="!isEditingName; else nameEditForm" class="action-editor__header" (click)="isEditingName = true">
        <h3>
          {{ form.value.name || plugin.name }}
          <button type="button" class="btn btn--link btn--small action-editor__header-edit-button" >
            <ui-icon icon="cui-edit"></ui-icon> Edit
          </button>
        </h3>
        <p *ngIf="form.value.description">{{form.value.description}}</p>
      </div>
      <ng-template #nameEditForm>
        <div class="action-editor__header-form">
          <ui-form-field label="Name">
            <input type="text" formControlName="name" placeholder="What does this action do?">
          </ui-form-field>

          <ui-form-field label="Description">
            <textarea formControlName="description" placeholder="You can use this space to provide some extra explanation for this action. It will appear below the title."></textarea>
          </ui-form-field>

          <button type="button" class="btn btn--small btn--success" (click)="isEditingName = false">
            <ui-icon icon="cui-check"></ui-icon> Done
          </button>
        </div>
      </ng-template>

      <bmi-plugin-form
        [boardId]="boardId"
        [pluginMetadata]="plugin"
        formControlName="actionConfig"
      ></bmi-plugin-form>

    </ng-container>
    <ng-template #noPluginAvailable>
      No plugin available for {{ type }} actions.
      <code><pre>{{ originalAction | json: 2 }}</pre></code>
    </ng-template>
  </ng-template>
</ui-observable-loader>
