.action-editor {

  &__header {
    transition: color 0.1s;

    &:hover {
      cursor: pointer;
      color: var(--gra-link-color);
    }
  }


  &__header-edit-button {
    padding: 0 5px !important;
    opacity: 0;
    transition: opacity 0.05s !important;
  }

  &__header:hover &__header-edit-button {
    opacity: 0.7;
  }

  &__header-form {
    margin-bottom: var(--gra-spacing);

    ui-form-field {
      margin: var(--gra-spacing-half) 0;
    }
  }
}
