<ui-base-dropdown>
  <ng-template #dropdownControl let-dropdown>
    <ui-select-toggler [isOpen]="dropdown.isOpen" (toggleOpen)="dropdown.toggle()">
      <div class="dropdown-label" *ngIf="selectedColor; else noColorSelected">
        <div class="color-swatch" [style.background-color]="selectedColor.cssColor"></div>
        <span>{{selectedColor.displayName}}</span>
      </div>
      <ng-template #noColorSelected>
      {{nullColorMessage || 'No color selected'}}
      </ng-template>
    </ui-select-toggler>
  </ng-template>

  <ng-template #dropdownContent let-dropdown>
    <div class="dropdown">
      <div class="scroller">

        <div *ngIf="nullColorMessage" class="no-color-entry" (click)="selectColor(null)">
          <div class="color-swatch">
            <span class="ui-icon ui-icon-times"></span>
          </div>
          {{nullColorMessage}}
        </div>

        <div class="color-palette" *ngFor="let palette of colorPalettes">
          <h4>{{palette.name}}</h4>
          <ul class="color-grid">
            <li
                *ngFor="let color of palette.colors"
                (click)="selectColor(color)"
                [title]="color.displayName"
                [class.color-white-text]="color.whiteText"
                [style.background-color]="color.cssColor">
              <span *ngIf="color === selectedColor" class="ui-icon fa-fw ui-icon-check"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</ui-base-dropdown>
