@import '@bmi/ui/styles/gra-colors';
@import '@bmi/ui/styles/select-mixins';

$swatchSize: 2.25rem;

$dropdownWidth: 30rem;
$dropdownHeight: 40rem;


.scroller {
  overflow-y: scroll;
  height: $dropdownHeight;
  max-height: $dropdownHeight;
  max-width: $dropdownWidth;
  width: $dropdownWidth;
  margin: 0.5rem;
  padding: 0.5rem;
}

.dropdown {
  @include ui-select-dropdown-background();
}


.color-white-text {
  color: $White;
}

.color-palette h4 {
  margin: 10px 0px 5px 0px;
}

@mixin color-swatch($size) {
  display: inline-flex;
  height: $size;
  width: $size;
  border: 1px solid rgba(black, 0.3);
  vertical-align: middle;

  align-items: center;
  place-content: space-evenly;
}


.dropdown-label {
  vertical-align: middle;
  .color-swatch {
    @include color-swatch($size: 1rem);
    vertical-align: middle;
  }
}

.no-color-entry {
  margin-bottom: 10px;
  .color-swatch {
    @include color-swatch($size: $swatchSize);
  }
}

ul.color-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    @include color-swatch($size: $swatchSize);
    cursor: pointer;
    margin: 0 1px 1px 0;
  }
}
