@import '@bmi/ui/styles/gra-colors';

.title-large-number {
  text-align: center;
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
  background-color: $DkBlue;
  margin-right: .5rem;
  line-height: 3.6rem;
  width: 3.6rem;
  border-radius: 2rem;
  color: $White;
}
