:host ::ng-deep {


  // light font for table content
  .body-cell,
  .body-cell a:not(.btn) {
    font-weight: 300;
  }

  // Very different h* for the 2 versions
  h1 {
    font-size: calc(var(--gra-font-size) * 3);
  }
  h2 {
    font-size: calc(var(--gra-font-size) * 2);
  }
  h3 {
    font-weight: 300;
    margin: 0 0 var(--gra-headings-margin) 0;
    font-size: 20px;
  }
  h4 {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
  }

  // not set in admin context
  .viewport {
    background-color: var(--gra-color--gray-100);
  }

  .grid-layout__grid bmi-core-card {
    li,
    p,
    .head-cell,
    .body-cell {
      font-size: var(--gra-font-size);
      font-weight: var(--gra-font-weight);
    }
  }
  .is-edit-mode .grid-layout__grid {
    .widget-wrapper__title {
      margin: 0;
    }
    .widget-wrapper__hr {
      margin: 0 0 5px;
    }
  }

  .ui-button {
    border: 1px solid var(--gra-color--gray-600);
    color: var(--gra-color--gray-600);
    line-height: 25px;
    border-radius: 13px;
    text-align: center;
    padding: 0 var(--gra-spacing-triqtr);
    background-color: var(--gra-color--white);
    cursor: pointer;
    text-shadow: none;
    font-weight: 400;
    &:hover {
      color: var(--gra-color--white);
      background-color: var(--gra-color--gray-600);
    }
  }
  .ui-button ~ .ui-button {
    margin-left: var(--gra-spacing-half);
  }

  // The default 200px remains even after loading. Which adds padding at the bottom of widgets.
  ui-loading-container {
    min-height: 25px;
  }

}
