ui-stacker-list {
  .grid-condition {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr
  }
}

input {
  border: 1px solid var(--gra-color--gray-400);
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 1rem;
  padding: .6rem;
  line-height: 1.5;
  height: 2.9rem;
}

:host ::ng-deep .ui-form-group {
  .form-feedback {
    font-size: 1rem;
  }
}

.help-form-section {
  padding-bottom: var(--gra-spacing);
  margin: 0 0 var(--gra-spacing);
  border-bottom: 1px solid var(--gra-color--gray-400);
  display: grid;
  grid-gap: 40px;
  grid-template-columns: minmax(720px, 960px) minmax(360px, 1fr);
  ui-form-field + ui-form-field {
    margin-top: var(--gra-spacing-half);
  }
  :host ::ng-deep & bmi-help-box .blockquote--primary {
    max-width: 480px;
  }
}
