<form [formGroup]="filterForm" *ngIf="filterForm">
  <h2>
    Filter Editor<ng-container *ngIf="filterForm.value.name">:
      {{ filterForm.value.name }}
    </ng-container>
  </h2>
  <section class="help-form-section">
    <div class="help-form-section__form">
      <ui-form-field label="Filter Name" [required]="true">
          <input type="text" formControlName="name">
      </ui-form-field>

      <ui-form-field label="Conditions">
        <ui-stacker-list formArrayName="conditions" [items]="conditions">
          <ng-template let-condition>
            <div [formGroup]="condition" class="grid-condition">
              <ui-form-field label="Field Name" [required]="true">
                <gravity-path-picker
                  formControlName="fieldName"
                  [board]="boardId"
                  [filter]="ppFilter()"
                  >
                </gravity-path-picker>
              </ui-form-field>

              <ui-form-field label="Operation" [required]="true">
                <ui-single-select
                  formControlName="operation"
                  [floating]="true"
                  [options]="filterOperations"
                ></ui-single-select>
              </ui-form-field>

              <ui-form-field label="Value" [required]="true">
                <input type="text" formControlName="value">
              </ui-form-field>
            </div>
          </ng-template>
        </ui-stacker-list>
      </ui-form-field>
      <div>
        <button type="button" class="btn btn--secondary" (click)="addCondition()">Add Condition </button>
        <button type="button" class="btn btn--ghost" (click)="reset()">Clear </button>
        <button type="button" class="btn btn--ghost" (click)="reload()">Reload </button>
        <button type="button"
          class="btn btn--primary"
          (click)="save()"
          [disabled]="filterForm && filterForm.invalid"
          disabled="filterForm && filterForm.invalid"
        >
          <span *ngIf="filter">Update </span>
          <span *ngIf="!filter">Create </span>
        </button>
        <button type="button"
          class="btn btn--ghost"
          (click)="delete()"
          [disabled]="true"
          disabled="true"
          >
          Delete
        </button>
      </div>
    </div>
    <bmi-help-box>
      <p>The filter editor is used to view, create, update and delete board level filters.</p>
      <p>These filters are then applied on various board level APIs to filter down the responses based on the conditions that are configured.</p>
      <p>Rules and Visualizations like widgets, tables, roadmaps etc. often use these filters to show a more precise response.</p>

      <h4>Conditions</h4>
      <p>Every condition that is added gets <em>AND</em>ded with the previous conditions <h4>Field Name</h4>
      <p>Is a valid field that exists on the template of the filter board or its reference field's board<br>
      TODO: The path picker should filter to only whitefields and references of the first level and whitefields of the second level</p>

      <h4>Operation</h4>
      <p>Denotes the operation to be applied between the 1. field selected and its 3. value</p>

      <h4>Value</h4>
      <p>Based on the Operations selected the values should be entered in the following format</p>
      <ol>
        <li>Equal To / Not Equal To        : Pipe Delimited String</li>
        <li>Contains / Not Contains        : Pipe Delimited String</li>
        <li>Greater and Less than equal to : Number</li>
        <li>Is Null / Not Null             : Value field will be disabled</li>
        <li>Before / After                 : Date (MM/DD/YYYY)</li>
      </ol>
      <p>To Be Supported: Preview Filter on Data Table, Dropdown to select value</p>
    </bmi-help-box>
  </section>
</form>


