$grid-columns: 12;
$grid-gap: 1em;

.grid-layout__grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  // just in case it's a weird browser version
  grid-gap: var(--gra-spacing);
  gap: var(--gra-spacing);

  & > * {
    min-width: 0;
  }

  @for $i from 1 through $grid-columns {
    .grid-layout__cell--colspan-#{$i} {
      grid-column: span $i;
    }

    .grid-layout__cell--rowspan-#{$i} {
      grid-row: span $i;
    }
  }
}

.grid-layout__section {
  & + & {
    margin-top: var(--gra-spacing);
  }
}

.grid-layout__section--nested {
  & + .grid-layout__section--nested {
    margin-top: var(--gra-spacing-dbl);
  }
  .grid-layout__grid {
    margin-bottom: 0;
  }
}

:host.is-edit-mode  {
  .grid-layout__cell {
    border: 1px solid transparent;

    &.is-selected {
      border-color: blue;
      border-style: dashed;
    }
  }

  .grid-layout__section {
    border: 1px dashed var(--gra-color--gray-500);
    margin: 5px;
    padding: 5px;
    padding-top: 3px;
    border-radius: 3px;

    &.is-selected {
      border-color: blue;
      border-style: dashed;
    }
  }

  .grid-layout__section--nested + .grid-layout__section--nested {
    margin-top: var(--gra-spacing);
  }

  .grid-layout__section-header {
    color: var(--gra-color--gray-500);
    display: flex;
    align-items: baseline;

    cursor: pointer;

    transition: color 0.1s;

    & > * {
      flex: 1;
    }

    h4 {
      font-size: 12px;
      text-transform: uppercase;
      margin: 0;
      flex: 1;

      &:hover {
        color: var(--gra-color--link);
      }
    }

    .grid-layout__section-header-buttons {
      // Account for the border on the widget selection and just make sure the
      // buttons line up with the widget delete.
      margin-right: 1px;
      text-align: right;
    }

  }

  .grid-layout__section-header {
    position: relative;
  }

  .grid-layout__grid {
    gap: var(--gra-spacing-half);
    &--nested {
      gap: var(--gra-spacing);
    }
  }

  .grid-layout__add-section-button-container {
    text-align: center;
  }
}

.grid-layout__cell {
  position: relative;
  display: flex;

  & > .grid-layout__delete-button,
  & > .grid-layout__toggle-card {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  & > .grid-layout__toggle-card {
    right: 26px;
  }

  &.is-selected > .grid-layout__delete-button,
  &.is-selected > .grid-layout__toggle-card {
    display: block;
  }
}

.grid-layout__button {
    border-radius: 2px;
    background: none;
    padding: 5px 3px;
    z-index: 10;
    line-height: 10px;

    color: var(--gra-color--gray-500);
    border-radius: 4px;
    border: 1px solid transparent;

    transition: 0.1s;

    &:hover {
      background-color: rgba(#0175a2, 0.3);
      color: var(--gra-color--link);
      border: 1px solid var(--gra-color--link);
    }
}


.grid-layout__add-cell--menu-open {
  background-color: var(--gra-color--gray-400) !important;
}

bmi-add-widget-dropdown {
  display: inline-block;
}
