<section
    *ngFor="let section of sections; trackBy: trackGridSection; index as sectionIndex"
    class="grid-layout__section {{ isSelected(sectionIndex) ? 'is-selected' : ''}}"
    [class.grid-layout__section--nested]="isInsideCard">
  <div *ngIf="isInEditMode" class="grid-layout__section-header">
    <h4 (click)="$event.stopPropagation(); selectSection(sectionIndex)">
      Grid Section
    </h4>
    <div class="grid-layout__add-section-button-container">
      <button class="grid-layout__button grid-layout__insert-section-button" (click)="$event.stopPropagation(); insertSectionBefore(sectionIndex)">
        <span class="fa fa-fw fa-angle-up"></span> Insert Section
      </button>
    </div>
    <div class="grid-layout__section-header-buttons">
      <button class="grid-layout__button" title="Section Settings" (click)="$event.stopPropagation(); selectSection(sectionIndex)">
        <span class="fa fa-cog fa-fw"></span>
      </button>
      <button class="grid-layout__button" title="Delete Section" (click)="$event.stopPropagation(); deleteSection(sectionIndex)">
        <span class="fa fa-trash fa-fw"></span>
      </button>
    </div>
  </div>
  <div class="grid-layout__grid">
    <ng-container *ngFor="let widget of section.cells; trackBy: trackGridCell; index as index">
      <div
          class="grid-layout__cell grid-layout__cell--colspan-{{widget.span}} grid-layout__cell--rowspan-{{widget.rowSpan || 1}} {{ isSelected(sectionIndex, index) ? 'is-selected' : ''}}"
          (click)="gridCellClicked($event, sectionIndex, index)">
        <button
          *ngIf="isInEditMode && !disableCardEditControls"
          type="button"
          class="grid-layout__button grid-layout__toggle-card"
          title="Toggle card background"
          (click)="$event.stopPropagation(); toggleCard(sectionIndex, index)">
          <span class="fa fa-square{{ widget.noCard ? '-o' : '' }} fa-fw"></span>
        </button>
        <button
          *ngIf="isInEditMode" type="button"
          class="grid-layout__button grid-layout__delete-button"
          title="Delete Widget"
          (click)="$event.stopPropagation(); deleteGridCell(sectionIndex, index)">
          <span class="fa fa-trash fa-fw"></span>
        </button>
        <bmi-core-card [editing]="isInEditMode" [showCard]="!neverShowCards && !widget.noCard">
          <bmi-core-widget-wrapper bmiWidgetWrapperContext>
            <bmi-widget-host [config]="widget.widgetConfig"
              (updateWidgetConfig)="updateChildWidgetConfig(sectionIndex, index, $event)">
            </bmi-widget-host>
          </bmi-core-widget-wrapper>
        </bmi-core-card>
      </div>
    </ng-container>
  </div>

  <bmi-add-widget-dropdown *ngIf="isInEditMode" (widgetCreated)="addWidget(sectionIndex, $event)" #addWidgetMenu>
    <button class="btn btn--link {{ addWidgetMenu.isOpen ? 'grid-layout__add-cell--menu-open' : '' }}" type="button">
      <ui-icon icon="cui-plus"></ui-icon>
      Add Grid Cell
    </button>
  </bmi-add-widget-dropdown>

</section>

<div *ngIf="isInEditMode" class="grid-layout__add-section-button-container">
  <button class="grid-layout__button grid-layout__add-section-button" (click)="$event.stopPropagation(); addSection()">
    <span class="fa fa-fw fa-plus"></span> Add Section
  </button>
</div>
