/**
 * Targetting cui-broken elements.
 * Ideally, this would be done in the bmi-charts lib
 * but that lib does not include cui styles itself
 * so, lots of ::ng-deep
 */

  body.gra :host ::ng-deep {
   h1, h4 {
     margin: .67em 0;
   }
   input {
    border: 1px solid var(--gra-color--gray-400);
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 1rem;
    padding: .6rem;
    line-height: 1.5;
    height: 2.9rem;
   }
   button.ui-button {
     font-weight: 300;
   }
   ui-form-field {
    display: block;
    margin: 1rem 0;
  }
  .stacker-box-content ui-form-field {
    margin: .5rem 0;
  }
}
