<h1> Widget Editor </h1>

<ui-loading-container [isLoading]="isLoading">
  <ng-template>

    <div class="grid-layout" [formGroup]="form">
      <section class="widget-fields">
        <ui-form-field label="Title">
          <input type="text" formControlName="title">
        </ui-form-field>

        <ui-form-field label="Description">
          <input type="text" formControlName="description">
        </ui-form-field>
      </section>

      <section class="chart-config">
        <bmi-chart-editor formControlName="chartConfig"></bmi-chart-editor>
      </section>

      <section class="form-buttons">
        <hr>
        <button class="ui-button ui-btn--primary" [disabled]="!form.valid" (click)="saveWidget()">Save</button>
        <button class="ui-button ui-btn--primary" (click)="cancelWidget()">Cancel</button>
      </section>

    </div>
  </ng-template>
</ui-loading-container>

