@import '@bmi/ui/styles/forms';

.zone-bar {
  display: flex;
  border: 1px solid $LtGray2;
  border-radius: .2rem;
}

.zone {
  height: 3rem;
  flex: 1;
  text-align: right;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .5);
  }
  border-right: 1px solid rgba(0, 0 ,0, .33);
  border-left: 1px solid rgba(255, 255, 255, .33);
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }
}

.value-badge {
  color: white;
  line-height: 2rem;
  background: rgba($Black, .5);
  border-radius: 1rem;
  box-sizing: border-box;
  text-align: center;
  margin: .5rem;
  display: inline-block;
  min-width: 2rem;
  font-weight: bold;
  padding: 0 .5rem;
  font-size: 1.1rem;
}

.dropdown-section {
  text-align: left;
  border: 1px solid var(--gra-color--gray-500);
  padding: 1rem;
  background-color: var(--gra-color--gray-300);
  min-width: 20rem;
}

ui-form-field {
  margin-bottom: 0.8rem;
}
