<section class="zone-bar" *ngIf="zones && zones.length">

  <ui-base-dropdown
    class="zone"
    *ngFor="let zone of zones, let i=index"
    [style.backgroundColor]="zone.color"
    [style.flexGrow]="getFlex(zone.value, i)">

    <ng-template #dropdownControl let-dropdown>
      <div>
        <span class="value-badge">
          <ng-container *ngIf="!isDefaultZone(i)">{{ zone.value }}</ng-container>
          <ng-container *ngIf="isDefaultZone(i)">default</ng-container>
        </span>
      </div>
    </ng-template>

    <ng-template #dropdownContent let-dropdown>
      <section class="dropdown-section">

        <ui-form-field label="Color">
          <ui-color-dropdown
            [(ngModel)]="zone.color"
            (colorPicked)="doChange()">
          </ui-color-dropdown>
        </ui-form-field>

        <ui-form-field label="Value (upper limit)" *ngIf="!isDefaultZone(i)">
          <input
            type="number"
            [(ngModel)]="zone.value"
            (change)="checkChanges(false)">
        </ui-form-field>

        <div class="btn-group btn-group--divider">

          <button
            type="button"
            class="btn btn--small btn--ghost"
            (click)="deleteZone(i); dropdown.close()"
            *ngIf="!isDefaultZone(i)"
            title="Remove zone">
            Remove
          </button>

          <button
            type="button"
            class="btn btn--small btn--ghost"
            (click)="splitZone(i); dropdown.close()"
            *ngIf="canSplitZone(i)"
            title="Existing zone will split evenly into 2 zones.">
            Split&nbsp;zone
          </button>

          <button
            type="button"
            class="btn btn--small btn--ghost"
            (click)="dropdown.close()" 
            title="Close this  zone panel">
            Close
          </button>

        </div>

      </section>
    </ng-template>

  </ui-base-dropdown>

</section>