@import '@bmi/ui/styles/select-mixins';
@import '@bmi/ui/styles/gra-colors';


.dropdown-menu {
  &__dropdown {
    @include ui-select-dropdown-background();
    min-width: 120px;
    max-width: 300px;
    width: 250px;
    min-height: 20px;
    max-height: 300px;

    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;

    color: $Black;
    color: var(--gra-font-color);
    font-size: var(--gra-font-size-sm);
  }

  &__item-list {
    padding: 0;

    & ::ng-deep > hr {
      margin: 5px 0;
    }
  }
}
