@import '@bmi/ui/styles/gra-colors';

:host {
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 5px 10px;

  transition: background-color 0.05s ease-out;

  &:hover {
    background-color: $LtGray3;
    background-color: var(--gra-color--gray-200);
  }

  &.active, &.active:hover {
    background-color: $BrandBlue;
    background-color: var(--gra-theme-primary);
    color: $White;
  }

}
