<ui-base-dropdown [(isOpen)]="isOpen" [autoPositionAssumedWidth]="200" [positionPolicy]="positionPolicy">
  <ng-template #dropdownControl>
    <ng-content></ng-content>
  </ng-template>
  <ng-template #dropdownContent>
    <div class="dropdown-menu__dropdown">
      <div class="dropdown-menu__item-list">
        <ng-container *ngIf="dropdownItemsTemplate">
          <ng-container *ngTemplateOutlet="dropdownItemsTemplate; context: templateContext" ></ng-container>
        </ng-container>

        <ui-dropdown-item *ngFor="let item of options"
            [icon]="item.icon"
            [leaveIconSpace]="hasAnyIcons"
            [isActive]="item.isActive"
            (click)="itemSelected(item)">
          {{ item.text }}
        </ui-dropdown-item>
      </div>
    </div>
  </ng-template>
</ui-base-dropdown>
