<ui-loading-container [isLoading]="isLoading" [errorMessage]="errorMessage" [hasError]="!!errorMessage">
  <ng-template>
    <bmi-chart-viewer *ngIf="chartConfig && chartData" [config]="chartConfig" [data]="chartData"></bmi-chart-viewer>
  </ng-template>
</ui-loading-container>
