<div
  class="ui-checkbox"
  (click)="toggleChecked()">
  <span
    class="ui-icon ui-icon-square ui-icon-2x"
    *ngIf="!checked"
    [class.disabled]="disabled">
  </span>
  <span
    class="ui-icon ui-icon-check-square ui-icon-2x {{ checkedColorClassName || '' }}"
    *ngIf="checked"
    [class.disabled]="disabled">
  </span>
  <ng-container *ngIf="label">
    &nbsp;
    <label>{{label}}</label>
  </ng-container>
</div>
