@import '@bmi/ui/styles/gra-colors';
@import '@bmi/ui/styles/forms';


:host {
  display: block;
  user-select: none;
}

.ui-icon-square {
  color: $LtGray2;
}

.ui-icon-check-square {
  color: $BrandBlue;
}

.disabled {
  cursor: not-allowed;
  &.ui-icon-square {
    color: $PaleGray1;
  }
  &.ui-icon-check-square {
    color: $LtGray2;
  }
}

label {
  font-weight: 300;
  vertical-align: middle;
  line-height: 2.9;
  cursor: pointer;
}
