<h1 *ngIf="!!viewId">Edit View: {{ viewId }}</h1>
<h1 *ngIf="!viewId">Create View</h1>
<gravity-view-editor
  [originalView]="loadedView"
  (viewModified)="updateModifiedView($event)"
  (helpContent)="showHelp($event)">
</gravity-view-editor>
<button class="btn btn--primary" (click)="saveView()" [disabled]="!valid">
  <span class="icon-save"></span>
  Save view
</button>