<idp-loading-container
  [isLoading]="!viewId">
  <ng-template>
    <button
      class="btn btn--ghost"
      [routerLink]="['preview']">
      Preview data
    </button>
    <button
      class="btn btn--ghost"
      [routerLink]="['edit']">
      Edit
    </button>
  </ng-template>
</idp-loading-container>
<gravity-config-viewer
  [pageTitle]="'View properties: ' + viewConfig?.name"
  [config]="viewConfig">
</gravity-config-viewer>
