
.data-sources-modal {
  &__layout {
    display: flex;
    flex-direction: column;

    min-height: 600px;

    bmi-page-data-source-editor {
      flex: 1 1 auto;
    }
  }

  &__button-bar {
    border-top: 1px solid var(--gra-color--gray-400);
    padding-top: 25px;
    margin-top: 20px;
    text-align: right;
  }
}

