<h2>Card Alerts</h2>
<button type="button" class="btn btn--ghost" (click)="refreshBoard()">
  <ui-icon icon="cui-refresh" [fixedWidth]="true"></ui-icon> Refresh
</button>
<idp-loading-container [isLoading]="isLoading">
  <ng-template>
    <ui-collapsible-section
      type="fancy"
      *ngFor="let alertSummary of alertSummaries"
      label="{{ alertSummary.board }} ({{ alertSummary.alerts.length }} alerts)"
      [isOpen]="sectionState[alertSummary.board]"
      (isOpenChange)="updateOpenSection(alertSummary.board, $event)"
    >
      <card-alert
        [board]="alertSummary.board"
        [alerts]="alertSummary.alerts"
        (alertsModified)="refreshBoard()"
      ></card-alert>
    </ui-collapsible-section>
  </ng-template>
</idp-loading-container>
