@import '@bmi/ui/styles/gra-colors';

.ui-list-group:host {
  display: block;
  border: 1px solid;
  border-radius: 3px;
  border-color: var(--ui-list-group-border-color);

  --ui-list-group-border-color: var(--gra-color--gray-300);
  --ui-list-group__item-padding: .75rem 1.25rem;
  --ui-list-group__item-border-width: 1px;

  &.ui-list-group--tight {
    --ui-list-group__item-padding: .25rem 0.25rem .25rem 1.25rem;
  }

  &.ui-list-group--flush, &.ui-list-group--borderless {
    border-radius: unset;
    border: none;
  }

  &.ui-list-group--2-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &.ui-list-group--borderless {
    --ui-list-group__item-border-width: 0;
  }

  ::-ng-deep > a.ui-list-group__item {
    // CUI has stupid styling and makes all <a> elements inline-flex for
    // some asinine reason.
    display: block !important;
  }

  ::ng-deep > .ui-list-group__item {
    outline: 0;
    margin: 0;
    padding: var(--ui-list-group__item-padding);

    transition: background-color 0.05s ease-out;

    border-bottom-width: var(--ui-list-group__item-border-width) !important;
    border-color: var(--ui-list-group-border-color) !important;
    border-bottom-style: solid;
    &:last-of-type {
      border-bottom: none !important;
    }


    &.ui-list-group__item--actionable {
      cursor: pointer;
      &:hover {
        background-color: var(--gra-color--gray-100);
      }
    }

    &.ui-list-group__item--active {
      &, &:hover {
        background-color: var(--gra-theme-primary);
        color: $White;
      }
    }
  }
}
