@import './gra-colors';


$ui-button-transition-duration: 0.05s;
$ui-button-transition-delay: 0.02s;


@mixin ui-button($backgroundColor, $foregroundColor, $hoverColor: $backgroundColor, $textShadow: true) {
  cursor: pointer;
  background-color: $backgroundColor;
  color: $foregroundColor;

  padding: .5rem 1rem;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  line-height: 1.5rem;
  border-radius: 1.25rem;
  border: .1rem solid transparent;
  user-select: none;

  // On white backgrounds, we don't want to add a darkened shadow because it
  // will appear blurry rather than enhancing clarity.
  @if $textShadow {
    text-shadow: 0 0 5px darken($backgroundColor, 10%);
  } @else {
    text-shadow: none;
  }

  transition:
    background-color $ui-button-transition-duration $ui-button-transition-delay ease-out,
    color $ui-button-transition-duration $ui-button-transition-delay ease-out;

  &:hover {
    background-color: darken($hoverColor, 5%);
  }

  &:active {
    background-color: darken($hoverColor, 8%);
  }

  &:focus {
    @include ui-button-focus-effect($hoverColor);
  }

  &.disabled, &[disabled] {
    color: $LtGray2;
    background-color: $MedGray2;
    cursor: default;
    text-shadow: none;
    &:hover {
      background-color: $MedGray2;
    }
  }

  & > .fa, & > .ui-icon {
    font-size: 1.25rem;
    line-height: 1.5rem;
    vertical-align: middle;
  }
}


@mixin ui-button-ghost($mainColor, $hoverTextColor) {
  @include ui-button($mainColor, $hoverTextColor);

  background: transparent;
  text-shadow: none;
  color: $mainColor;
  border-color: $mainColor;

  &:hover, &:active {
    background-color: $mainColor;
    color: $hoverTextColor;
  }

  &:active {
    background-color: darken($mainColor, 5%);
  }
}


@mixin ui-button-focus-effect($color) {
  box-shadow: 0 0 1px 1px $White, 0 0 3px 2px rgba($color, 0.5);
  outline: 0;
  text-decoration: none;
}
