@import './button-mixins';
@import './gra-colors';

.button-link, .ui-button {

  @include ui-button($BrandBlue, $White);

  &.ui-btn--primary, &.btn--primary {
    @include ui-button($BrandBlue, $White);
  }

  &.ui-btn--default, &.btn--default {
    @include ui-button($DkGray2, $White);
  }

  &.ui-btn--secondary, &.btn--secondary {
    @include ui-button-ghost($BrandBlue, $White);
  }

  &.ui-btn--success, &.addit, &.btn--success {
    @include ui-button($MedGreen, $White);
  }

  &.ui-btn--negative, &.btn--negative {
    @include ui-button($StatusRed, $White);
  }

  &.ui-btn--white, &.btn--white {
    @include ui-button($White, $DkGray2, $textShadow: false);
  }

  &.ui-btn--gray-ghost, &.btn--gray-ghost {
    @include ui-button-ghost($DkGray2, $PaleGray1);
  }

  &.cancel {
    @include ui-button($White, $MedGray2, $textShadow: false);
    border-color: $LtGray2;
  }

  &.orange {
    @include ui-button($StatusOrange, $White, mix($StatusOrange, $StatusRed, 75%));
  }

  &.delete {
    @include ui-button($StatusRed, $White);
    cursor: default;
  }

}
