@import './gra-colors';
@import './form-mixins';

$FormPadding: 1rem;


*, *::before, *::after {
  box-sizing: border-box;
}

input, select, .form-input {
  @include form-control();
}

textarea {
  // Don't set the height on a textarea, let the rows attribute handle that
  @include form-control($set-height: false);
  // vertical resizing is less likely to mess up your layout
  resize: vertical;
}

label {
  padding-left: 0.2rem;
}

input, textarea, select, .form-input {
  padding-left: $FormPadding;
}


/*
 * Some existing forms wrap a div around the input, rather than applying it
 * directly to the input. In this case, we probably don't want extra padding.
 */
div.form-control {
  padding: 0;
}

/*
 * The Form group wraps the label, input and any validation/help text.
 */
.ui-form-group {
  display: block;
  width: auto;

  label {
    display: block;
    position: relative;
    .alert, .field-required-star {
      position: relative;
      color: $StatusRed;
      font-weight: bold;
      padding: 0;
      font-size: 1.5rem;
      top: 0.2rem;
      line-height: 0.5;
    }
  }

  input, textarea, select {
    display: block;
    width: 100%;
  }
}

.form-control-width {
  &, &.ui-form-group-small {
    width: 15rem;
  }

  &.ui-form-group-medium {
    width: 22rem;
  }

  &.ui-form-group-wide {
    width: 35rem;
  }
  margin-right: 1rem;
}

.ui-form-group-inline {
  @extend .ui-form-group;
  @extend .form-control-width;

  display: inline-block;
  vertical-align: bottom;
}

/* Styles a basic 2 X 2 grid space */
.ui-form-group-grid {
  @extend .ui-form-group;
  @extend .form-control-width;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.5rem;
  padding: 1.2rem 0;
  width: auto;
}
/* Styles a form array and its elements each containing atmost 1 big and 2 small sub-elements */
.form-array-group {
  @extend .ui-form-group;
  @extend .form-control-width;
  display: grid;
  grid-template-columns: 25rem 3rem 3rem;
  grid-gap: 0.5rem;
  padding: 0.25rem 0;
}

 .fa-question,
 .ui-icon-question {
  border-radius: 50%;
  background-color: $BrandBlue;
  height: 1.6rem;
  width: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  font-size: 1.4rem;
  color: $White;
  cursor: help;
  display: inline-block;
}
