@import './gra-colors';


@mixin form-control-border() {
  border: var(--gra-border);
  border-radius: var(--gra-border-radius);
}


@mixin form-control($set-height: true) {
  @include form-control-border();
  box-sizing: border-box;

  font-family: var(--gra-font-stack);

  padding: 0.6rem;
  line-height: 1.5;
  // We make setting the height optional here, as setting height on a textarea
  // will prevent the rows attribute from working.
  @if $set-height {
    // force selects to be equal height
    height: 2.9rem;
  }

  // Should probably use --gra-form-background here but it's transparent,
  // which doesn't suit the way we use these controls.
  background: var(--gra-color--white);

  transition: border-color 0.1s, box-shadow 0.1s;

  width: 100%;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none !important;
  }

  &:hover {
    @include ui-form-control-hover();
  }

  &:focus, &:focus-within {
    @include ui-form-control-focus();
  }
}


@mixin ui-form-control-hover() {
  border-color: var(--gra-accent-color);
}


@mixin ui-form-control-focus() {
  border-color: var(--gra-accent-color);
  box-shadow: 0 0 0 var(--gra-focus-thickness) rgba(var(--gra-focus-color),var(--gra-focus-opacity));
  outline: none;
}


@mixin invalid-form-control() {
  border: 1px solid rgba($StatusRed, 0.8);
  box-shadow: 0 0 2px rgba($StatusRed, 0.8);

  &:active, &:focus {
    border: 1px solid rgba($StatusRed, 1);
    box-shadow: 0 0 3px rgba($StatusRed, 1);
  }
}


