$StatusGreen: #42a942;
$LtGray5: #f2f2f2;
$StatusYellow: #ffcc00;
$StatusTurq: #14a792;

$StatusRed: #cf2030;

$LakeBlue: #004BAF;
$RiverBlue: #097DBC;
$BrandBlue: #049FD9;
$IcyBlue: #C4D6ED;
$DkGray2: #58585B;
$MedGray2: #9E9EA2;
$LtGray2: #C6C7CA;
$PaleGray1: #E8EBF1;
$Black: #000000;
$White: #FFFFFF;

$MediumBlue: #34ADDE;
$StatusBlue: #64BBE3;
$DkGray1: #39393B;
$DkGray3: #626469;
$LtGray3: #E9E9E9;
$DkGreen: #008516;
$FernGreen: #00AD0B;
$MedGreen: #6CC04A;
$SageGreen: #ABC233;

$DkBlue: #2B5592;
$LtGray1: #A7A9AB;
$DeepGreen: #005C21;
$DeepRed: #8B1001;
$StatusOrange: #FF7300;
$Orange: #FFA000;

$CtPurple: #8054C8;
$CtDirtBlue: #4A6D7A;

$naturalBlack: mix($Black, $DkGray2);
$linkActive: $BrandBlue;
$openPainPoint: #ff3500;
$plannedPainPoint: #007bdb;
$painPointCountBadge: #79736a;

$colors: (
  'black': $Black,
  'brand-blue': $BrandBlue,
  'deep-green': $DeepGreen,
  'deep-red': $DeepRed,
  'dk-blue': $DkBlue,
  'dk-gray-1': $DkGray1,
  'dk-gray-2': $DkGray2,
  'dk-gray-3': $DkGray3,
  'icy-blue': $IcyBlue,
  'lt-gray-1': $LtGray1,
  'lt-gray-2': $LtGray2,
  'lt-gray-3': $LtGray3,
  'lt-gray-5': $LtGray5,
  'med-gray-2': $MedGray2,
  'med-green': $MedGreen,
  'orange': $Orange,
  'pale-gray-1': $PaleGray1,
  'sage-green': $SageGreen,
  'status-orange': $StatusOrange,
  'status-blue': $StatusBlue,
  'status-green': $StatusGreen,
  'status-red': $StatusRed,
  'status-turq': $StatusTurq,
  'status-yellow': $StatusYellow,
  'white': $White,
  'lake-blue': $LakeBlue,
  'river-blue': $RiverBlue,
  'dk-green': $DkGreen,
  'fern-green': $FernGreen,
  'medium-blue': $MediumBlue,
  'natural-black': $naturalBlack,
  'blue': $BrandBlue,
  'green': $StatusGreen,
  'yellow': $StatusYellow,
  'Orange': $StatusOrange,
  'Yellow': $StatusYellow,
  'Green': $StatusGreen,
  'Red': $StatusRed
);

// This defines the foreground colours to use when using these colours as
// backgrounds. The bg-color-pair mixin uses this data and will default to
// $White if the value is missing in the map below.
$foregroundColors: (
  'icy-blue': $Black,
  'lt-gray-1': $Black,
  'lt-gray-2': $Black,
  'med-green': $Black,
  'orange': $Black,
  'sage-green': $Black,
  'status-blue': $Black,
  'status-green': $Black,
  'status-yellow': $Black,
  'white': $LtGray2
);


/**
 * Set the background color, and set the foreground appropriately using the
 * foregroundColors map above.
 *
 * If the colour doesn't have an entry in the map, it will default to white.
 */
@mixin bg-color-pair($colorName) {
  $foregroundColor: map-get($foregroundColors, $colorName);
  $foregroundColor: $White !default;

  color: $foregroundColor;
  background-color: map-get($colors, $colorName);
}
