@import '~font-awesome/scss/variables';

/**
 * Decouple fontawesome usage from our templates.
 *
 * --- Usage ---
 * DEPRECATED: <i class="fa fa-home"></i>
 * NOW: <span class="ui-icon ui-icon-home"></i>
 * Any new icons, you'll need to add to the $icons list too.
 *
 * this will allow us to change implementation here, switch icon sets etc,
 * as we need. Without changing all templates each time.
 * Also, using <span> will be valid html and fix those pesky sonarqube issues
 *
 * Reason for not adding all available icons: this would create a css class for
 * each. And also, we get a reference of icons used in idp.
 */

$ui-icon-prefix: ui-icon !default;

.#{$ui-icon-prefix} {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$ui-icon-prefix}-fw {
  width: (18em / 14);
  text-align: center;
}

.#{$ui-icon-prefix}-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}

.#{$ui-icon-prefix}-2x { font-size: 2em; }
.#{$ui-icon-prefix}-3x { font-size: 3em; }
.#{$ui-icon-prefix}-4x { font-size: 4em; }
.#{$ui-icon-prefix}-5x { font-size: 5em; }


$icons: (
  angle-double-left: $fa-var-angle-double-left,
  angle-double-right: $fa-var-angle-double-right,
  angle-left: $fa-var-angle-left,
  angle-right: $fa-var-angle-right,
  arrow-left: $fa-var-arrow-left,
  arrows-v: $fa-var-arrows-v,
  area-chart: $fa-var-area-chart,
  asterisk: $fa-var-asterisk,
  ban: $fa-var-ban,
  bar-chart: $fa-var-bar-chart,
  bars: $fa-var-bars,
  bell-o: $fa-var-bell-o,
  briefcase: $fa-var-briefcase,
  bug: $fa-var-bug,
  calendar: $fa-var-calendar,
  caret-down: $fa-var-caret-down,
  caret-left: $fa-var-caret-left,
  caret-right: $fa-var-caret-right,
  caret-up: $fa-var-caret-up,
  cart-plus: $fa-var-cart-plus,
  check-square: $fa-var-check-square,
  check: $fa-var-check,
  check-circle: $fa-var-check-circle,
  chevron-down: $fa-var-chevron-down,
  chevron-left: $fa-var-chevron-left,
  chevron-right: $fa-var-chevron-right,
  chevron-up: $fa-var-chevron-up,
  circle-o: $fa-var-circle-o,
  circle-thin: $fa-var-circle-thin,
  circle: $fa-var-circle,
  clock-o: $fa-var-clock-o,
  clone: $fa-var-clone,
  close: $fa-var-close,
  cloud: $fa-var-cloud,
  cloud-download: $fa-var-cloud-download,
  cog: $fa-var-cog,
  cogs: $fa-var-cogs,
  compress: $fa-var-compress,
  connectdevelop: $fa-var-connectdevelop,
  copy: $fa-var-copy,
  database: $fa-var-database,
  download: $fa-var-download,
  file-text-o: $fa-var-file-text-o,
  edit: $fa-var-edit,
  ellipsis-h: $fa-var-ellipsis-h,
  ellipsis-v: $fa-var-ellipsis-v,
  envelope: $fa-var-envelope,
  exclamation-circle: $fa-var-exclamation-circle,
  exclamation-triangle: $fa-var-exclamation-triangle,
  exclamation: $fa-var-exclamation,
  expand: $fa-var-expand,
  external-link: $fa-var-external-link,
  eye-slash: $fa-var-eye-slash,
  eye: $fa-var-eye,
  filter: $fa-var-filter,
  floppy-o: $fa-var-floppy-o,
  gavel: $fa-var-gavel,
  graduation-cap: $fa-var-graduation-cap,
  hashtag: $fa-var-hashtag,
  handshake-o: $fa-var-handshake-o,
  history: $fa-var-history,
  home: $fa-var-home,
  i-cursor: $fa-var-i-cursor,
  industry: $fa-var-industry,
  info-circle: $fa-var-info-circle,
  line-chart: $fa-var-line-chart,
  link: $fa-var-link,
  list: $fa-var-list,
  lock: $fa-var-lock,
  long-arrow-right: $fa-var-long-arrow-right,
  map-marker: $fa-var-map-marker,
  map-o: $fa-var-map-o,
  map: $fa-var-map,
  medkit: $fa-var-medkit,
  minus-square-o: $fa-var-minus-square-o,
  newspaper-o: $fa-var-newspaper-o,
  paint-brush: $fa-var-paint-brush,
  pencil: $fa-var-pencil,
  pie-chart: $fa-var-pie-chart,
  play: $fa-var-play,
  plus-circle: $fa-var-plus-circle,
  plus-square: $fa-var-plus-square,
  plus-square-o: $fa-var-plus-square-o,
  plus: $fa-var-plus,
  puzzle-piece: $fa-var-puzzle-piece,
  question: $fa-var-question,
  question-circle: $fa-var-question-circle,
  refresh: $fa-var-refresh,
  reorder: $fa-var-reorder,
  rocket: $fa-var-rocket,
  save: $fa-var-save,
  search: $fa-var-search,
  sitemap: $fa-var-sitemap,
  snowflake-o: $fa-var-snowflake-o,
  sort-asc: $fa-var-sort-asc,
  sort-desc: $fa-var-sort-desc,
  spinner: $fa-var-spinner,
  square: $fa-var-square,
  star-o: $fa-var-star-o,
  stethoscope: $fa-var-stethoscope,
  table: $fa-var-table,
  tag: $fa-var-tag,
  tasks: $fa-var-tasks,
  times: $fa-var-times,
  toggle-off: $fa-var-toggle-off,
  toggle-on: $fa-var-toggle-on,
  times-circle: $fa-var-times-circle,
  trash: $fa-var-trash,
  truck: $fa-var-truck,
  undo: $fa-var-undo,
  unlock-alt: $fa-var-unlock-alt,
  user: $fa-var-user,
  users: $fa-var-users,
  user-secret: $fa-var-user-secret,
  warning: $fa-var-warning,
  wrench: $fa-var-wrench,
);

@each $icon, $var in $icons {
  .#{$ui-icon-prefix}-#{$icon}:before { content: $var; }
}
