@import './gra-colors';

.label {
  display: inline-flex;
  font-weight: 400;
  align-items: center;
  border-radius: .2rem;
  letter-spacing: .025rem;
  margin: .1rem 0;
  padding: 0 1rem;
  height: 2.4rem;
  line-height: 1.2rem;
  vertical-align: middle;
  background: $LtGray2;
  color: $DkGray2;
  border: none;
}

.label--success {
  color: $White;
  background-color: $MedGreen;
}

.label--info {
  color: $DkGray1;
  background-color: $StatusBlue;
}

.label--danger {
  color: $White;
  background-color: $StatusRed;
}

.label--large {
  margin: .1rem 0;
  padding: 1.25rem 1.5rem;
  font-size: 1.4rem;
  height: 3rem;
  line-height: 1.4rem;
}
