
// This style rule is added to the overlay pane by the ModalService to enable
// "bootstrap style" long content scrolling in modals -- the entire modal slides up the
// viewport, rather than scrolling inside the modal.
//
// This is a bit of a hacky way to implement this behaviour. There mighht be a
// better way to achieve this using CDK overlay position strategies, but that would
// require significant re-engineering of the MatDialog system.
.bmi-matdialog-scrollable {
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  overflow-y: scroll !important;
  margin-top: 0 !important;

  flex-direction: column;
  align-items: center;

  .mat-dialog-container {
    height: unset;
    max-height: unset;
    overflow: auto;

    margin-top: 100px;
    margin-bottom: 200px;

    overflow: visible;

    min-width: 560px;
    width: 560px;
    max-width: 560px;
  }

  &--large .mat-dialog-container {
    min-width: 1020px;
    width: 1020px;
    max-width: 1020px;
  }
}
