@import './gra-colors';

.ribbon {
  text-shadow: none;

  & > .ribbon-text {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
    color: white;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: calc(100% + 20px);
  height: 0px;
  background-color: transparent;
  border: solid 12px $DkGray2;
  border-right: solid 8px transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  user-select: none;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 0 0.05rem) drop-shadow(rgba(0, 0, 0, 0.15) 0.25rem 0 0.1rem);
}


@mixin ui-ribbon-color($backgroundColor, $foregroundColor) {
  color: $foregroundColor;
  border-color: $backgroundColor;
  border-right-color: transparent;
}


.ribbon--success {
  @include ui-ribbon-color($MedGreen, white);
}

.ribbon--info {
  @include ui-ribbon-color($StatusBlue, $DkGray2);
}

.ribbon--danger {
  @include ui-ribbon-color($StatusRed, white);
}