@import './gra-colors';
@import './form-mixins';


@mixin ui-select-toggler() {
  @include form-control();
  padding: 0 4rem 0 1rem;
  line-height: 3rem;
  cursor: pointer;
  position: relative;
  user-select: none;
}


@mixin ui-select-toggler-caret() {
  position: absolute;
  right: 1.5rem;
  position: absolute;
  color: $LtGray2;
  line-height: 3rem;
  font-size: 1.33rem;
}


@mixin ui-select-item() {
  transition: background-color 0.05s ease-out;
  padding: 0.6rem 0.6rem;

  &:hover {
    background-color: $LtGray3;
  }
}


@mixin ui-select-dropdown-background() {
  border: 1px solid $LtGray2;
  background: white;
  box-shadow: 0 1rem 5rem -0.5rem rgba(0,0,0,0.2);
  border-radius: 0.35rem;
}
