@mixin border-box() {
  &, &::before, &::after {
    box-sizing: border-box;
  }
}



@mixin ui-list-unstyled() {
  padding-left: 0;
  & > li {
    list-style-type: none;
  }
}

@mixin ui-truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Styles a button for a clickable icon. This will make the background
 * transparent, and add extra padding around the content to make it easier to click.
 */
 @mixin ui-icon-button($color: $MedGray2) {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: inherit;
  background: none;
  color: $color;

  &:hover {
    color: lighten($color, 8%);
  }

  &:active {
    color: darken($color, 10%);
  }
}


/*
 * Styling for a gray box, like used in the popup lab and stacker list. Has a
 * border and subtle shadowing to give it some shape, but not too extreme.
 */
 @mixin ui-gray-box($backgroundColor: $PaleGray1, $borderColor: rgba($LtGray2, 0.5), $blushColor: rgba($borderColor, 0.2), $blushSize: 1rem) {
  background-color: $backgroundColor;
  border-radius: .2rem;
  border: 1px solid $borderColor;
  box-shadow: 0 0.25rem 1rem -0.25rem rgba(black, 0.1), inset 0 0 $blushSize $blushColor;
}
