<ui-dropdown-menu>
  <ng-content></ng-content>
  <ng-template #items>
    <ng-container *ngFor="let group of groups">
      <div class="add-widget__group">
        <h4 class="add-widget__group-heading">{{group.name}}</h4>
        <ui-dropdown-item
            *ngFor="let item of group.items"
            [icon]="item.icon"
            [title]="item.description || ''"
            (click)="itemClicked(item)">
          {{item.name}}
        </ui-dropdown-item>
      </div>
    </ng-container>
  </ng-template>
