:host {
  display: block;
}

.ui-collapsible-section {
  transition: background-color 0.2s, border 0.2s, margin 0.3s;
  border: 1px solid transparent;
  border-radius: 3px;

  &__header {
    cursor: pointer;
    user-select: none;
    transition: color 0.2s;
    font-size: 1.125rem;
    margin: 0;
    &:hover {
      color: var(--gra-color--link);
    }
  }

  &__caret {
    transition: transform 0.2s ease-in;
  }

  &--open > h3 > &__caret {
    transform: rotate(90deg);
  }

  &__content {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.25s, max-height 0.5s, margin 0.3s;
    overflow: hidden;
  }

  &--open > &__content {
    opacity: 1;
    max-height: 2000px;
    overflow: visible;
    padding-top: var(--gra-spacing-qtr);
  }
}


// The sidebar shoud be themeable. Ideally the BEM styling on this component
// should also let us style this externally -- although we'd need ng-deep.
// Using CSS custom properties/variables might be a better solution.

.ui-collapsible-section--theme-fancy {
  .ui-collapsible-section__header {
    font-size: 1.85rem;
    font-weight: 200;
    margin-bottom: var(--gra-headings-margin);
  }

  &.ui-collapsible-section--open {
    background-color: var(--gra-color--gray-200);
    border-color: var(--gra-color--gray-400);
    box-shadow: 0 1px 4px rgba(black, 0.1);
    margin-bottom: var(--gra-spacing-half);
    padding: var(--gra-spacing-half);
  }
}


.ui-collapsible-section--theme-sidebar {
  border: none;

  .ui-collapsible-section__header {
    font-size: 1.3rem;
    font-weight: 300;
    border-top: 1px solid var(--gra-color--gray-400);
    border-bottom: 1px solid var(--gra-color--gray-400);
    padding: 7px;
    background-color: var(--gra-color--gray-300);
  }

  .ui-collapsible-section__content {
    padding-left: var(--gra-spacing-half);
    padding-right: var(--gra-spacing-half);
  }

  &.ui-collapsible-section--open .ui-collapsible-section__content {
    padding-bottom: var(--gra-spacing-half);
  }
}
