<div class="ui-collapsible-section {{ isOpen ? 'ui-collapsible-section--open' : '' }} ui-collapsible-section--theme-{{ type }}">
  <h3
    class="ui-collapsible-section__header"
    (click)="toggle()">
    <span class="ui-collapsible-section__caret ui-icon ui-icon-caret-right"></span>
    {{label}}
  </h3>
  <div class="ui-collapsible-section__content">
    <ng-content></ng-content>
  </div>
</div>
