<div
  class='ui-dropdown'
  [class.ui-dropdown--open]="isOpen"
  [class.ui-dropdown--static]="positionPolicy === 'noRelative'"
>
  <div class="ui-dropdown-control" (click)="toggleOpenOnClick && onControlAreaClicked($event)">
    <ng-container [ngTemplateOutlet]="controlTemplate" [ngTemplateOutletContext]="templateContext"></ng-container>
  </div>
  <div #dropdownContentElement @toggleOpen *ngIf="isOpen" class="ui-dropdown-contents" [class.ui-dropdown-contents-right]="shouldBeRightAligned">
    <ng-container [ngTemplateOutlet]="dropdownTemplate" [ngTemplateOutletContext]="templateContext"></ng-container>
  </div>
</div>
