@import '@bmi/ui/styles/gra-colors';
@import '@bmi/ui/styles/utilities';

:host {
  display: block;
  box-sizing: border-box;
}


.ui-dropdown {
  box-sizing: border-box;
  position: relative;
}
.ui-dropdown--static {
  position: static;
}


.ui-dropdown-contents {
  box-sizing: border-box;
  position: absolute;
  z-index: 100;

  // Ensure there is room at the bottom of a page to show the dropdown's
  // contents. As the contents is position:absolute, this shouldn't affect
  // other content too much
  margin-bottom: 100px;
}

.ui-dropdown-contents-right {
  right: 0;
}
