<section class="series-settings__layout" [formGroup]="form">
  <ui-form-field label="Ref">
    <input formControlName="value">
  </ui-form-field>
  <ui-form-field label="Label">
    <input formControlName="label">
  </ui-form-field>
  <ui-form-field label="Type">
    <ui-single-select formControlName="type" [options]="typeOptions" [floating]="true"></ui-single-select>
  </ui-form-field>
  <ui-form-field label="Color">
    <ui-color-dropdown formControlName="color"></ui-color-dropdown>
  </ui-form-field>
  <ui-form-field label="Connect nulls">
    <ui-checkbox formControlName="connectNulls"></ui-checkbox>
  </ui-form-field>
  <ui-form-field label="Visible on load">
    <ui-checkbox formControlName="visible"></ui-checkbox>
  </ui-form-field>
</section>