<ng-container *ngIf="cardDetails">
  <h1>{{card.title || cardDetails.cardId}}</h1>

  <bmi-admin-card-toolbar [boardId]="cardDetails.boardId" [cardId]="cardDetails.cardId"></bmi-admin-card-toolbar>

  <div class="row">
    <div class="col">
      <ui-property-list [data]="cardDetails.usefulProperties" data-cy="card-details-useful-props" ></ui-property-list>

      <h3>Metadata</h3>
      <ui-property-list [data]="cardDetails.metadata" data-cy="card-details-metadata" ></ui-property-list>

      <h3>Fields</h3>
      <ui-property-list [data]="cardDetails.cardFields" data-cy="card-details-card-fields" ></ui-property-list>
    </div>
    <div class="col">
      <h3>Alerts</h3>
      <bmi-card-alert *ngIf="cardDetails.alerts.length > 0; else noAlerts" [board]="cardDetails.boardId" [alerts]="cardDetails.alerts"></bmi-card-alert>
      <ng-template #noAlerts>
        <p data-cy="card-details-no-alerts" >No Alerts!</p>
      </ng-template>

      <h3>Tasks</h3>
      <bmi-admin-card-task-list *ngIf="cardDetails.tasks.length > 0; else noTasks" [tasks]="cardDetails.tasks"></bmi-admin-card-task-list>
      <ng-template #noTasks>
        <p data-cy="card-details-no-tasks">No Tasks!</p>
      </ng-template>
    </div>

  </div>





</ng-container>
