<ng-container [formGroup]="form">
  <ui-form-field label="Data Source Id">
    <bmi-data-source-picker formControlName="dataSourceId"></bmi-data-source-picker>
  </ui-form-field>

  <ui-form-field label="Series Id">
    <bmi-binding-picker formControlName="seriesId" [resolver]="resolver"></bmi-binding-picker>
  </ui-form-field>

  <ui-form-field label="Series Label">
    <bmi-binding-picker formControlName="label" [resolver]="resolver"></bmi-binding-picker>
  </ui-form-field>

  <ui-form-field label="Datapoint Fields">
    <bmi-data-map-editor formControlName="fields" [resolver]="resolver"></bmi-data-map-editor>
  </ui-form-field>
</ng-container>
