<ng-container [formGroup]="form">

  <div class="data-source-entry__id-row">
    <ui-form-field label="Data Source Id">
      <input type="text" formControlName="id">
    </ui-form-field>
    <ui-dropdown-menu positionPolicy="right">
      <button type="button" class="btn btn--link">
        &hellip;
      </button>
      <ng-template #items>
        <ui-dropdown-item icon="shared-ui-clone" (click)="onCloneClicked.emit()">Clone data source</ui-dropdown-item>
        <hr>
        <ui-dropdown-item icon="shared-ui-trash" (click)="onDeleteClicked.emit()">Remove data source</ui-dropdown-item>
      </ng-template>
    </ui-dropdown-menu>
  </div>

  <div [ngSwitch]="dataSourceType" class="data-source-entry__editor">
    <bmi-card-source-editor *ngSwitchCase="'card'" [config]="config" (updatedConfig)="configUpdated($event)"></bmi-card-source-editor>
    <bmi-card-source-editor *ngSwitchCase="'card-list'" [config]="config" (updatedConfig)="configUpdated($event)"></bmi-card-source-editor>
    <bmi-notes-source-editor *ngSwitchCase="'notes'" [config]="config" (updatedConfig)="configUpdated($event)"></bmi-notes-source-editor>
    <bmi-pivot-transform-source-editor *ngSwitchCase="'pivot-transform'" [config]="config" (updatedConfig)="configUpdated($event)"></bmi-pivot-transform-source-editor>
    <div *ngSwitchDefault>No editor available for {{dataSourceType}} sources</div>
  </div>
</ng-container>
