:host {
  // We want the page content and the sidebar content to scroll independently
  // as necessary, but to do this we need to use flexbox to 'push' any
  // external size constraints down the DOM tree, otherwise the elements will
  // just vertically overflow without scrolling.
  display: flex;
}

.page-editor {

  &__layout {
    display: grid;
    flex: 1 1 auto;

    // Box shadows on the toolbars and stuff can spill over the edges of the
    // component. We just want them to overlay the contents.
    overflow: hidden;

    grid-template-areas:
      "toolbar toolbar"
      "body sidebar";

    // Adding min width for sidebar so that we can know the most narrow case
    grid-template-columns: 5fr minmax(360px, 2fr);
    grid-template-rows: auto 1fr;

    &.view-mode {
      grid-template-areas:
        "toolbar"
        "body";
      grid-template-columns: 1fr;
    }

  }

  &__toolbar { grid-area: toolbar; }
  &__body { grid-area: body; }
  &__sidebar { grid-area: sidebar; }

  &__toolbar, &__body, &__sidebar {
    // Don't let the content push the grid widths around
    min-width: 0;
  }

  &__toolbar {
    padding: 5px;
    background: var(--gra-color--gray-100);
    border: 1px solid var(--gra-color--gray-400);
    border-left: none;
    border-right: none;
    box-shadow: inset 0 -2px 5px rgba(black, 0.05), 0 2px 5px rgba(black, 0.1), 0 1px 2px rgba(black, 0.1);
    z-index: 1;
    user-select: none;
  }

  &__toolbar button {
    display: inline-block;

    border: 1px solid var(--gra-color--gray-400);
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: 300;

    transition: 0.1s;

    .fa, .ui-icon {
      margin-right: 3px;
    }

    &:hover {
      border: 1px solid var(--gra-color--link);
      box-shadow: 0 0 4px -2px var(--gra-accent-color), inset 0 0 4px -2px var(--gra-accent-color);
    }
  }

  &__toolbar-group {
    display: inline-block;
  }

  &__toolbar-group + &__toolbar-group {
    border-left: 1px solid var(--gra-color--gray-400);
    margin-left: 10px;
    padding-left: 10px;
  }

  &__sidebar {
    background: var(--gra-color--gray-100);
    border-left: 1px solid var(--gra-color--gray-400);

    padding: 10px;

    // The scrollbar takes up some space and usually isn't visible. CUI 2.0's
    // scroll styling is very minimal so it doesn't look visually balanced
    // with even padding
    padding-right: 5px;

    z-index: 1;
    box-shadow: inset 0 -2px 5px rgba(black, 0.05), 0 4px 5px rgba(black, 0.1), 0 4px 2px rgba(black, 0.1);
  }

  &__body, &__sidebar {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
