<div class="page-editor__layout" [class.view-mode]="isViewMode">
  <div class="page-editor__toolbar">
    <div class="page-editor__toolbar-group">
      <button type="button" [disabled]="!undoController.canUndo" (click)="undo()">
        <span class="ui-icon ui-icon-undo"></span> Undo
      </button>
      <button type="button" [disabled]="!undoController.canRedo" (click)="redo()">
        <span class="fa fa-repeat"></span> Redo
      </button>
    </div>

    <div class="page-editor__toolbar-group">
      <button (click)="showPageProperties()">
        <span class="fa fa-file-text-o"></span>
        Page Properties
      </button>

      <button (click)="showPageDataEditor()">
        <ui-icon icon="cui-insights"></ui-icon>
        Data Sources
      </button>
    </div>

    <div class="page-editor__toolbar-group">
      <button (click)="toggleViewMode()">
        <span class="ui-icon ui-icon-{{ isViewMode ? 'edit' : 'eye' }}"></span>
        {{ isViewMode ? 'Return to edit' : 'Preview page' }}
      </button>
    </div>

    <div class="page-editor__toolbar-group">
      <button (click)="copyPageJson()">
        <span class="fa fa-clone"></span>
        Copy Page JSON
      </button>

      <button (click)="pastePageJson()">
        <span class="fa fa-paste"></span>
        Paste Page JSON
      </button>
    </div>
  </div>
  <div class="page-editor__body" (click)="onPageClicked($event)">
    <bmi-page [config]="pageConfig" [mode]="mode"></bmi-page>
  </div>
  <div class="page-editor__sidebar" *ngIf="!isViewMode">
    <bmi-editor-sidebar *ngIf="selectedAspect" [aspect]="selectedAspect"></bmi-editor-sidebar>
  </div>
</div>
