<ng-container [formGroup]="form">
  <div class="row">
    <ui-form-field class="col" label="Text (optional)">
      <input formControlName="text">
    </ui-form-field>
    <ui-form-field class="col" label="Icon ID">
      <input formControlName="icon">
    </ui-form-field>
  </div>

  <ng-container [ngSwitch]="form.value.type">
    <ng-container *ngSwitchCase="'action'">
      <div class="event-editor">
        <ui-form-field label="On Click">
          <ui-dynamic-editor-list bmiUsingDynamicEditorsFor="event-action" formControlName="onInvoke" addMenuLabel="Add event action" [collapsible]="true"></ui-dynamic-editor-list>
        </ui-form-field>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'menu'">
      <ui-form-field label="Menu Items">
        <bmi-button-toolbar-editor formControlName="items" [isEditingMenu]="true"></bmi-button-toolbar-editor>
      </ui-form-field>
    </ng-container>
  </ng-container>
</ng-container>
