<ui-stacker-list [items]="form">
  <ng-template let-item>
    <h4>
      <ui-icon [icon]="itemTypesByType[item.value.type].icon"></ui-icon>
      {{itemTypesByType[item.value.type].name}}
    </h4>
    <bmi-button-toolbar-item-editor *ngIf="item.value.type !== 'separator'" [formControl]="item"></bmi-button-toolbar-item-editor>
  </ng-template>
</ui-stacker-list>
<ui-dropdown-menu>
  <button class="btn btn--link btn--small">{{addButtonText}}</button>
  <ng-template #items>
    <ng-container *ngFor="let itemType of itemTypes">
      <ui-dropdown-item
          *ngIf="!isEditingMenu || itemType.type !== 'menu'" (click)="addItem(itemType)"
          [icon]="itemType.icon">
        {{itemType.name}}
      </ui-dropdown-item>
    </ng-container>
  </ng-template>
</ui-dropdown-menu>
