<div class="drawer-widget {{ (isOpen | async) ? 'drawer-widget--open' : ''}}">
  <div *ngIf="(isOpen | async)" @toggleOpen class="drawer-widget__content">
    <bmi-widget-host
        bmiWidgetWrapperContext
        [config]="body | async"
        [editable]="true"
        (updateWidgetConfig)="updateBodyConfig($event)">
    </bmi-widget-host>
  </div>
  <div class="drawer-widget__button-row">
    <button type="button" class="drawer-widget__toggle-button btn btn--secondary" (click)="toggleDrawer()">
      <ui-icon [icon]="(isOpen | async) ? 'shared-ui-caret-up' : 'shared-ui-caret-down'" [fixedWidth]="true"></ui-icon>&nbsp;
      {{ buttonText | async }}
    </button>
  </div>
</div>
