:host {
  display: block;
  width: 100%;
}
.score-matrix {
  &__column-label {
    font-weight: normal;
    font-size: 12px;
  }

  &__row-label {
    font-weight: bold;
    height: 20px;
  }

  &__cell {
    background-color: var(--gra-color--gray-600);
    cursor: default;
    max-width: 67px;
    max-height: 27px;

    &--inactive {
      opacity: 0.6;
    }
  }
}

