<ui-stacker-list
  [items]="form"
  [showDrag]="false"
  [customStyles]="true"
  [class.single-column]="useFormatters">
  <ng-template let-item>
    <ng-container [formGroup]="item">
      <ui-form-field label="ID">
        <input formControlName="key">
      </ui-form-field>
      <ui-form-field label="Data binding">
        <bmi-formatter-picker
          formControlName="binding"
          *ngIf="useFormatters">
        </bmi-formatter-picker>
        <bmi-binding-picker
          formControlName="binding"
          *ngIf="!useFormatters"
          [resolver]="resolver">
        </bmi-binding-picker>
      </ui-form-field>
    </ng-container>
  </ng-template>
</ui-stacker-list>

<button type="button" (click)="addParameter()" class="btn btn--ghost btn--small">
  Add Binding
</button>
