<ng-container *ngIf="isSupportedRouteType; else showUnsupportedMessage" [formGroup]="form">

  <div class="route-selector__input-flex">
    <ui-select [optionGroups]="optionGroups" [formControl]="routeTypeControl"></ui-select>
    <input *ngIf="showUrlInput" formControlName="route" placeholder="Enter URL here">
  </div>

  <ui-collapsible-section #params
    *ngIf="showParameters"
    class="route-selector__parameters {{ params.isOpen ? 'route-selector__parameters--open' : ''}}"
    label="Link Parameters">
    <bmi-data-map-editor formControlName="filters" [resolver]="resolver"></bmi-data-map-editor>
  </ui-collapsible-section>
</ng-container>
<ng-template #showUnsupportedMessage>
  <p>Unsupported link: {{ form.value.route | json }}</p>
  <button class="btn btn--link btn--small" (click)="clearLink()">
    <ui-icon icon="shared-ui-edit"></ui-icon>
    &nbsp;Edit link anyway
  </button>
</ng-template>
