
.route-selector {

  &__input-flex {
    display: flex;

    ui-select {
      flex: 1 1 auto;
    }

    input {
      flex: 2 1 auto;
    }
  }

  &__parameters {
    display: block;
    padding: 4px 8px 4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid transparent;
    border-top: none;

    transition: background 0.1s, border-color 0.1s, box-shadow 0.1s;

    &--open, &.ui-collapsible-section--open {
      border-color: var(--gra-color--gray-400);
      background: rgba(0,0,0,.02);
      box-shadow: inset -2px -2px 10px rgba(black, 0.05);
    }
  }
}
