<ul class="suggestions">
  <li
      *ngFor="let suggestion of suggestions; trackBy: trackSuggestion"
      [class.is-reference-field]="suggestion.isReferenceField"
      (click)="$event.stopPropagation(); selectPath(suggestion)">
    <span class="ui-icon fa-fw {{ getFieldIcon(suggestion) }} "></span>
    <span class="field-name">{{ suggestion.fieldName }}</span>
    <small>({{ getFieldType(suggestion) }})</small>
  </li>
</ul>
