@import '@bmi/ui/styles/gra-colors';
@import '@bmi/ui/styles/forms';
@import '../styles/mixins';

:host {
  display: block;
}



.input-wrapper, .form-input {
  position: relative;

  .input-button {
    @include icon-button($MedGray2);
    position: absolute;
    top: 0;
    right: 0.5rem;
    font-size: 1.5rem;
  }


  .edit-as-path-button {
    // This one just wants to be shifted down a little to look right.
    top: 0.1rem;
  }
}

.form-input, .input-wrapper > input {
  padding-right: 3rem;
}


.form-input.has-path {
  /* If there is a path selected, make extra room for the segments */
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}


ul.path-segments {
  display: flex;
  justify-content: flex-start;

  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  /* We want the path segments to fill the entire height of the input rectangle */
  height: 100%;

  li {
    /* Using flexbox here will centre the text of the segment and the button. */
    display: flex;
    align-items: center;

    user-select: none;

    background: $MedGray2;
    padding: 0 0.6rem;
    border-radius: .2rem;
    color: $White;
    list-style-type: none;
    margin: 0;
    margin-right: 0.25rem;

    text-shadow: 0 0 1px rgba(black, 0.5);

    button {
      @include icon-button($LtGray2);
    }
  }

  &:not(.is-editing-path) li {
    background-color: $LtGray2;
    font-weight: normal;
    color: $Black;
    text-shadow: 0 0 1px rgba(white, 0.25);
  }

  li.path-segment-invalid {
    background-color: $StatusOrange;
  }
}

.suggestions {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 10;

  background: white;
  border: 1px solid $LtGray2;

  padding: 1rem;
  width: 40rem;
  overflow: hidden;

  .suggestion-scroll-wrapper {
    max-width: 40rem;
    max-height: 50rem;
    overflow-y: scroll;
    padding: 0.5rem;

    &:not(.has-completions) {
      overflow: auto;
    }
  }
}

.no-completions-message {
  text-align: center;
  margin: 0 3rem;
}

.suggestions-header {
  position: relative;
  padding: 0.5rem 0;
  border-bottom: 1px solid $LtGray2;
  margin-bottom: 1rem;
  user-select: none;

  .button-toolbar {
    position: absolute;
    top: 0rem;
    right: 1rem;

    button {
      @include icon-button($DkGray2);
    }

    button + button {
      margin-left: 0.5rem;
    }
  }
}

.use-this-card {
  cursor: pointer;
  padding: 0.5rem;
  user-select: none;
  transition: color 0.05s, background-color 0.05s;
  &:hover {
    background-color: $FernGreen;
    color: $White;
  }
}
