<ng-container *ngIf="isPickerMode; else advancedMode">
  <div class="form-input" [class.has-path]="!!path" (click)="$event.preventDefault(); startEditing()">
    <span *ngIf="!path">
      No path selected
    </span>

    <ul class="path-segments" [class.is-editing-path]="editMode">
      <li *ngFor="let segment of pathSegments" class="segment" [class.reference-field]="segment.isReferenceField" [class.path-segment-invalid]="!segment.isValid" title="{{ segment.invalidityReason }}">
        {{ segment.fieldName }}

        <button *ngIf="editMode" type="button" (click)="$event.stopPropagation(); selectPath(segment.parent)">
          <span class="ui-icon ui-icon-close"></span>
        </button>
      </li>
    </ul>

    <button *ngIf="!editMode" class="input-button" type="button" title="Edit path" (click)="$event.stopPropagation(); startEditing()"><span class="ui-icon ui-icon-edit"></span></button>
    <button *ngIf="editMode" class="input-button" type="button" title="Edit path as text" (click)="$event.stopPropagation(); editAsText()">
      <span class="ui-icon ui-icon-i-cursor"></span>
    </button>

    <section *ngIf="editMode" class="suggestions">
      <div class="suggestions-header">
        <strong>{{selectedPathMessage}}</strong>

        <div class="button-toolbar">
          <button *ngIf="path" type="button"(click)="$event.stopPropagation(); selectPath(null)">
            <span class="ui-icon ui-icon-close"></span> Clear
          </button>
          <button class="done-button" type="button"(click)="$event.stopPropagation(); finishEditing()">
            <span class="ui-icon ui-icon-check"></span> Done
          </button>
        </div>
      </div>
      <div class="suggestion-scroll-wrapper" [class.has-completions]="hasCompletions">
        <div class="use-this-card" *ngIf="path" (click)="$event.stopPropagation(); finishEditing();">
          <span class="ui-icon ui-icon-check fa-fw"></span> Use {{fieldPath.fieldName}} field
        </div>
        <gravity-path-picker-suggestions *ngIf="hasCompletions" [suggestions]="completions" (pathSelected)="selectPath($event)"></gravity-path-picker-suggestions>
      </div>
    </section>
  </div>
</ng-container>
<ng-template #advancedMode>
  <div class="input-wrapper" (click)="$event.stopPropagation(); startEditing()">
    <input #textPathInput class="path-text-input" type="text" [(ngModel)]="path" (change)="pathManuallyEdited()" (keyup)="pathManuallyEdited()">
    <button *ngIf="isPickablePath" class="input-button edit-as-path-button" type="button" title="Edit as path" (click)="$event.stopPropagation(); editAsPath()">
      <span class="ui-icon ui-icon-ellipsis-h"></span>
    </button>
  </div>
</ng-template>
