@import '@bmi/ui/styles/gra-colors';

:host {
  display: block;
}


ul.suggestions {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  li {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0.5rem;

    cursor: pointer;

    transition: color 0.05s ease-in-out;

    &.is-reference-field .field-name {
      font-weight: bold;
    }

    &:hover {
      transition: color 0s;
      background-color: $LtGray2;
    }
  }
}
