<div
  class="table-content"
  *ngIf="cells && columnStates"
  [style.grid-template-columns]="gridTemplateColumnsCss"
  [class.auto-columns]="autoWidthColumns">

  <div
    class="head-cell"
    *ngFor="let column of data?.columns; let n = index"
    [class.column-right-align]="column.rightAlign"
    [class.column-header--no-padding]="columnStates[n].noHeaderPadding"
    (click)="sortColumn(column)">
    <ng-container *ngIf="columnStates[n].headerPortal as headerPortal; else regularHeader">
      <ng-template [cdkPortalOutlet]="headerPortal"></ng-template>
    </ng-container>
    <ng-template #regularHeader>
      <span>
        {{ column.name }}
      </span>
      <span *ngIf="column.name" class="sort-icons">
        <span class="ui-icon ui-icon-sort-asc" [class.highlight]="column.sortDirection === 1"></span>
        <span class="ui-icon ui-icon-sort-desc" [class.highlight]="column.sortDirection === -1"></span>
      </span>
    </ng-template>
  </div>

  <ng-container *ngFor="let cell of cells; trackBy: trackByCellValue">
    <ng-container [ngSwitch]="cell.isRowLink">
      <div
      *ngSwitchCase="true"
        class="body-cell"
        data-cy="data-table-row"
        [attr.data-table-row-index]="cell.rowIndex"
        [attr.data-table-col-index]="cell.columnIndex"
        [class.row-link]="true"
        [class.data-row-even]="cell.isEvenRow"
        [class.data-row-odd]="!cell.isEvenRow"
        [class.hidden]="cell.isHiddenCell"
        [class.merge]="cell.isMergeColumn"
        [class.column-right-align]="cell.styleRightAlign"
        [style.grid-row-end]="'span ' + cell.rowSpan"
        [class.column-no-padding]="cell.styleNoCellPadding"
        [routerLink]="cell.routerLink">
        <ng-container *ngTemplateOutlet="cellContents; context: {$implicit: cell.value, row: cell.row, colIndex: cell.columnIndex}"></ng-container>
      </div>
      <div
        *ngSwitchDefault
        class="body-cell"

        [attr.data-table-row-index]="cell.rowIndex"
        [attr.data-table-col-index]="cell.columnIndex"
        [class.row-link]="true"
        [class.data-row-even]="cell.isEvenRow"
        [class.data-row-odd]="!cell.isEvenRow"
        [class.hidden]="cell.isHiddenCell"
        [class.merge]="cell.isMergeColumn"
        [class.column-right-align]="cell.styleRightAlign"
        [style.grid-row-end]="'span ' + cell.rowSpan"
        [class.column-no-padding]="cell.styleNoCellPadding">
        <ng-container *ngTemplateOutlet="cellContents; context: {$implicit: cell.value, row: cell.row, colIndex: cell.columnIndex}"></ng-container>
      </div>

    </ng-container>
  </ng-container>
</div>

<div *ngIf="!data?.rows?.length && noDataMessage" class="no-data-message">
  <span class="ui-icon ui-icon-info-circle color-brand-blue"></span>
  {{noDataMessage}}
</div>

<ng-template let-cell let-row="row" let-colIndex="colIndex" #cellContents>
  <ng-container [ngSwitch]="cell?.type">
    <ui-button-toolbar *ngSwitchCase="'button-toolbar'" [items]="cell.value"></ui-button-toolbar>

    <div *ngSwitchCase="'portal'">
      <ng-template [cdkPortalOutlet]="cell.value"></ng-template>
    </div>

    <div
      *ngSwitchCase="'color'"
      class="contains-color">
      <ui-status-indicator [color]="cell.color">
        <span
          *ngIf="cell.title && cell.title.length === 1"
          [innerHTML]="cell.title[0] | highlightTerm:search">
          {{ cell.title[0] }}
        </span>
        <span *ngIf="cell.icon" class="ui-icon ui-icon-{{ cell.icon }}">
        </span>
      </ui-status-indicator>
      <span
        *ngIf="cell.title && cell.title.length > 1"
        class="color-title">{{ cell.title }}
      </span>
    </div>

    <a
      *ngSwitchCase="'link'"
      [routerLink]="cell.routerLink"
      [innerHTML]="cell.value | highlightTerm:search">
    </a>

    <ul
      *ngSwitchCase="'list'"
      class="cell-list">
      <li
        *ngFor="let value of cell.value"
        class="list-item"
        [innerHTML]="value | highlightTerm:search">
      </li>
    </ul>

    <span
      *ngSwitchCase="'boolean'" class="cell-boolean-icons">
      <ui-icon class="affirmative" *ngIf="cell.value; else cancel" [icon]="'shared-ui-check-circle'" [fixedWidth]="true"></ui-icon>
      <ng-template #cancel>
        <ui-icon class="negative" [icon]="'shared-ui-times-circle'" [fixedWidth]="true"></ui-icon>
      </ng-template>
    </span>

    <span
      *ngSwitchDefault>
      <span [innerHTML]="(cell.value || '') | highlightTerm:search"></span>
    </span>
  </ng-container>
</ng-template>
