@import '@bmi/ui/styles/gra-colors';

:host {
  display: block;
}

.table-content {
  display: grid;
  grid-template-rows: auto;
  overflow-x: auto;
  & > div {
    padding: .75rem 2rem .75rem 0rem;
    border-bottom: .2rem solid $LtGray2;
    word-break: break-word;
    font-size: 1.25rem;
  }

  .head-cell {
    font-weight: 700;
    border-top: .2rem solid $LtGray2;
    cursor: pointer;
    padding-right: 4rem;
    display: flex;
    word-break: unset;
    &:hover {
      color: $BrandBlue;
    }

    &.column-header--no-padding {
      padding: 0 2rem 0 0;
    }
  }
  .body-cell {
    border-color: $PaleGray1;
  }
  .data-row-even {
    background-color: lighten($PaleGray1, 5%);
  }
  .data-row-odd {
    background-color: $White;
  }
  .column-right-align {
    text-align: right;
  }
  .column-no-padding {
    padding-top: 0;
    padding-bottom: 0;
    & > div {
      height: 100%;
    }
  }
}
.table-content.auto-columns > div {
  max-width: 32rem;
}

.no-data-message {
  text-align: center;
  border: none;
  font-weight: 700;
  grid-area: 1 / 1 / -1 / -1;
}

.contains-color {
  min-width: 6rem;
  position: relative;
  box-sizing: border-box;
  padding: .25rem 0;
  height: 100%;

  .color-title {
    padding-left: 2.5rem;
    display: inline-block;
    vertical-align: middle;
  }
}

.cell-list {
  padding: 0 0 0 1rem;
  margin: 0;
}

.list-item {
  -webkit-padding-start: 0px;
}

.sort-title {
  cursor: pointer;
  position: relative;
}

.sort-icons {
  padding: .2rem 0 0 1rem;
  position: relative;
  .ui-icon-sort-asc,
  .ui-icon-sort-desc {
    position: absolute;
    color: $LtGray2;
    &.highlight {
      color: $BrandBlue;
    }
  }
}

.merge:not(.hidden) {
  display: flex;
  align-items: center;
  font-weight: 700;
}


.row-link {
  cursor: pointer;
}

.cell-actions {
  display: flex;
  .ui-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: $MedGray2;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 1.6rem;
    margin-top: -.4rem;
    cursor: pointer;
    transition: color .75s;
    &:hover {
      color: $BrandBlue;
      transition: none;
    }
    &::before {
      text-align: center;
      width: 100%;
    }
    &.ui-icon-close {
      &:hover {
        color: $StatusRed;
      }
    }
  }
}

.cell-boolean-icons {
  font-size: 1.95rem;
  //text-align: center;
  margin-left: 0.5rem;
  .affirmative {
    color: $StatusGreen;
  }
  .negative {
    color: $StatusRed;
  }
}
