:host {
  display: block;
}

.filter-controls {
  &--layout-flow {
    display: grid;
    grid-gap: 20px;

    & > * {
      min-width: 0;
    }
  }

  @for $i from 1 through 6 {
    &--layout-flow-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  &__no-filters-container {
    color: var(--gra-color--gray-500);
    padding: var(--gra-spacing-half);
    margin: 4px;
    border: 4px dashed var(--gra-color--gray-500);

    h3 { margin: 0; text-align: center;}
  }
}
