<div *ngIf="!(isInEditMode | async) || activeFilters && activeFilters.length > 0; else noFiltersMessage" class="filter-controls filter-controls--layout-flow filter-controls--layout-flow-{{columns}}">
  <ng-container *ngFor="let filterControl of activeFilters; trackBy: trackFilterControl">
    <bmi-core-filter-control
      *ngIf="!filterControl.definition.config?.onlyShowInEditor || isInsideEditor"
      [type]="filterControl.definition.controlType"
      [filter]="filterControl.filter">
    </bmi-core-filter-control>
  </ng-container>
</div>
<ng-template #noFiltersMessage>
  <div class="filter-controls__no-filters-container">
    <h3>Click here to add filters</h3>
  </div>
</ng-template>
