<ng-container [formGroup]="form">
  <ui-form-field label="Filter Columns">
    <input type="number" min="1" max="6" formControlName="columns">
  </ui-form-field>

  <ui-stacker-list [items]="form.controls.filters">
    <ng-template let-item>
      <bmi-core-filter-def-editor [formControl]="item"></bmi-core-filter-def-editor>
    </ng-template>
  </ui-stacker-list>

  <button class="btn btn--secondary" (click)="addFilter()">Add Filter</button>
</ng-container>
