<ui-base-dropdown [(isOpen)]="isOpen" (isOpenChange)="onDropdownToggled($event)">

  <ng-template #dropdownControl let-dropdown>
    <ui-select-toggler
      [isOpen]="dropdown.isOpen"
      (toggleOpen)="dropdown.toggle()">
      <div *ngIf="loadingOptions" class="loader loader--small">
        <div class="wrapper"><div class="wheel"></div></div>
      </div>
      <ng-container *ngIf="!loadingOptions">
        {{ selectedOption ? selectedOption.text : selectedValue || placeholder }}
      </ng-container>
    </ui-select-toggler>
  </ng-template>

  <ng-template #dropdownContent let-dropdown>
    <div class="dropdown-wrapper">
      <ui-select-option-list
        [showSearch]="!isSimpleMode"
        [optionGroups]="visibleOptionGroups"
        [selectedOption]="selectedOption"
        (optionSelected)="dropdown.close();selectOption($event)"
        (newSearch)="doSearch($event)">
      </ui-select-option-list>
    </div>
  </ng-template>

</ui-base-dropdown>
