.dropdown-wrapper {
  &__input-holder {
    position: relative;
  }
  &__input {
    width: 100%;
  }
  & &__input {
    width: 100%;
    margin-bottom: var(--gra-spacing-qtr);
    padding-right: 28px;
  }
  &__input-icon {
    position: absolute;
    right: 6px;
    font-size: 19px;
    top: 1px;
    color: var(--gra-color--success);
    cursor: pointer;
  }
}