.ui-property-list {
  &__entry {
    display: grid;
    grid-template-columns: 1fr minmax(50%, 3fr);
    gap: 10px;

    & > * {
      min-width: 0;
    }
  }

  &__key {
    text-align: right;
    font-weight: 400;
    color: var(--gra-color--gray-600);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
