$PlaceholderColor: #aaa;

:host {
  display: flex;
  user-select: none;
  cursor: default;
}

.widget-placeholder {

  &--add-widget {
    flex: 1;
    margin: 4px;
    border-radius: 6px;
    color: $PlaceholderColor;
    border: 4px dashed $PlaceholderColor;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 20px;

    padding: 15px 5px;
  }

  &__menu-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__add-widget-button {
    color: var(--gra-color--gray-700);
    font-size: 20px;
    padding: 5px 8px;

    ui-icon {
      color: var(--gra-color--gray-600);
    }

    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent !important;
    border-radius: 2px;

    &:focus {
      outline: 0;
    }

    &:hover {
      background-color: var(--gra-color--gray-300) !important;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.1), inset 1px 1px 3px rgba(white, 0.15);
      border-color: var(--gra-color--gray-400) !important;
    }

    &--open, &--open:hover {
      // some other style rules from the object-home stylesheets are messing with this
      background-color: var(--gra-color--gray-400) !important;
      border-color: var(--gra-color--gray-500) !important;
      box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
    }
  }


}


bmi-add-widget-dropdown {
  ::ng-deep ui-dropdown-menu {
    text-align: left;
  }
}
