a,
span {
  font-size: 1.25rem;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
i {
  padding: 2rem .5rem 0;
}

.type-history {
  a,
  span {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.125rem;
  }
  i {
    padding: .75rem .5rem;
    font-size: .9rem
  }
}