<ui-checkbox [checked]="hasLink" label="Link to another page" (click)="toggleLink()"></ui-checkbox>

<ng-container *ngIf="hasLink">
  <ui-form-field>
    <bmi-core-route-selector
        [moduleId]="moduleId"
        [formControl]="route"
        [resolver]="resolver">
    </bmi-core-route-selector>
  </ui-form-field>
</ng-container>
