<div class="card-watcher__header">
  <h3>
    <a [routerLink]="['/board', boardId, 'data-viewer', cardId]">
      {{boardId}}: {{ (card | async)?.title || cardId}}
    </a>
  </h3>
  <div>
    <span
      class="card-watcher__small-loader fa fa-fw fa-circle-o-notch fa-spin"
      [class.card-watcher__small-loader--loading]="isLoading | async"></span>
  </div>
</div>

<bmi-admin-card-toolbar [boardId]="boardId" [cardId]="cardId" [small]="true" [showPinToFocusPanel]="false"></bmi-admin-card-toolbar>

<div *ngIf="error" class="alert alert--danger">
  <div class="alert__icon icon-warning"></div>
  <div class="alert__message">{{error.message}}</div>
</div>

<ng-container *ngIf="currentDetails">
  <div *ngIf="currentDetails.alerts.length > 0" class="alert alert--warning-alt">
    <div class="alert__icon icon-warning"></div>
    <div class="alert__message">
      {{currentDetails.alerts.length}} card alerts
    </div>
    <a class="alert__close icon-close" (click)="dismissAlerts(currentDetails.alerts)"></a>
  </div>

  <h4>Card State</h4>
  <ui-property-list [data]="cardState | async" [sortKeys]="false"></ui-property-list>

  <h4>Fields</h4>
  <ui-property-list [data]="(card | async)?.fields" [sortKeys]="true"></ui-property-list>

  <ng-container *ngIf="currentDetails?.tasks?.length">
    <h4>Tasks</h4>
    <bmi-admin-card-task-list [tasks]="currentDetails.tasks"></bmi-admin-card-task-list>
  </ng-container>
</ng-container>
