.card-watcher {
  &__header {
    display: flex;

    h3 {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    h3 a {
      display: inline !important;
    }
  }

  &__small-loader {
    color: var(--gra-accent-color);
    opacity: 0;
    transition: opacity 0.2s;
    &--loading {
      opacity: 0.5;
    }

  }
}

.alert__message {
  flex: 1 1 auto;
}

.alert {
  padding: 10px !important;
}

.alert > * {
  align-self: center !important;
}

h4 {
  border-bottom: 1px solid var(--gra-color--gray-400);
  margin: 10px 0px;
}
