<ui-base-dropdown
  [(isOpen)]="isOpen"
  (isOpenChange)="onDropdownStateChanged($event)"
  [autoPositionAssumedWidth]="300"
>
  <ng-template #dropdownControl let-dropdown>
    <ui-select-toggler [isOpen]="dropdown.isOpen">
      <div class="binding-picker__control-text">
        <span class="binding-picker__type-pill binding-picker__type-pill--{{pillType}}">{{pillType}}</span>
        {{displayValue}}
      </div>
    </ui-select-toggler>
  </ng-template>
  <ng-template #dropdownContent>
    <div class="binding-picker__content">

      <div class="binding-picker__content-header">
        <div class="binding-picker__header-text">
          <ol *ngIf="breadcrumbs; else headerShowPlainText" class="binding-picker__breadcrumbs">
            <li *ngFor="let crumb of breadcrumbs" (click)="crumbClicked(crumb)">{{crumb.text}}</li>
          </ol>
          <ng-template #headerShowPlainText>
            {{displayValue}}
          </ng-template>
        </div>
        <button
          *ngIf="currentBinding"
          class="binding-picker__clear-button btn btn--link btn--small"
          type="button"
          (click)="clearSelection()">
          Clear
        </button>
      </div>

      <div class="binding-picker__content-body">


        <ng-container [ngSwitch]="mode">
          <ng-container *ngSwitchCase="'picker'">
            <div *ngIf="isLookingAtChildPaths" class="binding-picker__suggestion-group">
              <ul class="binding-picker__suggestion-list">
                <li (click)="finishPicking()">
                  <span class="fa fa-check"></span> Use {{displayValue}} field
                </li>
              </ul>
            </div>

            <div *ngFor="let group of suggestionGroups" class="binding-picker__suggestion-group">
              <h4 *ngIf="group.title" class="binding-picker__group-title">{{group.title}}</h4>
              <ul class="binding-picker__suggestion-list">
                <li *ngFor="let suggestion of group.suggestions" (click)="chooseBinding(suggestion.binding)" [class.binding-picker__suggestion--selected]="suggestion === selectedSuggestion">
                  {{ suggestion.text }}
                </li>
              </ul>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'advanced'">
            <bmi-advanced-binding-picker [ngModel]="currentBinding" (ngModelChange)="chooseBinding($event, {keepOpen: true})"></bmi-advanced-binding-picker>
          </ng-container>
        </ng-container>


      </div>
      <div class="binding-picker__content-footer">
        <button *ngIf="mode === 'picker'" type="button" class="btn btn--small btn--link" (click)="setPickerMode('advanced')">
          Advanced Mode
        </button>
        <button *ngIf="mode === 'advanced' && canUsePickerMode" type="button" class="btn btn--small btn--link" (click)="setPickerMode('picker')">
          Simple Mode
        </button>
      </div>
    </div>
  </ng-template>
</ui-base-dropdown>
