@import '@bmi/ui/styles/select-mixins';


.binding-picker {
  &__content {
    @include ui-select-dropdown-background();
    min-width: 250px;
    border-color: var(--gra-color--gray-500);
  }

  &__content-header, &__content-footer {
    background-color: var(--gra-color--gray-300);
    padding: 5px;
  }

  &__content-header {
    display: flex;
    flex-direction: row;
    min-height: 34px;
  }

  &__content-footer {
    min-height: 24px;
    button {
      line-height: 1;
      color: var(--gra-color--gray-600);
      &:hover {
        color: var(--gra-color--gray-800);
      }
    }
  }

  &__content-body {
    padding: 10px 5px;
  }

  &__control-text {
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
  }

  &__type-pill {
    padding: 3px;
    text-transform: uppercase;
    font-size: 8px;
    color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(black, 0.1);
    font-weight: 600;
    vertical-align: middle;

    background-color: var(--gra-color--gray-600);

    &--data { background-color: var(--gra-theme-primary); }
    &--filter { background-color: var(--gra-theme-success); }
    &--text { background-color: var(--gra-theme-warning); }
  }

  &__header-text {
    flex: 1 1 auto;
    // Align the breadcrumbs with the clear button
    padding-top: 4px;
  }

  &__breadcrumbs {
    list-style-type: none;
    padding: 0;
    user-select: none;
    cursor: default;

    li {
      display: inline-block;
      color: var(--gra-color--link);

      // Long segments will get truncated. Setting a max-width here means the
      // segment will truncate if it's longer than this. Setting this wider
      // will expand the width of the select contents
      max-width: 150px;
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    li + li::before {
      content: '.';
      font-weight: normal;
      margin: 0 2px;
      color: var(--gra-color--gray-600);
    }
  }

  &__suggestion-group {
    margin-bottom: 10px;
  }

  &__group-title {
    color: var(--gra-color--gray-600);
    margin: 5px 5px;
  }

  &__suggestion-list {
    padding: 0;
    font-size: 12px;
    color: var(--gra-color--gray-900);

    li {
      list-style-type: none;
      padding: 3px 5px;

      &:hover {
        background-color: var(--gra-color--gray-200);
        cursor: pointer;
      }

      &.binding-picker__suggestion--selected {
        color: var(--gra-color--white);
        background-color: var(--gra-accent-color);
      }
    }
  }
}
