$arrowSize: 0.8rem;
$padding: 1rem;

:host {
    padding: $padding;
    z-index: 80;
    position: fixed;
}

.tooltip {
    position: relative;
    width: 100%;
    height: 100%;

    .tooltip-arrow {
        width: 0;
        height: 0;
        position: absolute;
    }

    .tooltip-inner {
        padding: 0.8rem;
        word-wrap: break-word;
        white-space: pre-line;
        text-align: left;
        color: black;
        background-color: white;
        max-width: 20rem;
        font-size: 1rem;
        font-weight: normal;
        filter: drop-shadow(rgba(black, 0.4) 0 0 .15rem) drop-shadow(rgba(black, 0.15) 0 0.65rem 0.6rem);
    }

    &.bottom .tooltip-inner:after {
        height: 0;
        width: 0;
        position: absolute;
        border: solid transparent;
        content: " ";

        left: 50%;
        bottom: 100%;
	    border-bottom-color: white;
	    border-width: $arrowSize;
        margin-left: -$arrowSize;
    }

    &.top .tooltip-inner:after {
        height: 0;
        width: 0;
        position: absolute;
        border: solid transparent;
        content: " ";

        left: 50%;
        top: 100%;
	    border-top-color: white;
	    border-width: $arrowSize;
        margin-left: -$arrowSize;
    }

    &.right .tooltip-inner:after {
        height: 0;
        width: 0;
        position: absolute;
        border: solid transparent;
        content: " ";

        top: 50%;
        right: 100%;
	    border-right-color: white;
	    border-width: $arrowSize;
        margin-top: -$arrowSize;
    }

    &.left .tooltip-inner:after {
        height: 0;
        width: 0;
        position: absolute;
        border: solid transparent;
        content: " ";

        top: 50%;
        left: 100%;
	    border-left-color: white;
	    border-width: $arrowSize;
        margin-top: -$arrowSize;;
    }
}
