@import '@bmi/ui/styles/utilities';

* {
  box-sizing: border-box;
}


.board-summary {
  &__panel {
    border-radius: .3rem;
    border: .2rem solid var(--gra-color--gray-300);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    min-width: 0;

    margin-bottom: var(--gra-spacing);

    &__header {
      display: flex;
      background-color: var(--gra-color--gray-300);
      margin: 0;
      padding: 1rem;

      h3 {
        flex: 1;
        margin: 0;
      }
    }
  }

  &__layout {
    display: grid;
    grid-template-areas:"body" "sidebar";
    grid-gap: 2rem;

    @media screen and (min-width: 1300px) {
      grid-template-columns: 5fr 2fr;
      grid-template-areas: "body sidebar";
    }
  }

  &__body {
    grid-area: body;
    min-width: 0;
  }

  &__sidebar {
    grid-area: sidebar;
    min-width: 0;
  }

  &__sidebar-major-buttons {
    button, a, ui-dropdown-menu {
      display: inline-block;
    }
  }

  &__add-menu {
    display: inline-block;
    margin-bottom: var(--gra-spacing);
  }

  &__section {
    margin-bottom: var(--gra-spacing-dbl);

    h3 {
      border-bottom: 1px solid var(--gra-color--gray-300);
    }
  }

  &__sidebar-actions-list, &__related-boards {
    @include ui-list-unstyled();

    li {
      margin: 5px 0;
    }

    ui-icon {
      margin-right: 5px;
    }
  }

  &__field {
    background-color: var(--gra-color--gray-200);
    border: 1px solid var(--gra-color--gray-300);
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 3px;

    h4 {
      margin: 0;
    }
  }

  &__field-id {
    color: var(--gra-color--gray-600);
  }

  &__field-id--unexpected {
    font-weight: 400;
    color: var(--gra-color--gray-900);
  }

  &__property-list {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 0 var(--gra-spacing);

    & > * { min-width: 0; }

    dt, dd {
      margin: 0;
    }
  }
}

