<header>

  <h1>Boards</h1>

  <section class="list-actions">
    <ui-search-input
      [placeholder]="'Search boards'"
      [selection]="true"
      (newSearch)="updateSearch($event)">
    </ui-search-input>
    <button type="button" class="btn btn--ghost" [routerLink]="['/board', 'create']">
      <span class="icon-add"></span>
      Create board
    </button>
  </section>

</header>

<ui-loading-container [isLoading]="!allBoardConfigs" errorMessage="Unable to load boards">
  <ng-template>

    <section class="object-list-columns">

      <section class="object-list">
        <ng-container *ngTemplateOutlet="boardList; context: {boardConfigs: filteredBoards}">
        </ng-container>
      </section>

      <section *ngIf="enableSidebar" class="board-summary">
        <ng-container *ngIf="selectedConfig | async as config">

          <header class="summary-header">
            <h2>{{ config.name }}</h2>
            <ng-container *ngTemplateOutlet="actions; context: {board: config, classes: 'btn btn--ghost'}">
            </ng-container>
          </header>

          <ng-container *ngIf="getOptionlistBoards(config) as boardIds">
            <h3 class="board-refs-heading">This board references</h3>
            <ul class="inline-list">
              <li *ngFor="let boardId of boardIds" class="ref-out" (click)="selectBoard(boardId)" title="{{ boardId }}">
                {{ (getBoardConfig(boardId) | async).name }}
              </li>
            </ul>
          </ng-container>

          <ng-container *ngIf="getBoardReferences(config) | async as boardIds">
            <h3 class="board-refs-heading">Boards that reference {{ config.name }}</h3>
            <ul class="inline-list">
              <li *ngFor="let boardId of boardIds" class="ref-in" (click)="selectBoard(boardId)" title="{{ boardId }}">
                {{ (getBoardConfig(boardId) | async).name }}
              </li>
            </ul>
          </ng-container>

          <gravity-config-viewer
            [pageTitle]="'Board Properties'"
            [config]="config.config">
          </gravity-config-viewer>

        </ng-container>
      </section>

    </section>
  </ng-template>
</ui-loading-container>

<ng-template #boardList let-boardConfigs="boardConfigs">
  <ul>
    <li
      class="board-item"
      *ngFor="let board of boardConfigs | async"
      [class.selected]="isSelected(board)"
      [class.ref-in]="isRefIn(board)"
      [class.ref-out]="isRefOut(board)"
      (click)="boardRowClicked(board.id)"
      [title]="getBoardTooltip(board)">
      <span class="grow"  [innerHTML]="board.name | highlightTerm:search"></span>
      <ng-container *ngTemplateOutlet="actions; context: {board: board, classes: 'btn btn--link'}">
      </ng-container>
    </li>
  </ul>
</ng-template>

<ng-template #actions let-board="board" let-classes="classes">
  <a class="{{ classes }}" [routerLink]="['/board', board.id]">
    <span class="ui-icon ui-icon-home"></span> Summary
  </a>
  <a class="{{ classes }}" [routerLink]="['/board', board.id, 'edit']">
    <span class="ui-icon ui-icon-edit"></span> Edit
  </a>
  <a class="{{ classes }}" [routerLink]="['/board', board.id, 'data-viewer']">
    <span class="ui-icon ui-icon-table"></span> Data
  </a>
</ng-template>
