.summary-header {
  display: flex;
  align-items: center;
  h2 {
    margin: 2rem 0 0;
    flex-grow: 1;
  }

  a {
    margin-top: 2rem;
    margin-left: .5rem;
    flex-grow: 0;
  }
}

.object-list ul > li:hover {
  text-decoration: none;
}

.inline-list {
  margin-top: 0.5rem;

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: .5rem;
    margin-bottom: .3rem;
    background: var(--gra-color--gray-300);
    border-radius: .2rem;
    cursor: pointer;
    &:hover {
      background: var(--gra-color--gray-500);
    }
  }
}

.inline-list li,
li {
  border-left-width: 0.8rem;
  border-left-style: solid;
  border-left-color: rgba(0,0,0, .03);

  &.ref-in {
    border-left-color: var(--gra-color--warning);
  }

  &.ref-out {
    border-left-color: var(--gra-color--ocean);
  }

  &.ref-in, &.ref-out {
    padding-right: 1rem;
  }
}

.board-refs-heading {
  margin-bottom: 0.5rem;
}

.btn--link {
  padding: 0;
}
