::ng-deep gravity-spreadsheet-modal-uploader > ui-modal > .iv-modal,
::ng-deep gravity-upload-status > ui-modal > .iv-modal {
  width: 90rem !important;
  max-width: 90rem !important;
}

header.board-header {
  display: flex;
  align-items: baseline;
  justify-content: right;

  // This will prevent the header from spanning off screen if there's a really
  // wide page like the data viewer.
  max-width: calc(100vw - 5rem);

  div.spacer {
    flex-grow: 1;
  }

  h1 > a {
    color: inherit;
    text-decoration: inherit;
  }

  .ui-button {
    display: block;
  }

  .ui-button + .ui-button {
    margin-left: 1rem;
  }
}
