<ui-loader *ngIf="!ready"></ui-loader>
<div *ngIf="ready" class="board-summary__layout">
  <div class="board-summary__body">

    <p *ngIf="boardConfig?.description">{{boardConfig.description}}</p>

    <div class="row">
      <div class="col">
        <div class="board-summary__section">
          <h3>Fields</h3>

          <div *ngFor="let field of fields | async" class="board-summary__field">
            <h4 data-cy="field-label">
              {{field.label}}
              <small
                  class="board-summary__field-id"
                  [class.board-summary__field-id--unexpected]="field.hasUnexpectedId">
                ({{field.id}})
              </small>
            </h4>
            <small>
              <a *ngIf="field.optionlist; else regularField" [routerLink]="['/board', field.optionlist]">
                {{field.typeDescription}}
              </a>
              <ng-template #regularField>
                {{field.typeDescription}}
              </ng-template>

              {{field.descriptiveTerms}}
            </small>
            <div *ngIf="field.description" class="board-summary__field-description">
              <small>{{field.description}}</small>
            </div>
          </div>

        </div>
      </div>

      <div class="col">
        <div class="board-summary__section">
          <h3>Details</h3>
          <dl class="board-summary__property-list">
            <dt>Board Type</dt><dd data-cy="board-type">{{boardConfig.type || '-'}}</dd>
            <dt>Classification</dt><dd data-cy="board-classification">{{boardConfig.classification || '-'}}</dd>
          </dl>
        </div>

        <div class="board-summary__section">
          <h3>Permissions</h3>
          <dl class="board-summary__property-list">
            <ng-container *ngFor="let entry of permissionEntries | async; let id=index">
              <div data-cy="permission-entry">
                <dt data-cy="permission-principal-{{id}}">{{entry.principal}}</dt>
                <dd data-cy="permission-value-{{id}}">{{entry.permission}}</dd>
              </div>
            </ng-container>
          </dl>
        </div>
      </div>
    </div>

    <ui-dropdown-menu class="board-summary__add-menu">
      <button type="button" class="btn btn--success btn--large">
        Add <ui-icon icon="cui-chevron-down"></ui-icon>
      </button>
      <ng-template #items>
        <ui-dropdown-item routerLink="add-rule">Rule</ui-dropdown-item>
        <ui-dropdown-item routerLink="add-resource">Text Resource file</ui-dropdown-item>
        <ui-dropdown-item routerLink="view/create">View</ui-dropdown-item>
        <ui-dropdown-item routerLink="filter">Filter</ui-dropdown-item>
      </ng-template>
    </ui-dropdown-menu>

    <div *ngIf="compulsoryRules?.length" class="board-summary__panel">
      <div class="board-summary__panel__header">
        <h3>Regular Rules</h3>
        <a class="btn btn--link btn--small" type="button" routerLink="add-rule">
          <ui-icon icon="cui-plus"></ui-icon>
          Add rule
        </a>
      </div>
      <ui-list-group class="ui-list-group--tight ui-list-group--borderless ui-list-group--2-column">
        <ui-row-with-menu uiListGroupItem [isActionable]="true" *ngFor="let rule of compulsoryRules; let i=index">
          <a data-cy="compulsory-rule" [routerLink]="['rules', rule.id]">{{ rule.name }}</a>
          <ui-dropdown-menu positionPolicy="right">
            <ng-template #items let-dropdown>
              <ui-dropdown-item icon="shared-ui-trash" (click)="deleteRule(rule)" >Delete Rule</ui-dropdown-item>
            </ng-template>
          </ui-dropdown-menu>
        </ui-row-with-menu>
      </ui-list-group>
    </div>

    <div *ngIf="taskRules?.length" class="board-summary__panel">
      <div class="board-summary__panel__header">
        <h3>Task Rules</h3>
        <a class="btn btn--link btn--small" type="button" routerLink="add-rule">
          <ui-icon icon="cui-plus"></ui-icon>
          Add rule
        </a>
      </div>
      <ui-list-group class="ui-list-group--tight ui-list-group--borderless ui-list-group--2-column">
        <ui-row-with-menu uiListGroupItem [isActionable]="true" *ngFor="let rule of taskRules">
          <a data-cy="task-rule" [routerLink]="['rules', rule.id]">{{ rule.name }}</a>
          <ui-dropdown-menu positionPolicy="right">
            <ng-template #items let-dropdown>
              <ui-dropdown-item icon="shared-ui-trash" (click)="deleteRule(rule)" >Delete Rule</ui-dropdown-item>
            </ng-template>
          </ui-dropdown-menu>
        </ui-row-with-menu>
      </ui-list-group>
    </div>

    <div *ngIf="validationRules?.length" class="board-summary__panel">
      <div class="board-summary__panel__header">
        <h3>Validation Rules</h3>
        <a class="btn btn--link btn--small" type="button" routerLink="add-rule">
          <ui-icon icon="cui-plus"></ui-icon>
          Add rule
        </a>
      </div>
      <ui-list-group class="ui-list-group--tight ui-list-group--borderless ui-list-group--2-column">
        <ui-row-with-menu uiListGroupItem [isActionable]="true" *ngFor="let rule of validationRules">
          <a data-cy="validation-rule" [routerLink]="['rules', rule.id]">{{ rule.name }}</a>
          <ui-dropdown-menu positionPolicy="right">
            <ng-template #items let-dropdown>
              <ui-dropdown-item icon="shared-ui-trash" (click)="deleteRule(rule)" >Delete Rule</ui-dropdown-item>
            </ng-template>
          </ui-dropdown-menu>
        </ui-row-with-menu>
      </ui-list-group>
    </div>

    <div *ngIf="scheduledRules?.length" class="board-summary__panel">
      <div class="board-summary__panel__header">
        <h3>Scheduled Rules</h3>
        <a class="btn btn--link btn--small" type="button" routerLink="add-rule">
          <ui-icon icon="cui-plus"></ui-icon>
          Add rule
        </a>
      </div>
      <ui-list-group class="ui-list-group--tight ui-list-group--borderless ui-list-group--2-column">
        <ui-row-with-menu uiListGroupItem [isActionable]="true" *ngFor="let rule of scheduledRules">
          <a data-cy="scheduled-rule"[routerLink]="['rules', rule.id]">{{ rule.name }}</a>
          <ui-dropdown-menu positionPolicy="right">
            <ng-template #items let-dropdown>
              <ui-dropdown-item icon="shared-ui-trash" (click)="deleteRule(rule)" >Delete Rule</ui-dropdown-item>
            </ng-template>
          </ui-dropdown-menu>
        </ui-row-with-menu>
      </ui-list-group>

    </div>

    <div *ngIf="resources?.length" class="board-summary__panel">
      <div class="board-summary__panel__header">
        <h3>Resources</h3>
        <a class="btn btn--link btn--small" type="button" routerLink="add-resource">
          <ui-icon icon="cui-plus"></ui-icon>
          Add resource
        </a>
      </div>
      <ui-list-group class="ui-list-group--borderless ui-list-group--tight ui-list-group--2-column">
        <ui-row-with-menu uiListGroupItem *ngFor="let resource of resources" [isActionable]="true">
          <a [routerLink]="['resources', resource.id]">
            <ui-icon icon="fa4-code" [fixedWidth]="true"></ui-icon>&nbsp;
            {{ resource.name }}
          </a>
          <ui-dropdown-menu positionPolicy="right">
            <ng-template #items let-dropdown>
              <ui-dropdown-item (click)="deleteResource(resource)" icon="shared-ui-trash">Delete</ui-dropdown-item>
            </ng-template>
          </ui-dropdown-menu>
        </ui-row-with-menu>
      </ui-list-group>
    </div>

    <div *ngIf="views?.length" class="board-summary__panel">
      <div class="board-summary__panel__header">
        <h3>Views</h3>
        <a class="btn btn--link btn--small" type="button" [routerLink]="['view', 'create']">
          <ui-icon icon="cui-plus"></ui-icon>
          Add view
        </a>
      </div>
      <ui-list-group class="ui-list-group--borderless ui-list-group--tight">
        <ui-row-with-menu uiListGroupItem *ngFor="let view of views" [isActionable]="true">
          <a [routerLink]="['view', view.id]">{{ view.name }}</a>
        </ui-row-with-menu>
      </ui-list-group>
    </div>

    <div *ngIf="filters?.length" class="board-summary__panel">
      <div class="board-summary__panel__header">
        <h3>Filters</h3>
        <a class="btn btn--link btn--small" type="button" routerLink="filter">
          <ui-icon icon="cui-plus"></ui-icon>
          Add filter
        </a>
      </div>
      <ui-list-group class="ui-list-group--borderless ui-list-group--tight">
            <ui-row-with-menu uiListGroupItem *ngFor="let resource of resources" [isActionable]="true">
              <a [routerLink]="['resources', resource.id]">
                <ui-icon icon="fa4-code" [fixedWidth]="true"></ui-icon>&nbsp;
                {{ resource.name }}
              </a>
              <ui-dropdown-menu positionPolicy="right">
                <ng-template #items let-dropdown>
                  <ui-dropdown-item (click)="deleteResource(resource)" icon="shared-ui-trash">Delete</ui-dropdown-item>
                </ng-template>
              </ui-dropdown-menu>
        </ui-row-with-menu>
      </ui-list-group>
    </div>
  </div>

  <div class="board-summary__sidebar">

    <section class="board-summary__section board-summary__sidebar-major-buttons">

      <a class="btn btn--secondary btn--large" routerLink="edit">
        <ui-icon icon="cui-edit"></ui-icon> Edit board
      </a>
    </section>

    <section class="board-summary__section">
      <h3>Links</h3>
      <ul class="board-summary__sidebar-actions-list">
        <li>
          <a routerLink="data-viewer">
            <ui-icon icon="cui-tables" [fixedWidth]="true"></ui-icon> Data Viewer
          </a>
        </li>
        <li>
          <a (click)="showBulkDataManagerModal(boardConfig.id)">
            <ui-icon icon="cui-cog" [fixedWidth]="true"></ui-icon> Upload Data
          </a>
        </li>
        <li>
          <a (click)="showUploadStatusModal()">
            <ui-icon icon="cui-upload" [fixedWidth]="true"></ui-icon> Upload Status
          </a>
        </li>
      </ul>
    </section>

    <section *ngIf="relatedBoards | async" class="board-summary__section">
      <h3>Related Boards</h3>
      <ul class="board-summary__related-boards">
        <li *ngFor="let board of relatedBoards | async">
          <a data-cy="related-board-name" [routerLink]="['/board', board.id]">{{board.name}}</a>
        </li>
      </ul>
    </section>


    <section class="board-summary__section">
      <gravity-config-viewer
        [pageTitle]="'Board Properties'"
        [config]="boardConfig?.config">
      </gravity-config-viewer>
    </section>
  </div>
</div>
