<ng-container [formGroup]="form">
  <ui-form-field label="Actual Data Source (pivot)">
    <bmi-data-source-picker formControlName="actualDataSource"></bmi-data-source-picker>
  </ui-form-field>

  <ui-form-field label="Goal Data Source (pivot)">
    <bmi-data-source-picker formControlName="goalDataSource"></bmi-data-source-picker>
  </ui-form-field>

  <ui-form-field label="KPI">
    <bmi-formatter-picker formControlName="kpi" preferredType="optionlist" [hints]="{optionBoard: 'kpi'}"></bmi-formatter-picker>
  </ui-form-field>
</ng-container>
