<ng-container [formGroup]="editorForm" *ngIf="editorForm">
  <section>
    <h3>Page Properties</h3>
    <ui-form-field label="Page Title">
      <input type="text" formControlName="name" />
    </ui-form-field>

    <ui-form-field label="Custom Page URL Id" infoText="Lets you specify a custom ID to use in the URL for this page. Not only does it look nicer, it helps ensure bookmarked links keep working, even if the page needs to be later recreated.">
      <input type="text" formControlName="urlId" placeholder="e.g. example-page" />
      <a *ngIf="hasUsefulUrlSuggestion" href="#" class="suggested-url-link" (click)="$event.preventDefault(); useSuggestedUrl()">Suggested: '{{suggestedUrlId}}'</a>
    </ui-form-field>



    <ui-collapsible-section label="Data Context" type="sidebar">
      <ui-form-field label="Data Context JSON">
        <textarea formControlName="dataContextJson" rows="10"></textarea>
      </ui-form-field>
    </ui-collapsible-section>

    <ui-collapsible-section label="Permissions" type="sidebar">
      <ui-form-field label="Permissions">
        <gravity-permissions-editor formControlName="permissions"></gravity-permissions-editor>
      </ui-form-field>
    </ui-collapsible-section>
  </section>

  <section>
    <bmi-widget-config-editor [widgetConfig]="editorForm.value.rootWidget" [flairEditing]="false" (updateWidgetConfig)="updateRootWidget($event)"></bmi-widget-config-editor>
  </section>

</ng-container>
