/* You can add global styles to this file, and also import other style files */

@import '@bmi/ui/styles/typography';
@import '@bmi/ui/styles/buttons';
@import '@bmi/ui/styles/icons';

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 0;
  font-size: 12px;
}
