:host {
  display: flex !important;
  align-items: center;
  min-height: 39px;

  & ::ng-deep > * {
    flex: 1 1 auto;
  }

  & ::ng-deep > ui-dropdown-menu {
    flex: 0;
    align-self: flex-end;
  }
}

.ui-row-with-menu__options-button {
  opacity: 0;
  flex: 0;
  background-color: unset;
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent !important;
  border-radius: 2px;
  transition: opacity 0.1s;

  :host:hover &, &--open {
    opacity: 1;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: var(--gra-color--gray-300) !important;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1), inset 1px 1px 3px rgba(white, 0.15);
    border: 1px solid var(--gra-color--gray-400) !important;
    border-color: var(--gra-color--gray-400) !important;
  }

  &--open, &--open:hover {
    // some other style rules from the object-home stylesheets are messing with this
    background-color: var(--gra-color--gray-400) !important;
    border: 1px solid !important;
    border-color: var(--gra-color--gray-500) !important;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
  }
}
