<ng-content></ng-content>

<ng-container *ngIf="dropdownMenu">
  <button type=button class="ui-row-with-menu__options-button {{dropdownMenu.isOpen ? 'ui-row-with-menu__options-button--open' : '' }}" (click)="dropdownMenu.toggle()">
    <ui-icon icon="cui-more"></ui-icon>
  </button>
  <ng-content select="ui-dropdown-menu"></ng-content>
</ng-container>
