
<section class="grid-container">

    <div class="download">
        <ui-form-section-header [sectionIndex]="stepIndex" [sectionTitle]="'Download Import Template'"></ui-form-section-header>

        <ul class="instructions">
            <li>The import template downloads an editable spreadsheet with the preloaded template / schema in which the data needs to be entered.</li>
            <li>The downloaded file would also contain records in the system corresponding to the data object / board if any.</li>
        </ul>

        <button type="button" class="ui-button ui-btn--primary" (click)="downloadTemplate(boardId)">Download</button>
    </div>

    <div class="upload">
        <ui-form-section-header [sectionIndex]="(stepIndex - 0) + 1 " [sectionTitle]="'Upload updated Spreadsheet'"></ui-form-section-header>

        <ul class="instructions">
            <li>Refer the following instructions before uploading a file</li>
            <br>
            <u>To ADD new data / records</u>
            <ul>
              <li>After downloading, enter the details for the record/s under the corresponding columns</li>
              <li>For the records to be newly added, keep their 'Id', 'Phase' and 'Card Title' values blank</li>
            </ul>
            <br>
            <u>To EDIT existing data / records</u>
            <ul>
              <li>Only for the concerned record/s, make changes to their values as desired</li>
              <li>Do not update any details that correspond to the 'Id', 'Phase' and 'Card Title' columns in the spreadsheet for the concerned records</li>
            </ul>
            <br>
            <li>For the records that don't need any change, do not make any changes to them</li>
            <li>Upload the spreadsheet once all the changes are made</li>
        </ul>

        <label class="ui-button ui-btn--primary"> Upload
            <input type="file" id="fileinput" (change)="loadFile($event.target.files)">
        </label>
    </div>

    <div class="status" *ngIf="statusMessage">
        <ui-alert-box
        [type]="statusMessage.type">
        {{ statusMessage.description }}
      </ui-alert-box>
    </div>
</section>


