@import '@bmi/ui/styles/buttons';
@import '@bmi/ui/styles/gra-colors';
@import '@bmi/ui/styles/icons';

section {
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.grid-container > div {
  padding: 1rem;
  background-color: $LtGray5;
  border-radius: 0.3rem;
}

.instructions {
  padding: 1.5rem;
}

.status {
  grid-column: 1 / 3;
}

button {
  padding: 0.2rem 1rem !important;
}

input[type="file"] {
  display: none;
}

label {
  padding: 0.2rem 1rem !important;
}

ul {
  list-style-type: square;
}
