<div class="search-container">
  <span class="ui-icon {{ icon }}"></span>
  <span
    class="ui-icon ui-icon-times"
    *ngIf="search && search.length > 0"
    (click)="search = '';searchChanged()"></span>
  <input
    #searchbox
    placeholder="{{ placeholder }}"
    class="search-input"
    (keyup)="searchChanged()"
    [(ngModel)]="search" />
</div>