@import '@bmi/ui/styles/gra-colors';

.search-container {
  position: relative;
  max-width: 32rem;
  .search-input {
    line-height: 1.25;
    height: 2.2rem;
    border-radius: 1.1rem;
    padding: .2rem 3.8rem 0 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    border: .1rem solid $StatusBlue;
    outline-style: none;
    width: calc(100% - 7rem);
    box-sizing: content-box;
    &::placeholder {
      font-weight: 400;
      color: $LtGray2;
    }
  }
  .ui-icon {
    position: absolute;
    color: $LtGray2;
    &.ui-icon-times {
      right: 1rem;
      cursor: pointer;
      font-size: 1.5rem;
      bottom: .5rem;
      padding: .5rem;
      margin: -.5rem;
      &:hover {
        color: $LtGray1;
      }
    }
    &:first-child {
      left: 1rem;
      font-size: 1.25rem;
      bottom: .6rem;
    }
  }
}
