/** don't expand beyond the visible page */
:host ::ng-deep gravity-config-viewer {
  max-width: calc(100vw - 2rem);
  pre {
    max-width: calc(100vw - 10rem);
  }
}


.list-actions {
  ui-search-input {
    flex-grow: 1;
  }
  button {
    margin-left: 1rem;
  }
}

h2 {
  margin: 1rem 0;
}

ul {
  margin-bottom: 1rem;
}


// GRR: the style rules from object-home.scss are screwing with the button
// styling here and it's making it really difficult to work with them as they
// are taking higher precedence.
.page-list__options-button {
  background-color: none;
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent !important;
  border-radius: 2px;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: var(--gra-color--gray-300) !important;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1), inset 1px 1px 3px rgba(white, 0.15);
    border: 1px solid var(--gra-color--gray-400) !important;
  }

  &--open, &--open:hover {
    // some other style rules from the object-home stylesheets are messing with this
    background-color: var(--gra-color--gray-400) !important;
    border: 1px solid var(--gra-color--gray-500) !important;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
  }
}

// TODO: move this rule into ui-dropdown-menu!
ui-dropdown-menu ::ng-deep hr {
  margin: 5px 0px;
}


section {
  margin-bottom: var(--gra-spacing);
}

.module-hub__no-boards-message {
  padding: var(--gra-spacing);

  p {
    font-style: italic;
    margin-bottom: 10px;
  }
}
