
<ui-observable-loader [source]="moduleConfig">
  <ng-template let-config>
    <h1>{{config.name}}</h1>

    <section class="list-actions">
      <ui-search-input
        [placeholder]="'Search pages'"
        [selection]="true"
        (newSearch)="updateSearch($event)">
      </ui-search-input>

      <ui-dropdown-menu positionPolicy="right">
        <button type=button class="btn btn--link">Options <ui-icon icon="cui-chevron-down"></ui-icon></button>
        <ng-template #items>
          <ui-dropdown-item icon="cui-jump-out" (click)="visitModule()">View Module in App...</ui-dropdown-item>
          <hr>
          <ui-dropdown-item icon="cui-edit" [routerLink]="['/module', 'edit', config.id]">Edit module config</ui-dropdown-item>
          <ui-dropdown-item icon="cui-list-menu" [routerLink]="['/module', config.id, 'menu']">Edit Menu</ui-dropdown-item>
          <hr>
          <ui-dropdown-item icon="cui-trash" (click)="confirmDeleteModule()">Delete module...</ui-dropdown-item>
        </ng-template>
      </ui-dropdown-menu>
    </section>

    <div class="row">
      <div class="col">
        <section class="pages">
          <h2>Pages</h2>
          <ul *ngIf="pageList | async as pages">
            <li *ngFor="let page of pages; trackBy: trackPageById">
              <a [routerLink]="['pages', page.id]" class="grow" [innerHTML]="page.title | highlightTerm:search"></a>

              <ui-dropdown-menu #dropdownMenu positionPolicy="right">
                <button type=button class="page-list__options-button {{dropdownMenu.isOpen ? 'page-list__options-button--open' : '' }}"><ui-icon icon="cui-more"></ui-icon></button>
                <ng-template #items>
                  <ui-dropdown-item icon="cui-jump-out" (click)="visitPage(page)">View Page in App...</ui-dropdown-item>
                  <ui-dropdown-item icon="cui-edit" [routerLink]="['pages', page.id]">Edit Page</ui-dropdown-item>
                  <hr>
                  <ui-dropdown-item icon="cui-delete" (click)="confirmDeletePage(page)">Delete <em>{{page.title}}</em> Page...</ui-dropdown-item>
                </ng-template>
              </ui-dropdown-menu>
            </li>
          </ul>
          <button type="button" class="btn" (click)="createPage()">
            <span class="icon-add"></span>
            Create page
          </button>
        </section>
      </div>
      <div class="col">
        <section *ngIf="favoriteBoards | async as boards" class="module-hub__board-list">
          <h2>Boards</h2>
          <ui-list-group *ngIf="boards.length > 0; else noBoardsMessage" class="ui-list-group--tight">
            <ui-row-with-menu uiListGroupItem *ngFor="let board of boards" [isActionable]="true">
              <a [routerLink]="['/board', board.id]">{{board.name}}</a>
            </ui-row-with-menu>
          </ui-list-group>
          <ng-template #noBoardsMessage>
            <div class="module-hub__no-boards-message">
              <p>
                This section gives quick access to boards associated with this
                module. You can configure these from the
                <a [routerLink]="['/module', 'edit', config.id]">module settings</a>
                page.
              </p>
            </div>
          </ng-template>
        </section>

        <gravity-config-viewer
          [config]="config"
          pageTitle="{{ config.name }}">
        </gravity-config-viewer>
      </div>
    </div>
  </ng-template>
</ui-observable-loader>
