:host {
  position: relative;
  display: block;
}


[mat-dialog-content] {
  max-height: unset;
  overflow: visible;
}


.material-modal {
  &__close-button {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 20px;

    border: none;
    background: none;
    padding: 5px;

    // Because this is absolute positioned, it can hide away behind other
    // content.
    z-index: 1;

    cursor: pointer;

    border-radius: 3px;

    &:hover {
      background-color: var(--gra-color--gray-100);
      box-shadow: 1px 2px 4px rgba(black, 0.15);
    }

    &:active, &:focus {
      outline: 1px var(--gra-accent-color);
      box-shadow: 0 0 3px var(--gra-accent-color)
    }
  }

}
