<button class="material-modal__close-button" tabindex="-1" (click)="closeModal()">
  <ui-icon icon="cui-close"></ui-icon>
</button>

<h1 *ngIf="title | async as title">{{title}}</h1>

<div mat-dialog-content>
  <ng-container *cdkPortalOutlet="portal | async"></ng-container>
</div>

<div mat-dialog-actions *ngIf="(hasActions | async) && actions | async as actions" align="end">
  <button type=button
      *ngFor="let action of actions"
      class="btn btn--{{action.buttonStyle}}"
      [disabled]="!!action.isEnabled && !(action.isEnabled | async)"
      (click)="triggerAction(action)">
    <ui-icon *ngIf="action.icon" [icon]="action.icon" [fixedWidth]="true"></ui-icon>
    {{action.buttonText}}
  </button>
</div>
