<section
  #ivModal
  class="iv-modal"
  *ngIf="open"
  [ngStyle]="getModalStyles()"
  (scroll)="scrollModal($event)">
  <ui-close-button (click)="close()"></ui-close-button>
  <ng-content></ng-content>
</section>
