@import '@bmi/ui/styles/gra-colors';

.iv-modal {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  max-height: 80%;
  width: 48rem;
  max-width: 48rem;
  overflow-y: auto;
  z-index: 60;

  background-color: white;
  padding: 3rem;
  box-shadow: 0 .5rem 2.5rem rgba(0,0,0,.5);

  hr {
    margin: .8rem 0 1.4rem;
  }

  p {
    margin: 0 0 .4rem 0;
  }

  ui-close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.25rem;
    color: $LtGray2;
    z-index: 1;
  }

  :host(.size-form) & {
    width: 90rem;
    max-width: 90rem;
  }
}
