<button type="button" class="ui-button ui-btn--default" [disabled]="!hasPreviousPage" (click)="firstPage()">First</button>
<button type="button" class="ui-button ui-btn--default" [disabled]="!hasPreviousPage" (click)="previousPage()">Previous</button>
<span class="page-indicator">
  {{ currentPage }} of {{ totalPages }}
</span>
<button type="button" class="ui-button ui-btn--default" [disabled]="!hasNextPage" (click)="nextPage()">Next</button>
<button type="button" class="ui-button ui-btn--default" [disabled]="!hasNextPage" (click)="lastPage()">Last</button>
