<div [formGroup]="multiStatusEditorForm">
  <ui-form-field label="Optionlist Board">
    <ui-single-select formControlName="optionlistBoard" [options]="optionlistBoards | async" [floating]="true"></ui-single-select>
  </ui-form-field>

  <ui-form-field label="Data Binding">
    <bmi-binding-picker formControlName="fieldId"></bmi-binding-picker>
  </ui-form-field>
</div>
