.multi-status__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 3px;
  div {
    background-color: var(--gra-color--gray-300);
    text-align: center;
    padding: var(--gra-spacing-qtr);
    border-radius: 2.5px;
  }
  .selected {
    background-color: var(--gra-theme-primary);
    color: var(--gra-color--black);
  }
}
