<div class="profile-image">
  <div class="profile-image__placeholder">
    <span class="fa fa-user"></span>
  </div>
  <div class="profile-image__photo" [style.background-image]="cssImageUrl"></div>
  <div class="profile-image__glow"></div>
</div>
