/**
 * Scale the profile from a parent context like:
 *
 * bmi-profile-image {
 *   width: 1337px;
 *   height: 1337px;
 *   font-size: 1337px;
 * }
 *
 * (same font-size maintains the placeholder's scale)
 */


:host {
  display: flex;
  width: 72px;
  height: 72px;
  font-size: 72px;
}


.profile-image {
  flex: 1;

  position: relative;


  &__placeholder, &__photo, &__glow {
    border-radius: 50%;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    overflow: hidden;
  }

  &__placeholder {
    background: var(--gra-color--gray-300);
    color: var(--gra-color--gray-500);
    font-size: 1.111em;
    text-align: center;
  }

  &__photo {
    background-size: cover;
    background-position-x: center;
    background-position-y: 33%;
  }

  &__glow {
    box-shadow: inset -2px -4px 7px 0px rgba(0, 0, 0, 0.2), 1px 1px 3px #00000017;
    overflow: visible;
  }
}
