<ui-observable-loader [source]="credentialObservable | async">
    <ng-template let-credential>
        <h1>{{ credential.isNew ? 'Create Credential' : 'Edit Credential: ' + credential.name }}</h1>
        <credential-editor [formControl]="formControl" (close)="redir()" (save)="redir()"></credential-editor>
    </ng-template>
</ui-observable-loader>