@import '@bmi/ui/styles/gra-colors';

:host {
  display: flex;
}

.page-data-source {
  &__grid {
    // Ensure it fills the height of the host element
    flex: 1;

    display: grid;
    grid-template-columns: 25% 70%;
    gap: 2rem;
    grid-template-areas:
      "sidebar editor";
  }

  &__sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--gra-color--gray-300);
  }

  &__add-menu {
    padding-bottom: 20px;
  }

  &__list {
    grid-area: source-list;
    overflow-y: auto;
    user-select: none;
  }

  &__list-item {
    border-right: 3px solid transparent;
    padding: .3rem 0 .3rem .4rem;

    display: flex;

    &:hover {
      cursor: pointer;
      background: var(--gra-color--gray-200);
    }

    &--selected {
      border-right-color: var(--gra-accent-color);

      .page-data-source__source-label {
        font-weight: 400;
      }
    }
  }

  &__source-icon {
    margin-right: 3px;
  }

  &__source-label {
    font-weight: 300;
    font-size: 1.65rem;
    flex: 1 1 auto;
  }

  &__source-type {
    font-weight: 300;
    color: var(--gra-color--gray-600);
  }

  &__editor {
    position: relative;
    grid-area: editor;
  }
}
