<div class="page-data-source__grid">
  <div class="page-data-source__sidebar">

    <div class="page-data-source__add-menu">
      <ui-dropdown-menu [options]="dropdownItems" (optionClicked)="addSource($event.type)">
        <button type=button class="btn btn--success">
          <ui-icon icon="shared-ui-plus"></ui-icon> Add Source
          <ui-icon icon="shared-ui-caret"></ui-icon>
        </button>
      </ui-dropdown-menu>
    </div>

    <div class="page-data-source__list">
      <ng-container *ngFor="let dataSource of dataSourceEntries; index as i">
        <div
          (click)="selectDataSource(i)"
          [class.page-data-source__list-item]="true"
          [class.page-data-source__list-item--selected]="i === selectedIndex">
          <ui-icon class="page-data-source__source-icon" [icon]="getTypeIcon(dataSource.config.type)" [fixedWidth]="true"></ui-icon>
          <div class="page-data-source__source-label">
            {{ dataSource.id }}
            <br>
            <small class="page-data-source__source-type">{{ getTypeName(dataSource.config.type) }}</small>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="page-data-source__editor" [formGroup]="form">
    <bmi-data-source-entry-editor
      *ngIf="hasSelectedIndex"
      [formControl]="selectedControl"
      (onCloneClicked)="cloneSelectedSource()"
      (onDeleteClicked)="deleteSelectedSource()"
    ></bmi-data-source-entry-editor>
  </div>
</div>
