<ui-stacker-list [items]="formArray">
  <ng-template let-control>
    <ui-dynamic-editor
      [formControl]="control"
      [defService]="defServiceInput"
      [showTitle]="true"
      [collapsible]="collapsible"
      [initiallyOpen]="shouldBeInitiallyOpen(control)"
    ></ui-dynamic-editor>
  </ng-template>
</ui-stacker-list>

<ui-dynamic-editor-add-menu *ngIf="showAddMenu" [defService]="defServiceInput" (configCreated)="addItem($event)">
  <button type=button class="btn btn--link btn--small">
    <ui-icon icon="cui-plus" [fixedWidth]="true"></ui-icon>
    {{addMenuLabel}}
  </button>
</ui-dynamic-editor-add-menu>
