<section
  class="metric__gauge-grid metric__gauge-grid--{{ gaugeSize }}">
  <section class="metric-gauge__section">
    <div
      *ngIf="(type | async) === 'percentage_0_to_100'"
      class="gauge gauge--{{ gaugeConfig.fields.size}}"
      [attr.data-percentage]="roundedValue | async">
      <div class="gauge__circle">
        <div class="mask full">
          <div class="fill" [style.background-color]="color | async"></div>
        </div>
        <div class="mask half">
          <div class="fill" [style.background-color]="color | async"></div>
          <div class="fill fix" [style.background-color]="color | async"></div>
        </div>
      </div>
      <div class="gauge__inset">
        <div class="gauge__percentage">{{ 
          value | async 
        }}<span class="gauge__unit">{{ (value | async) ? '%' : '' }}</span>
        </div>
      </div>
    </div>
    <div 
      *ngIf="(type | async) === 'currency_usd'"
      class="metric-gauge--currency size--{{ gaugeConfig.fields.size}}">
      <div>
        <span class="gauge__unit">$</span>{{ 
          displayNumber(value | async).display 
        }}{{ 
          displayNumber(value | async).unit
        }}
      </div>
    </div>
    <div
      *ngIf="(type | async) !== 'currency_usd' && (type | async) !== 'percentage_0_to_100'"
      class="metric-gauge--numeric size--{{ gaugeConfig.fields.size}}">
      <div>{{ 
          displayNumber(value | async).display 
        }}{{
          displayNumber(value | async).unit
        }}
      </div>
    </div>
  </section>
  <div class="metric__gauge-grid__info">
    <h2>{{ title | async }}</h2>
    <span class="spacing-right">{{ subHeading | async }}</span>
    <bmi-flair-icons class="metric__gauge-grid__icons spacing-right" [flairIcons]="icons | async"></bmi-flair-icons>
    <a
      *ngIf="gaugeConfig.fields.useLink"
      class="btn btn--link btn--small"
      [bmiRouteLink]="route | async">
      {{ linkText | async }}
    </a>
  </div>  
</section>