<hr>
<h2>Metric Gauge</h2>
<ng-container [formGroup]="form">

  <ui-form-field label="Gauge metric card">
    <bmi-data-source-picker formControlName="metricDataCardSource"></bmi-data-source-picker>
  </ui-form-field>

  <ui-form-field label="Gauge size">
    <ui-single-select formControlName="size" [options]="sizeOptions"></ui-single-select>
  </ui-form-field>

  <ui-form-field label="Metric value">
    <bmi-binding-picker formControlName="metricValue"></bmi-binding-picker>
  </ui-form-field>

  <ui-form-field label="Metric type">
    <bmi-binding-picker formControlName="metricType"></bmi-binding-picker>
  </ui-form-field>

  <ui-form-field label="Sub heading">
    <bmi-binding-picker formControlName="subHeading"></bmi-binding-picker>
  </ui-form-field>

  <ui-form-field label="Show link (set route above)">
    <ui-checkbox formControlName="useLink"></ui-checkbox>
  </ui-form-field>

  <ui-form-field label="Link text" *ngIf="form.value.useLink">
    <bmi-binding-picker formControlName="linkText"></bmi-binding-picker>
  </ui-form-field>

  <ui-form-field label="Color settings">
    <bmi-binding-picker formControlName="color"></bmi-binding-picker>
  </ui-form-field>

</ng-container>