.metric {
  &__gauge-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--gra-spacing-half);
    span,
    bmi-flair-icons,
    a {
      font-size: var(--gra-font-size-md);
    }
    .spacing-right {
      padding-right: var(--gra-spacing-qtr);
    }
    h2 {
      font-size: 2.25rem;
      border-bottom: 1px solid var(--gra-color--gray-300);
      margin-bottom: .25rem;
    }
    &--small {
      h2 {
        font-size: 1.75rem;
      }
      span,
      bmi-flair-icons,
      a {
        font-size: var(--gra-font-size-sm);
      }
    }
    &--large h2 {
      font-size: 2.75rem;
    }
    &__icons {
      display: inline-block;
      vertical-align: middle;
      color: var(--gra-color--gray-600);
    }
    .btn--link {
      padding: 0;
      font-weight: 300;
    }
    .gauge__unit {
      font-size: 0.6em;
    }
  }
}
.metric-gauge {
  &__section {
    text-align: center;
  }
  &--currency,
  &--numeric {
    font-size: 2.9rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    &.size--large {
      font-size: 4rem;
      width: 150px;
      height: 150px;
    }
    &.size--small {
      font-size: 1.4rem;
      width: 50px;
      height: 50px;
    }
  }
}
