<div class="quarters-range__form-row" [formGroup]="form" *ngIf="currentModeOption as currentMode">
  <div>
    <ui-select formControlName="mode" placeholder="Mode" [options]="modeOptions"></ui-select>
  </div>

  <div *ngIf="currentMode.showStartQuarter">
    <ui-select placeholder="Start Quarter" formControlName="startQuarter" [optionGroups]="quartersOptions | async"></ui-select>
  </div>

  <div *ngIf="currentMode.showEndQuarter">
    <ui-select placeholder="End Quarter" formControlName="endQuarter" [optionGroups]="quartersOptions | async"></ui-select>
  </div>

  <div *ngIf="currentMode.showNumber">
    <input placeholder="Number of Quarters" type=number min=1 max=100 formControlName="numberOfQuarters">
  </div>
</div>
