.series-group {

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gra-spacing-half);
    margin-bottom: var(--gra-spacing-half);
  }

  &__series-header {
    display: flex;
    align-items: center;
    margin-bottom: var(--gra-spacing-qtr);

    &__color-indicator {
        width: var(--gra-spacing);
      height: var(--gra-spacing);
      border-radius: var(--gra-spacing-half);
      margin-right: var(--gra-spacing-qtr);
    }

    &__title {
      font-size: 15px;
    }
  }
}