<ng-container [formGroup]="form">
  <bmi-data-series-def-editor formControlName="dataSeries"></bmi-data-series-def-editor>

  <section class="series-group__form" [formGroup]="form">
    <ui-form-field label="Default series type">
      <ui-single-select formControlName="type" [options]="typeOptions"></ui-single-select>
    </ui-form-field>

    <ui-form-field label="Only show selected series">
      <ui-checkbox formControlName="selectedOnly"></ui-checkbox>
    </ui-form-field>
  </section>

  <section class="series-config">
    <ui-stacker-list
    [items]="seriesSettings"
    class="series-list">
      <ng-template let-item>
        <section class="series-group__series-header">
          <div class="series-group__series-header__color-indicator" [style.backgroundColor]="item.value.color"></div>
          <div class="series-group__series-header__title">
            {{ item.value.label || item.value.value }}
          </div>
        </section>

        <ui-collapsible-section label="Series settings">
          <bmi-chart-series-settings-editor
            [formControl]="item">
          </bmi-chart-series-settings-editor>
        </ui-collapsible-section>
      </ng-template>
    </ui-stacker-list>

    <button type="button" (click)="addSeries()" class="btn btn--small btn--success">
      <span class="ui-icon ui-icon-add"></span>
      Add series
    </button>

  </section>
</ng-container>