ul {
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: .8rem;
  &:nth-child(2n + 1) {
    background-color: var(--gra-color--gray-200);
  }
  .grow {
    flex-grow: 1;
    button {
      text-align: left;
    }
  }
  .row-tag + .grow {
    padding-left: 1rem;
  }
  button {
    background: none;
    border: none;
  }

  .row-action, button {
    &, &:active {
      color: var(--gra-color--gray-700);
      text-decoration: none;
    }
    &:hover {
      color: var(--gra-color--secondary);
    }
  }

  &.selected .row-action:hover {
    color: var(--gra-color--white);
  }

  .row-action {
    margin: 0 0.5rem;
  }

}

.list-actions {
  display: flex;
  justify-content: space-between;
  button {
    align-self: center;
  }
}

.space-top {
  margin-top: 2rem;
}

.space-bottom {
  margin-bottom: 2rem;
}

.row-tag {
  text-transform: uppercase;
  margin: -.4rem -.8rem;
  padding: .4rem .8rem;
  &.type-transpose {
    background: var(--gra-color--success);
  }
  &.type-pivot {
    background: var(--gra-color--primary);
  }
}

.object-list-columns {
  display: flex;
  & > * {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.object-list {
  margin-top: 2rem;
  border-radius: .3rem;
  border: 2px solid var(--gra-color--gray-300);
  ul {
    margin: 0;
  }
  h3 {
    margin: 1rem 1.4rem;
  }
}
// Make the search larger and more obvious.
// Is this a generally useful style? Could add to ui-search-input as an @Input option
:host ::ng-deep .list-actions ui-search-input {
  .search-container {
    input.search-input {
      height: 3.2rem;
      border-radius: 1.6rem;
      border-width: 1px;
      font-size: 1.8rem;
      padding-left: 4rem;

      border-color: var(--gra-color--gray-400);

      transition: border-color 0.2s;

      &:focus {
        border-color: var(--gra-color--secondary);
        box-shadow: 0 0 5px rgba(var(--gra-color--secondary), 0.5);
      }

      &, &::placeholder {
        font-weight: 300;
      }
    }
    span.ui-icon.fa-search,
    span.ui-icon.ui-icon-times {
      font-size: 1.8rem;
      bottom: 1rem;
    }
  }
}

.object-list {
  li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  a,
  a span {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &.btn--link {
      line-height: 1;
      padding: 0 1rem;
      margin: 0;
    }
  }
  h3 {
    border-top: 2px solid var(--gra-color--gray-300);
    color: var(--gra-theme-secondary);
    margin: 0;
    padding: 1rem 1rem 1rem .6rem;
    &:first-of-type {
      border-top: none;
    }
  }
}

.selected,
li:nth-child(2n + 1).selected {
  background: var(--gra-theme-primary-darker);
  color: var(--gra-color--white);
}

body.gra :host ::ng-deep {
  h1 {
    margin: .67em 0;
  }
}
