<header>

  <h1>Transforms</h1>

  <section class="list-actions">
    <ui-search-input
      [placeholder]="'Search transforms'"
      [selection]="true"
      (newSearch)="updateSearch($event)">
    </ui-search-input>
    <button class="ui-button ui-btn--gray-ghost" [routerLink]="['/transform', 'create']">
      <span class="ui-icon ui-icon-plus"></span>
      Create transform
    </button>
  </section>

</header>

<idp-loading-container [isLoading]="!transforms" errorMessage="Unable to load transforms">
  <ng-template>

    <section class="object-list-columns">

      <section class="object-list">
          <ng-container *ngIf="transforms">
            <ul>
              <li
                *ngFor="let transform of filteredTransforms"
                [class.selected]="isSelected(transform)"
                (click)="selectTransform(transform)">
                <span
                  class="grow"
                  [innerHTML]="transform.title | highlightTerm:search">
                </span>
                <a
                  class="row-action"
                  [routerLink]="['/transform', transform.id, 'edit']">
                  <span class="ui-icon ui-icon-edit"></span> Edit
                </a>
                <a
                  class="row-action"
                  [routerLink]="['/transform', transform.id, 'preview']">
                  <span class="ui-icon ui-icon-table"></span> Preview
                </a>
              </li>
            </ul>
          </ng-container>
      </section>

      <section>
        <ui-loading-container *ngIf="selectedTransform" [isLoading]="!selectedConfig">
          <ng-template>
            <gravity-config-viewer
              [config]="selectedConfig"
              [pageTitle]="'Config: ' + selectedTransform.title">
            </gravity-config-viewer>
          </ng-template>
        </ui-loading-container>
      </section>

    </section>
    <a class="btn btn--success" routerLink="/transform/create">
      <ui-icon icon="cui-plus" [fixedWidth]="true"></ui-icon>
      Add Transformation
    </a>
  </ng-template>
</idp-loading-container>
