div.resource-selector__row {
  display: grid;
  grid-template-columns: 1fr 52px;

  ui-select {
    min-width: 100%;
  }
  div.action-cell {
    display: flex;
  }
  button.resource-selector--action {
    padding: 0 2px;
    ui-icon {
      padding-right: 2px;
    }
  }
}
ui-form-field:first-child {
  margin-bottom: 10px;
}

