<ui-form-field label="Board to select resources from" *ngIf="showBoardSelector">
  <ui-select
    [formControl]="boardControl"
    [options]="boardOptions | async"
    [floating]="true"
  ></ui-select>
</ui-form-field>

<ui-form-field [label]="label$ | async">
  <div class="resource-selector__row">
    <ui-select
      [formControl]="control$ | async"
      [optionGroups]="optionGroups$ | async"
    ></ui-select>
    <div class="action-cell">
    <button *ngIf="resourceId"
      type="button"
      title="Edit Resource"
      class="btn btn--link btn--small resource-selector--action resource-selector__edit-button"
      data-cy="resource-selector__edit-button"
      (click)="editResource()">
      <ui-icon icon="cui-edit"></ui-icon>
    </button>
    <button *ngIf="resourceId"
            type="button"
            title="Delete Resource"
            class="btn btn--link btn--small resource-selector--action resource-selector__delete-button"
            data-cy="resource-selector__delete-button"
            (click)="deleteResource()">
      <ui-icon icon="cui-trash"></ui-icon>
    </button>
    </div>
  </div>
  <button
    type="button"
    class="btn btn--link btn--small resource-selector__create-button"
    (click)="createResource()">
    <ui-icon icon="cui-add"></ui-icon>
    Create New Resource
  </button>
</ui-form-field>
