<ui-base-dropdown>
  <ng-template #dropdownControl let-dropdown>
    <ui-select-toggler [isOpen]="dropdown.isOpen" (toggleOpen)="dropdown.toggle()">
      <div class="grid-preset-picker__icon-wrapper">
        <bmi-core-grid-preset-icon *ngIf="selectedOption.preset" [preset]="selectedOption.preset"></bmi-core-grid-preset-icon>
      </div>
      {{ selectedOption.text }}
    </ui-select-toggler>
  </ng-template>
  <ng-template #dropdownContent let-dropdown>
    <div class="grid-preset-picker__dropdown">
      <div
          *ngFor="let option of options"
          class="grid-preset-picker__option {{ option === selectedOption ? 'grid-preset-picker__option--selected' : '' }}"
          (click)="optionClicked(option); dropdown.close()">
        <div class="grid-preset-picker__icon-wrapper">
          <bmi-core-grid-preset-icon *ngIf="option.preset" [preset]="option.preset"></bmi-core-grid-preset-icon>
        </div>
        {{ option.text }}
      </div>
    </div>
  </ng-template>
</ui-base-dropdown>
