@import '@bmi/ui/styles/select-mixins';
@import '@bmi/ui/styles/gra-colors';


.grid-preset-picker {
  &__dropdown {
    @include ui-select-dropdown-background();
    min-width: 300px;
    padding: 1rem;

    overflow-y: scroll;
    min-height: 200px;
    max-height: 400px;
  }

  &__option {
    display: flex;
    cursor: pointer;
    align-items: center;

    &:hover {
      background-color: $LtGray3;
    }
  }

  &__option--selected, &__option--selected:hover {
    background-color: $LakeBlue;
    color: white;

    & bmi-core-grid-preset-icon ::ng-deep div {
      background-color: white;
    }
  }

  &__icon-wrapper {
    display: inline-flex;
    min-width: 40px;
    margin-right: 3px;
    padding: 3px;
  }

  &__option &__icon-wrapper {
    min-height: 35px;
  }
}

bmi-core-grid-preset-icon {
  grid-gap: 3px;
}

ui-select-toggler {
  .grid-preset-picker__icon-wrapper {
    min-height: 25px;
  }

  bmi-core-grid-preset-icon {
    grid-gap: 1px;
  }
}
