nav.sidebar {
  transition: width .1s;
  width: 280px;
  top: 64px !important;
  .sidebar__header-title {
    margin-left: 8px;
  }
}

/*
  These seem to be missing from cui 2.0.0?
*/

.sidebar.sidebar-- {

  &primary {
    background-color:var(--gra-theme-primary);
    &,
    a,
    a:hover,
    ul li a {
      color:var(--gra-theme-primary-color);
    }
    .badge-wrapper .badge {
      box-shadow:0 0 0 var(--gra-badge-border-width) var(--gra-theme-primary);
    }
    ul ul {
      background-color:var(--gra-theme-primary-darker);
    }
  }

  &secondary {
    background-color:var(--gra-theme-secondary);
    &,
    a,
    a:hover,
    ul li a {
      color:var(--gra-theme-secondary-color);
    }
    .badge-wrapper .badge {
      box-shadow:0 0 0 var(--gra-badge-border-width) var(--gra-theme-secondary);
    }
    ul ul {
      background-color:var(--gra-theme-secondary-darker);
    }
  }

  &tertiary {
    background-color:var(--gra-theme-tertiary);
    &,
    a,
    a:hover,
    ul li a {
      color:var(--gra-theme-tertiary-color);
    }
    .badge-wrapper .badge {
      box-shadow:0 0 0 var(--gra-badge-border-width) var(--gra-theme-tertiary);
    }
    ul ul {
      background-color:var(--gra-theme-tertiary-darker);
    }
  }

  &light {
    background-color:var(--gra-theme-light);
    &,
    a,
    a:hover,
    ul li a {
      color:var(--gra-theme-light-color);
    }
    .badge-wrapper .badge {
      box-shadow:0 0 0 var(--gra-badge-border-width) var(--gra-theme-light);
    }
    ul ul {
      background-color:var(--gra-theme-light-darker);
    }
  }

  &dark {
    background-color:var(--gra-theme-dark);
    &,
    a,
    a:hover,
    ul li a {
      color:var(--gra-theme-dark-color);
    }
    .badge-wrapper .badge {
      box-shadow:0 0 0 var(--gra-badge-border-width) var(--gra-theme-dark);
    }
    ul ul {
      background-color:var(--gra-theme-dark-darker);
    }
  }

}

