<nav
  class="sidebar {{ cssClass }}"
  role="navigation"
  [class.sidebar--mini]="!menuOpen">

  <div class="sidebar__header">
    <a (click)="menuOpen = !menuOpen">
      <span class="icon-toggle-menu"></span>
    </a>
    <div class="sidebar__header-title"></div>
  </div>

  <ul>

    <ng-container *ngFor="let item of menuContent,let i = index">
      <li
        class="sidebar__drawer"
        *ngIf="!!item.views" [class.sidebar__drawer--opened]="drawerIsOpen(i)">
        <a (click)="openDrawer($event, i)">
          <span class="{{ item.icon }}"></span>
          <span>{{ item.title }}</span>
        </a>
        <ul>
          <li class="sidebar__item" *ngFor="let subItem of item.views">
            <a [bmiRouteLink]="subItem.route">{{ subItem.title }}</a>
          </li>
        </ul>
      </li>

      <li class="sidebar__item" *ngIf="!item.views">
        <a [bmiRouteLink]="item.route">
          <span class="{{ item.icon }}"></span>
          <span>{{ item.title }}</span>
        </a>
      </li>
    </ng-container>

    <li class="divider"></li>

    <ng-container *ngIf="!!contextTabs">
      <li class="sidebar__item" *ngFor="let item of contextTabs">
        <a [bmiRouteLink]="item.route">
          <span class="{{ item.icon }}"></span>
          <span>{{ item.title }}</span>
        </a>
      </li>
    </ng-container>

  </ul>

</nav>
