@import '@bmi/ui/styles/gra-colors';

.heading {
  padding-top: 1rem;
}

form {
  padding: 0 1rem;
}

ui-form-field {
  margin: 1rem 0;
}

.data-source-condition-group {
  display: grid;
  grid-template-columns: 80% 10%;
  .data-source-condition-field {
    display: inline-grid;
    grid-template-columns: 2fr 1fr 3fr;
    ui-form-field {
      margin: 0 0.1rem;
      min-width: 0;
    }
  }
}



.card-source-editor {
  // This ensures there's enough room for the selects to open without
  // unnecessary scrolling. This wouldn't be necessary with proper overlay
  // support for selects.
  margin-bottom: 100px;


  &__form-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);

    & > * {
      min-width: 0;
    }

    ui-form-field {
      margin: 0;
    }
  }

  &__condition {
    &__field {
      grid-column: span 4;
    }

    &__operation {
      grid-column: span 3;
    }

    &__value {
      grid-column: span 12;
    }
  }


  &__sorting {
    &__orderby, &__descending {
      grid-column: span 6;
    }
  }

  &__sorting-layout {
    grid-template-columns: repeat(1fr);
  }
}

