<div class="card-source-editor" [formGroup]="sourceEditorForm">
  <ui-form-field label="Single Card / Multiple Cards">
    <ui-single-select
      formControlName="type"
      [options]="cardDataSourceOptions"
      [floating]="true"
    ></ui-single-select>
  </ui-form-field>

  <ui-form-field label="Board">
    <ui-select
      formControlName="board"
      [options]="boardOptions | async"
      [floating]="true"
    ></ui-select>
  </ui-form-field>

  <h3>Conditions</h3>
  <ui-form-field label="Condition List" class="condition-list">
    <ui-stacker-list [items]="conditions" [showDrag]="false">
      <ng-template let-condition let-index="index">
        <ng-container [formGroup]="condition">
          <div class="card-source-editor__form-grid card-source-editor__condition">
            <ui-form-field label="Field picker" class="card-source-editor__condition__field">
              <gravity-path-picker
                *ngIf="selectedBoard"
                [board]="selectedBoard"
                formControlName="fieldName"
              ></gravity-path-picker>
            </ui-form-field>
            <ui-form-field label="Operation" class="card-source-editor__condition__operation">
              <ui-select
                formControlName="operation"
                [options]="operationOptions"
                [floating]="true">
              </ui-select>
            </ui-form-field>

            <ui-form-field
                label="Optional?"
                class="card-source-editor__condition__optional"
                helptext="An optional condition will be omitted if the value is not defined">
              <ui-checkbox formControlName="optional"></ui-checkbox>
            </ui-form-field>

            <ui-form-field label="Value" class="card-source-editor__condition__value">
              <bmi-formatter-picker formControlName="value" [preferredType]="getPreferredFormatterType(condition.value)" [hints]="{optionBoard: getOptionlistBoard(condition.value.fieldName)}"></bmi-formatter-picker>
            </ui-form-field>
          </div>
        </ng-container>
      </ng-template>
    </ui-stacker-list>
    <button
      type="button"
      class="btn btn--success data-source-add-condition"
      (click)="addCondition()"
    >
      <ui-icon icon="shared-ui-plus"></ui-icon> Add Condition
    </button>
  </ui-form-field>

  <h3>Sorting</h3>
  <p *ngIf="sourceEditorForm.value.type === 'card'">
    Sorting matters for picking a single card. If multiple cards match the search criteria, the
    first will be chosen. Changing the sort order of the data lets you control which card gets
    returned first.
  </p>

  <div class="card-source-editor__sorting card-source-editor__form-grid">
    <ui-form-field class="card-source-editor__sorting__orderby" label="Order By Field (will default to card ID if blank)">
      <input formControlName="orderBy">
    </ui-form-field>

    <ui-form-field class="card-source-editor__sorting__descending" label="Sort descending (e.g. Z -> A)">
      <ui-checkbox formControlName="descending"></ui-checkbox>
    </ui-form-field>
  </div>


</div>
