<ui-base-dropdown *ngIf="!isDisabled" [(isOpen)]="isOpen" (isOpenChange)="onDropdownToggled($event)">

  <ng-template #dropdownControl let-dropdown>
    <ui-select-toggler
      [isOpen]="dropdown.isOpen"
      (toggleOpen)="toggle()">
      <div *ngIf="loadingOptions" class="loader loader--small">
        <div class="wrapper"><div class="wheel"></div></div>
      </div>
      <ng-container *ngIf="!loadingOptions">
        <ng-template *ngIf="selectedValues" ngFor let-option [ngForOf]="selectedValues" let-i="index" let-last="last">
          {{ (option.text || option) + (last ? '' : ', ') }}
        </ng-template>
        <span *ngIf="!selectedValues" >{{placeholder}}</span>
      </ng-container>
    </ui-select-toggler>
  </ng-template>

  <ng-template #dropdownContent let-dropdown>
    <div class="dropdown-wrapper">
      <ui-multi-select-option-list
        [showSearch]="!isSimpleMode"
        [optionGroups]="visibleOptionGroups"
        [selectedOptions]="selectedOptions"
        (optionsSelected)="selectOptions($event)"
        (newSearch)="doSearch($event)">
      </ui-multi-select-option-list>
    </div>
  </ng-template>

</ui-base-dropdown>

<div class="input-disabled" *ngIf="isDisabled">
  <input disabled="true" [ngModel]="selectedValues">
</div>
