@import '@bmi/ui/styles/select-mixins';

.dropdown-wrapper {
  @include ui-select-dropdown-background();
  padding: 1rem;
  min-width: 200px;
}

.loader.loader--small .wrapper {
  padding: 3.5px 0;
  .wheel {
    border-width: 2.5px;
    width: 20px;
    height: 20px;
  }
}

.input-disabled {
  input {
    width: 100%;
  }
}
