<div *ngIf="showSearch" class="input-search">
  <span class="ui-icon ui-icon-search"></span>
  <input #searchBox autofocus placeholder="Search items">
</div>
<div class="scroller">

  <section
    *ngFor="let group of optionGroups; trackBy: trackOptionGroup"
    class="select-options__group"
    [class.select-options__group--collapsible]="group.collapsible">
    <h4
      *ngIf="group.title || group.collapsible"
      class="select-options__group-title"
      (click)="toggleGroupCollapsed(group)">
      <ui-icon
        *ngIf="group.collapsible"
        [icon]="isGroupCollapsed(group) ? 'shared-ui-plus-square-o' : 'shared-ui-minus-square-o'">
      </ui-icon>
      {{group.title}}
    </h4>
    <ul class="select-options__option-list" *ngIf="true || !isGroupCollapsed(group)">
      <li
        *ngFor="let option of group.options; trackBy: trackOption"
        (click)="selectOption(option)"
        class="select-options__option"
      >
        <span class="checkbox" [class.selected]="isSelectedOption(option)"></span>
        <span>{{ option.text || option }}</span>
      </li>
    </ul>
  </section>
</div>
