<div class="phase-edit-form">
  <h2 class="phase-edit-form__editor-title">Change Card Phase</h2>
  <ui-loading-container [isLoading]="!!loadingMessage" [loadingMessage]="loadingMessage">
    <ng-template>
      <h3>{{ cardData.fields.name }}</h3>
      <ui-form-field label="Phase">
        <ui-select
          [options]="phaseOptions | async"
          [formControl]="phaseControl"
        >
        </ui-select>
      </ui-form-field>
      <ui-form-field>
        <button
          type="button"
          class="btn btn--primary"
          (click)="saveForm()"
        >
          Save phase
        </button>
      </ui-form-field>
    </ng-template>
  </ui-loading-container>
</div>