@import '@bmi/ui/styles/gra-colors';
@import '@bmi/ui/styles/utilities';

.stacker-boxes {
  position: relative;

  &.horizontal {
    display: flex;
    margin: 0 -.25rem;
    overflow-y: auto;
    max-width: 100%;
  }
}

ui-stacker-box, idp-stacker-box, .placeholder-item {
  display: block;
  margin-bottom: 0.4rem;

  .horizontal & {
    flex: 1 0 10rem;
    max-width: 18rem;
  }

  &.default-style {
    @include ui-gray-box();
  }

}


.dragged-item {
  position: fixed;
  z-index: 100;
  overflow: visible;

  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2);
}


.placeholder-item {
  box-sizing: border-box;
  @include ui-gray-box();
  opacity: 0.5;
}
