<div class="stacker-box" [class.no-move-buttons]="!dragHandle">
	<div class="stacker-box-move-button-pane">
		<div *ngIf="dragHandle" class="stacker-box-drag-handle" (mousedown)="dragStarted($event)">
			<span class="ui-icon ui-icon-ellipsis-v"></span>
		</div>
	</div>
	<div class="stacker-box-delete-button-pane" *ngIf="!hideDelete">
        <button type="button" class="stacker-box-button delete" (click)="deleteClicked.emit()"><span class="ui-icon ui-icon-trash" aria-hidden="true"></span></button>
	</div>
	<div class="stacker-box-content">
		<div *ngIf="heading" class="stacker-box-title">{{heading}}</div>
		<ng-content></ng-content>
	</div>
</div>
