@import '@bmi/ui/styles/gra-colors';



.stacker-box {
  display: grid;
  grid-template-columns: 1.3rem 1fr 1.6rem;
  grid-template-rows: auto;
  grid-template-areas:
    "move-buttons content delete-button";

  &.no-move-buttons {
    grid-template-columns: 1fr 1.6rem;
    grid-template-areas: "content delete-button";
  }
}

.stacker-box-drag-handle {
  cursor: grab;
  background: var(--gra-color--gray-400);
  color: var(--gra-color--gray-600);
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: .4rem;
  &:hover, &:active {
    background: var(--gra-color--gray-500);
    color: var(--gra-color--gray-700);
  }
}

.stacker-box-title {
  font-size: 1.5rem;
  color: $LtGray1;
  border-bottom: 1px solid $LtGray2;
  text-shadow: 0 0 4px $White;
}

.stacker-box-delete-button-pane {
  grid-area: delete-button;
}

.stacker-box-content {
  grid-area: content;
  padding: .4rem .2rem .4rem .8rem;
}

.stacker-box-button.delete {
  color: var(--gra-color--gray-500);
  cursor: pointer;
  border: none;
  background: none;
  text-shadow: none;
  padding: .4rem .4rem 0 0;
  &:hover {
    color: var(--gra-color--danger);
  }
  &:active {
    color: var(--gra-color--danger-darker);
  }
}
