<section *ngIf="items" class="stacker-boxes">
    <ng-container *ngFor="let item of items.controls; let index=index">
      <ui-stacker-box
        [class.dragged-item]="draggedItem === item"
        [class.default-style]="!customStyles"
        [style.left.px]="draggedItem === item ? mousePosition.x - dragOffset.x : undefined"
        [style.top.px]="draggedItem === item ? mousePosition.y - dragOffset.y : undefined"
        [style.width.px]="draggedItem === item ? draggedItemRect.width : undefined"
        [style.height.px]="draggedItem === item ? draggedItemRect.height : undefined"
        [dragHandle]="showDrag"
        [hideDelete]="hideDelete"
        [formGroup]="item"
        (dragStart)="dragStarted(item, $event)"
        (deleteClicked)="removeField(index)">
        <ng-container [ngTemplateOutlet]="contentTemplate" [ngTemplateOutletContext]="{$implicit: item, index: index}"></ng-container>
      </ui-stacker-box>

      <div
          *ngIf="draggedItem === item"
          class="placeholder-item"
          [style.width.px]="draggedItemRect?.width"
          [style.height.px]="draggedItemRect?.height">
        &nbsp;
      </div>
    </ng-container>
  </section>

