.badges {
  display: inline-block;
}

idp-alert-box h4 {
  margin-top: 0;
}

ui-checkbox {
  display: inline-block;
}

.hazard-badge {
  display: inline-block;
  border: 0.2rem solid;
  font-size: 1.2rem;
  line-height: 1rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}


modal ::ng-deep .iv-modal {
  width: 70rem;
  max-width: 70rem;
}
