<ui-modal>
  <h2>Confirm save rule?</h2>
  <p>
    Rules are an advanced feature of Gravity and incorrectly configured rules can cause data loss, crashes or serious performance issues on
    the Gravity servers!
  </p>
  <p>
    Please only save the rules if you're sure you know what you're doing and understand the consequences!
  </p>

  <ng-container *ngIf="validationErrors?.length > 0">
    <hr>

    <h3>Validation Issues</h3>
    <ui-alert-box *ngFor="let validationError of validationErrors" [type]="getSeverityAlertBoxType(validationError.severity)">
      <h4>{{validationError.synopsis}}
        <div *ngIf="validationError.hazards?.length > 0" class="badges">
          <ng-container *ngFor="let hazard of validationError.hazards">
           <ng-container [ngSwitch]="hazard">
              <div *ngSwitchCase="'loop'" class="hazard-badge" tooltip="Potential Infinite Loop"><span class="ui-icon fa-fw ui-icon-repeat"></span></div>
              <div *ngSwitchCase="'heavy-load'" class="hazard-badge" tooltip="This rule could result in excessive server load"><span class="ui-icon fa-fw ui-icon-hourglass"></span></div>
              <div *ngSwitchCase="'noop'" class="hazard-badge" tooltip="This rule doesn't seem to do anything"><span class="ui-icon fa-fw ui-icon-question"></span></div>
           </ng-container>
          </ng-container>
        </div>
      </h4>

      <p>{{validationError.detailedMessage}}</p>
    </ui-alert-box>
  </ng-container>

  <ng-container *ngIf="isDangerousRule && canEditDangerousRules">
    <ui-form-field>
      <ui-checkbox [(ngModel)]="yesIKnowItIsDangerous" label="Yes, I know this is potentially dangerous."></ui-checkbox>
    </ui-form-field>
  </ng-container>
  <ng-container *ngIf="isDangerousRule && !canEditDangerousRules">
    <strong>Saving 'dangerous' rules is restricted to developer users.</strong>
    <p>
      Rules with errors or warnings could compromise the stability or data integrity of the system, and so saving these has been restricted
      to users who are in the "Developers" team.
    </p>
  </ng-container>

  <hr>

  <div class="buttons">
    <button class="btn btn--ghost" (click)="close()">Cancel</button>
    <button class="btn btn--primary" [disabled]="!canSaveRule" (click)="confirm()">Save Rule</button>
  </div>
</ui-modal>
