@import '@bmi/ui/styles/gra-colors';

.ui-status-indicator {

  width: 17.5px;
  height: 17.5px;
  border-radius: 50%;
  border: 1px solid rgba(black, 0.3);

  background-color: var(--gra-color--gray-500);
  box-shadow: inset 1px 1px 3px rgba(white, 0.3), 1px 1px 3px rgba(black, 0.1);


  // The indicator can have text or icons placed inside via ng-content. This
  // should style them.
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;

  cursor: default;
  user-select: none;

  &--red { background-color: $StatusRed; }
  &--green { background-color: $StatusGreen; }
  &--yellow { background-color: $StatusYellow; color: black; }
  &--white { background-color: var(--gra-color--gray-100); }
}
