:host {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 26px;
  background: rgba(56, 41, 41, 0.025);
}


$MarkerHalfWidth: 5px;
$MarkerHeight: $MarkerHalfWidth * 2;

.bmi-timeline {

  &__timeline {
    width: 100%;
    height: 26px;
    position: relative;
  }

  &__item {
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  &__roadmap-cell-item {
    background-color: var(--gra-color--gray-400);
    border-radius: 2.5px;
    border: 1px solid var(--gra-color--gray-500);
    color: var(--gra-color--gray-700);

    box-shadow:
      inset 2px 2px 4px rgba(white, 0.4),
      1px 1px 3px rgba(black, 0.1);

    &.bmi-timeline__item--current {
      background-color: var(--gra-theme-primary-darker);

      border-color: rgba(black, 0.3);
      color: white;
      text-shadow: 0 0 4px rgba(black, 0.2);
      font-weight: 400;
    }
  }

  &__roadmap-header-item {
    font-weight: 300;
    font-size: 12px;
    color: var(--gra-color--gray-600);
    text-overflow: ellipsis;

    &.bmi-timeline__item--current {
      color: var(--gra-color--gray-800);
      font-weight: 400;
    }
  }

  &__marker {
    width: 0;
    position: absolute;
    height: 100%;

    &--line {
      border-right: 1px dotted var(--gra-color--gray-600);
    }

    &--thick {
      margin-left: -1px;
      border-right-width: 2px;
    }

    &--color-red {
      border-color: var(--gra-color--danger);
    }

    &--triangle-cap {
      bottom: 0;
      width: 0;
      height: 0;
      border-left: $MarkerHalfWidth solid transparent;
      border-right: $MarkerHalfWidth solid transparent;
      border-top: $MarkerHeight solid var(--gra-color--danger);
      margin-left: -$MarkerHalfWidth;
    }

    &--above {
      z-index: 10;

      // This helps the line "pop" when it's on top of other items by making a
      // small white-ish glow around it.
      box-shadow: 0 0 3px 2px rgba(white, 0.2);
    }
  }
}
