<div
  class="bmi-timeline__marker bmi-timeline__marker--line"
  *ngFor="let line of gridLayout"
  [style.left.%]="line">
</div>
<div
  class="bmi-timeline__marker bmi-timeline__marker--color-red bmi-timeline__marker--above bmi-timeline__marker--thick"
  [class.bmi-timeline__marker--line]="type !== 'roadmap-header'"
  [class.bmi-timeline__marker--triangle-cap]="type === 'roadmap-header'"
  [style.left.%]="currentPercent()">
</div>
<section class="bmi-timeline__timeline">
  <div
    *ngFor="let item of timelineLayout"
    class="bmi-timeline__item bmi-timeline__{{ type }}-item"
    [class.bmi-timeline__item--current]="itemIsCurrent(item)"
    [style.left.%]="item.left"
    [style.width.%]="item.width">
    {{ item.name }}
  </div>
</section>
