@import '@bmi/ui/styles/gra-colors';
@import '@bmi/ui/styles/select-mixins';
@import '@bmi/ui/styles/form-mixins';


:host {
  display: block;
}


.ui-select-toggler {
  @include ui-select-toggler();
  display: flex;
  padding: 0rem 1rem;
  user-select: none;

  &__content {
    flex: 1 1 auto;

    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
  }

  &__caret {
    padding: 0 0.5rem;

    .ui-icon {
      transition: transform 0.2s ease-in-out;

      color: $LtGray2;
      line-height: 3rem;
      font-size: 1.33rem;
    }
  }

  &--open &__caret .ui-icon {
    transform: translateY(-0.1rem) rotate(180deg);
  }

  &--open {
    @include ui-form-control-focus();
  }
}
