@import '@bmi/ui/styles/gra-colors';
@import '@bmi/ui/styles/forms';

:host {
  display: flex;
  flex-direction: column;
}

.input-search {
  position: relative;
  input {
    width: 100%;
    padding: 0 1rem 0 .5rem;
    box-sizing: border-box;
    margin-bottom: .75rem;
    height: 2.5rem;
    line-height: 2.5rem;
  }

  .ui-icon-search {
    position: absolute;
    color: $LtGray2;
    right: 1rem;
    line-height: 2.5rem;
  }
}

.scroller {
  overflow-y: auto;
  flex: 1 1 auto;
  // allows up to ~10 options
  max-height: 34rem;
}


.select-options {

  &__group {
    cursor: default;
    user-select: none;

    & + & {
      margin-top: 15px;
    }
  }

  &__group-title {
    margin: 10px 10px 10px 0px;
    padding-left: 5px;
    border-bottom: 1px solid var(--gra-color--gray-300);
    color: var(--gra-color--gray-700);
  }

  &__group--collapsible &__group-title {
    cursor: pointer;
    transition: background-color 0.05s ease-out, border-color 0.05s ease-out;

    &:hover {
      color: var(--gra-color--gray-900);
      border-color: var(--gra-color--gray-500);
    }
  }

  &__option-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;
  }

  &__option {
    cursor: pointer;
    margin: 0;
    border: none;
    padding: 0.6rem 0.6rem;
    width: 100%;
    transition: background-color 0.05s ease-out;

    &:hover {
      transition: background-color 0s;
      background-color: $LtGray3;
      background-color: var(--gra-color--gray-200);
    }

    &--selected, &--selected:hover {
      background-color: $BrandBlue;
      background-color: var(--gra-theme-primary);
      color: $White;
    }
  }
}


