@import '@bmi/ui/styles/forms';
@import '@bmi/ui/styles/gra-colors';
@import '@bmi/ui/styles/select-mixins';
@import '@bmi/ui/styles/utilities';


// TODO: there's some junk in here that's not directly related to selects.
// Please remove.

$comboHeight: 40rem;

.placeholder {
  color: $LtGray2;
}

.hidden {
  display: none;
}

.select-toggler {
  @include ui-select-toggler();

  &.compact {
    // small context (table)
    background-color: transparent;
    border: none;
    padding: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    i,
    .ui-icon {
      line-height: 2.3rem;
      &.fa-caret-down,
      &.fa-caret-up,
      &.ui-icon-caret-down,
      &.ui-icon-caret-up {
        right: .5rem;
      }
      &.fa-close,
      &.ui-icon-close {
        position: absolute;
        color: $MedGray2;
        right: 2rem;
        font-size: 1.33rem;
      }
    }
  }
}

.select-holder.disabled .select-toggler {
  background-color: $LtGray3;
  cursor: normal;
}

i.fa-search,
i.fa-caret-down,
i.fa-times,
i.fa-caret-up,
.ui-icon-search,
.ui-icon-caret-down,
.ui-icon-time,
.ui-icon-caret-up {
  @include ui-select-toggler-caret();
}
i.fa-search,
.ui-icon-search {
  right: 1rem;
}
i.fa-times,
.ui-icon-times {
  right: 3rem;
  padding: 0 0.5rem 0 0.5rem;
}

.input-search {
  position: relative;
  input {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem 0 .5rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }
}
.remove-link {
  text-decoration: underline;
  cursor: pointer;
  // float: right;
}
h3 {
  margin: 0;
}
.selected-pills {
  ul {
    padding: 0;
    margin-bottom: 0;
  }
}
.selected-pill {
  @include ui-truncate();
  background-color: $LtGray3;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 0 3rem 0 1rem;
  margin: 0 1rem 1rem 0;
  line-height: 2.5rem;
  max-width: 16.25rem;
  i,
  .ui-icon {
    position: absolute;
    right: 1rem;
    top: 0;
    line-height: 2.5rem;
    cursor: pointer;
  }
}

.toggler {
  @include form-control-border();
  padding: 0 2rem;
  box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  border: .1rem solid transparent;
  transition: all .25s;
  margin-top: .3rem;
  width: 100%;
  &.open {
    border-color: $LtGray2;
    padding: 2rem;
  }
  &.floating {
    // options box in small (table) context
    position: absolute;
    z-index: 1;
    background: $White;
    width: 200%;
    max-width: 40rem;
    left: -.1rem;
    padding: 0 .75rem;
    opacity: 0;
    &.open {
      padding: .75rem;
      opacity: 1;
    }
    ul {
      margin: 0;
    }

    li {
      transition: background-color 0.05s ease-out;
    }

    li:hover {
      transition: background-color 0s;
      background-color: $LtGray3;
    }

    .options {
      max-height: 20rem;
    }
    .option {
      border: none;
      padding: 0.6rem 0.6rem;
      width: 100%;
    }
    .checkbox {
      margin: 0 .25rem 0 0;
    }
    .input-search {
      .fa-search,
      .ui-icon-search {
        line-height: 2.5rem;
      }
      input {
        margin-bottom: .75rem;
        height: 2.5rem;
        line-height: 2.5rem;
      }
    }
  }
}

.multi-select {
  .toggler {
    &.open {
      max-height: $comboHeight + 32rem;
    }
  }
}
.single-select {
  .toggler.open {
    max-height: $comboHeight;
  }
}
.options {
  padding: 0 2rem 0 0;
  list-style-type: none;
  overflow-y: scroll;
  max-height: $comboHeight - 9;
}
.option {
  cursor: pointer;
  margin: 0;
  padding: 1.25rem 0;
  border-bottom: .1rem solid $LtGray2;
  &:first-child {
    border-top: .1rem solid  $LtGray2;
  }
}

span.checkbox {
  margin: 0 .5rem 0 1rem;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  padding: .2rem .1rem 0;
  border: .1rem solid $LtGray2;
  border-radius: .2rem;
  display: inline-block;
  &.selected {
    background-color: $BrandBlue;
  }
}

.idp-input-checkbox {
  cursor: pointer;
}
