<div class="ui-select-toggler {{ isOpen ? 'ui-select-toggler--open' : undefined }}">
  <div class="ui-select-toggler__content">
    <ng-content></ng-content>
  </div>
  <div class="ui-select-toggler__caret">
    <span class="ui-icon ui-icon-caret-down"></span>
  </div>
</div>
