@import '@bmi/ui/styles/gra-colors';


/* Bodge: for some reason putting this in the general form controls CSS messes
   up the positioning on the table filters. */

.select-holder {
  position: relative;
}


.blue-display {
    display : inline-grid;

    .blue-button {
        color: $White;
        background: $StatusBlue;
        font-size: 1.4rem;
        font-weight: 500;
        min-width: 45rem;
        .placeholder {
            color: $White;
        }
    }

    .blue-button-open {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }

    .blue-button-closed {
        border-radius: 2rem;
        transition-property: border-radius;
        transition-duration: 0.5s;
    }

    .blue-button-caret {
        color: $White;
    }

    .blue-dropdown {
        color: $White;
        background: $StatusBlue;
        margin-top: 0rem;
    }

    .blue-button-option {
        padding: 0rem;
        overflow-y: scroll;
        max-height:  32rem;
    }

    .blue-button-list-items {
        display:block;
        background: $StatusBlue;
        color: $White;
        padding: 1rem;
        font-size:1.4rem;

        &:hover {
          background-color: mix($DkBlue, $StatusBlue, 33.333%);;
          color: $White;
          cursor: pointer;
        }
    }
}
