<div class="select-holder single-select"
[class.disabled]="disabled"
[class.blue-display]="theme === 'blue'"
[class.menu-body]="theme === 'blue'">
  <div
    class="select-toggler truncate"
    [class.blue-button]="theme === 'blue'"
    [class.blue-button-open]="theme === 'blue' && open"
    [class.blue-button-closed]="theme === 'blue' && !open"
    (click)="toggleOpen()">
    <span
      [class.hidden]="selectedOption && selectedOption.text.length > 0"
      class="placeholder">
      Please select&hellip;
    </span>
    {{ selectedOption?.text }}
    <span
    class="ui-icon ui-icon-close"
    [class.hidden]="!selectedOption?.text"
    (click)="$event.stopPropagation(); clearSelection()"
    [class.blue-button-caret]="theme === 'blue'"></span>
    <span
      class="ui-icon ui-icon-caret-down"
      [class.hidden]="open"
      [class.blue-button-caret]="theme === 'blue'"></span>
    <span
    class="ui-icon ui-icon-caret-up"
    [class.hidden]="!open"
    [class.blue-button-caret]="theme === 'blue'"></span>
  </div>
  <div class="toggler"
  [class.open]="open"
  [class.floating]="floating"
  [class.blue-dropdown]="open && theme === 'blue'"
  (click)="blockClickEvent($event)">
    <div class="input-search">
      <span class="ui-icon ui-icon-search"></span>
      <input
        #box
        [(ngModel)]="search"
        (keyup)="triggerFilterUpdate()"
        (focus)="openControl()"
      />
    </div>
    <ul
    [class.options]="theme === 'default'"
    [class.blue-button-option]="theme === 'blue'">
      <ng-template [ngIf]="!!search">
        <li
          *ngFor="let option of filteredData; trackBy: trackOptionBy"
          (click)="selectOption(option)"
          [class.option]="theme === 'default'"
          [class.blue-button-list-items]="theme === 'blue'"
          [innerHTML]="option.text | highlightTerm:search">
        </li>
      </ng-template>
      <ng-template [ngIf]="!search">
          <li
          *ngFor="let option of filteredData; trackBy: trackOptionBy"
          (click)="selectOption(option)"
          [class.option]="theme === 'default'"
          [class.blue-button-list-items]="theme === 'blue'">
            {{ option.text }}
        </li>
      </ng-template>
      <li
        *ngIf="showNone"
        (click)="selectOption({text:'None',value:''})"
        [class.option]="theme === 'default'"
        [class.blue-button-list-items]="theme === 'blue'"
        [innerHTML]="'None' | highlightTerm:search">
      </li>
    </ul>
  </div>
</div>
