@import '@bmi/ui/styles/select-mixins';
@import '@bmi/ui/styles/gra-colors';

.dropdown-wrapper {
  @include ui-select-dropdown-background();
  min-width: 40rem;
  padding: 1rem;
}

ui-select-option-list {
  min-height: 20rem;
  max-height: 40rem;
}


ul.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0 1rem;
  font-size: 1.2rem;
  user-select: none;

  li {
    display: inline-block;
    cursor: pointer;

    &.tab-selected {
      font-weight: 400;
      color: $BrandBlue;
      border-bottom: 1px solid $BrandBlue;
    }

    &:hover {
      color: $BrandBlue;
    }
  }

  li + li {
    margin-left: 1rem;
  }
}
