<ui-loader *ngIf="isSaving" text="Saving Rule"></ui-loader>

<idp-loading-container [isLoading]="isLoading" [hasError]="!!errorMessage" [errorMessage]="errorMessage">
  <ng-template>

    <div class="rule-editor__layout">

      <div class="rule-editor__content">
        <section class="help-form-section properties" [formGroup]="form">

          <div class="help-form-section__form">
            <div class="row">
              <div class="col">
                <ui-form-field label="Rule Name" [required]="true">
                  <input type="text" formControlName="name" data-cy="input-rule-name">
                </ui-form-field>
              </div>
              <div class="col">
                <ui-form-field label="Rule ID">
                  <input type="text" formControlName="id" data-cy="input-rule-id">
                </ui-form-field>
              </div>
            </div>

            <ui-form-field label="Rule Type" [required]="true" >
              <ui-select formControlName="ruleType" [options]="ruleTypeOptions" [attr.data-cy]="'rule-type'"></ui-select>
            </ui-form-field>

            <ui-form-field label="Description">
              <textarea rows="3" formControlName="description" data-cy="textarea-rule-description"></textarea>
            </ui-form-field>

            <ui-form-field label="Cron" *ngIf="isScheduleRule">
              <bmi-ui-cron-editor formControlName="schedule"></bmi-ui-cron-editor>
            </ui-form-field>

          </div>

        </section>


        <section class="help-form-section start-conditions" *ngIf="isTaskRule">
          <div class="help-form-section__form">
            <h2>Start Conditions</h2>
            <gravity-rule-conditions
              data-cy="rule-start-conditions"
              [conditions]="taskConditions"
              [board]="boardId">
            </gravity-rule-conditions>
          </div>

        </section>

        <section class="help-form-section trigger-conditions" *ngIf="!isScheduleRule">
          <div class="help-form-section__form">
            <h2>Trigger Conditions</h2>
            <ui-alert-box *ngIf="ruleType === 'COMPULSORY' && isUnconditionalRule">
              <strong>Rule has no conditions!</strong>
              <p>
                Without any trigger conditions defined, this rule will run
                whenever a card is added, modified or manually 'examined'.
              </p>
              <p>
                This might be what you want, but it has the potential to cause a
                lot of load on the backend servers if the board is regularly
                updated, especially by integration scripts
              </p>
            </ui-alert-box>

            <gravity-rule-conditions
              data-cy="rule-trigger-conditions"
              [conditions]="automationConditions"
              [board]="boardId">
            </gravity-rule-conditions>
          </div>


        </section>


        <section class="help-form-section rule-actions" [formGroup]="form">

          <div class="help-form-section__form">
            <h2>Actions</h2>
            <bmi-action-editor-list
              [boardId]="boardId"
              formControlName="actions">
            </bmi-action-editor-list>
          </div>


        </section>


        <section class="help-form-section completion-conditions" *ngIf="isTaskRule">

          <div class="help-form-section__form">
            <h2>Completion Conditions</h2>
            <gravity-rule-conditions
              data-cy="rule-completion-conditions"
              [conditions]="completionConditions"
              [board]="boardId">
            </gravity-rule-conditions>
          </div>
        </section>

      </div>

      <div class="rule-editor__help" data-cy="rule-editor-help">
        <ng-container [ngSwitch]="ruleType">
          <ng-container *ngSwitchCase="'COMPULSORY'">
            <h3>Regular Rules</h3>
            <p>
              Regular rules run whenever a card is examined. If the conditions
              are met, then the automation actions are performed.
            </p>
          </ng-container>
          <ng-container *ngSwitchCase="'TASK'">
            <h3>Task Rules</h3>
            <p>
              Task Rules are used when a job should only be performed once.
              Once the task is started, it can be completed by taking some
              automation actions, or optionally if some additional conditions
              are met (e.g. the task is completed by other means)
            </p>
            <p>
              Task rules are useful for coordinating multiple jobs, as you can
              add conditions which check whether a task has been completed on
              the card.
            </p>
          </ng-container>
          <ng-container *ngSwitchCase="'VALIDATION'">
            <h3>Validation Rules</h3>
            <p>
              Validation rules are only run when a card is added or edited, and
              will block the edit if the conditions are not met.
            </p>
            <p>
              If the rule fails validation, it should set the 'result' variable
              to a suitable error message. If the variable is unset or null, the
              validation passes. A validation rule can also have conditions to
              determine if it is active. If the conditions are not met, then the
              <em>validation passes</em>.
            </p>
          </ng-container>
        </ng-container>

        <bmi-viewable-image
          *ngIf="ruleExplanationGraphicAssetFile"
          [src]="ruleExplanationGraphicAssetFile">
        </bmi-viewable-image>

        <div *ngIf="isTaskRule">
          <h4>Start Conditions</h4>
          <p>
            If defined, start conditions determine when a task is "started" for
            a card. Before a task is started, it won't appear in the app UI, nor
            will its trigger conditions be considered. If no start conditions
            are defined, then the task starts immediately.
          </p>
        </div>

        <div>
          <h4>Trigger Conditions</h4>
          <ng-container *ngIf="!isTaskRule; else taskTriggerExplanation">
            <p>
              Trigger conditions determine when the actions are run. If there
              are no conditions, then the actions will run every time the card
              is examined.
            </p>
          </ng-container>
          <ng-template #taskTriggerExplanation>
            <p>
              Once the task has started, the trigger conditions determine when
              the actions are run. If there are no trigger conditions then the
              task actions will be performed immediately after starting the
              task.
            </p>
          </ng-template>
        </div>

        <div>
          <h4>Actions</h4>
          <p>Once the trigger conditions for the rule are met, these actions will be executed in order.</p>
        </div>

        <div *ngIf="isTaskRule">
          <h4>Completion Conditions</h4>
          <p>
            If defined, completion conditions will prevent a task from being marked as complete until met. These happen after the trigger
            condition and actions have been performed.
          </p>
        </div>
      </div>




    </div>

  </ng-template>
</idp-loading-container>


<gravity-rule-save-modal #saveConfirmationModal></gravity-rule-save-modal>
