@import '@bmi/ui/styles/forms';

ui-form-field,
.row {
  & + ui-form-field {
    margin-top: var(--gra-spacing-half);
  }
}

idp-loading-container {
  min-height: 50vh;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:host {
  display: block;
}

section {
  margin-bottom: 2rem;
}


hr {
  margin: 2rem 0;
}


.page-header {
  grid-area: heading;
}


.rule-editor {
  grid-area: editor;

}

.documentation-sidebar {
  grid-area: sidebar;
}


.rule-editor {
  &__layout {
    display: grid;
    grid-template-columns: minmax(720px, 960px) minmax(360px, 480px);
    gap: var(--gra-spacing);
  }

  &__help {
    border-left: 1px solid var(--gra-color--gray-300);
    padding-left: var(--gra-spacing);
  }
}
