<ui-observable-loader [source]="integrationObservable | async">
  <ng-template let-integration>
    <h1>{{ integration.isNew ? 'Create Integration' : 'Edit Integration: ' + integration.name }}</h1>
    <bmi-integration-rule-editor [formControl]="formControl"></bmi-integration-rule-editor>
    <hr>
    <button type=button class="btn btn--primary" (click)="save()" data-cy="btn-save" >Save</button>
    <button type="button" class="btn btn--ghost" (click)="cancel()" data-cy="btn-cancel">Cancel</button>
  </ng-template>
</ui-observable-loader>
