.navigation-list {

  &--vertical,
  &--horizontal,
  &--breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 -3rem -.75rem 0;

    .navigation-list__li {
      list-style-type: none;
      margin-right: 3rem;
      margin-bottom: .75rem;
      word-break: break-word;
    }
  
  }

  &--vertical {
    flex-direction: column;
  }

  &--block {

    display: flex;
    padding: 0;
    flex-wrap: nowrap;
    flex: 0 0 100%;
    .navigation-list__li {
      list-style-type: none;
      margin: 0 var(--gra-spacing-half) 0 0;
      padding: var(--gra-spacing-half) var(--gra-spacing);
      border-radius: 2px;
      background: var(--gra-color--white);
      width: 100%;
      cursor: pointer;
      font-size: 20px;
      @media (min-width: 1280px) {
        font-size: 1.5625vw;
      }
      font-weight: 200;
      a {
        color: var(--gra-font-color);
        text-decoration: none;
        font-weight: 200;
      }
      &.active {
        padding-bottom: 7px;
        border-bottom: 3px solid var(--gra-theme-primary);
      }
      &:hover {
        box-shadow: inset 0 0 0 1px var(--gra-theme-primary); 
      }
      &:last-child {
        margin-right: 0;
      }
    }

  }

}

.ui-icon-chevron-right {
  font-size: .8em;
  margin: 0 -12px 0 12px;
  color: var(--gra-color--gray-500);
}
