.toggler {
  &__gauge-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--gra-spacing-half);
    font-size: var(--gra-font-size-sm);
    h2 {
      font-size: 2rem;
      border-bottom: 1px solid var(--gra-color--gray-300);
      margin-bottom: .25rem;
    }
    &--small h2 {
      font-size: 1.75rem;
    }
    &--large h2 {
      font-size: 2.25rem;
    }
    &__icons {
      display: inline-block;
      vertical-align: middle;
      color: var(--gra-color--gray-600);
    }
    .btn--link {
      padding: 0;
      font-weight: 300;
    }
  }
  &__chart-section {
    position: relative;
    h2 {
      font-size: 1.75rem;
    }
    .icon-exit {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    bmi-widget-host {
      margin: 0 -3px -10px;
    }
  }
}
