<h2>Gauge/chart toggle</h2>
<ng-container [formGroup]="form">

  <ui-form-field label="Gauge metric card">
    <bmi-data-source-picker formControlName="metricCardSource"></bmi-data-source-picker>
  </ui-form-field>

  <ui-form-field label="Gauge size">
    <ui-single-select formControlName="size" [options]="sizeOptions"></ui-single-select>
  </ui-form-field>

  <ui-form-field label="Use color zones">
    <ui-checkbox formControlName="useZones"></ui-checkbox>
  </ui-form-field>

  <ui-form-field label="Color zones" *ngIf="form.value.useZones">
    <bmi-color-zones-editor formControlName="zones"></bmi-color-zones-editor>
  </ui-form-field>

  <ui-form-field label="Show chart">
    <ui-checkbox formControlName="showChart"></ui-checkbox>
  </ui-form-field>

  <ng-container *ngIf="form.value.showChart">

    <ui-form-field label="Chart goal source">
      <bmi-data-source-picker formControlName="goalDataSource"></bmi-data-source-picker>
    </ui-form-field>

    <ui-form-field label="Chart actual source">
      <bmi-data-source-picker formControlName="actualDataSource"></bmi-data-source-picker>
    </ui-form-field>

  </ng-container>

</ng-container>
