::ng-deep body.gra bmi-widget-host .gauge {
  &.gauge--large .gauge__inset {
    width: 132px;
    height: 132px;
    margin-left: 9px;
    margin-top: 9px;
    border: 1px solid var(--gra-color--gray-300);
    .gauge__percentage {
      font-size: 4rem;
      font-weight: 200;
    }
  }
  &.gauge--medium .gauge__inset {
    width: 86px;
    height: 86px;
    margin-left: 7px;
    margin-top: 7px;
    border: 1px solid var(--gra-color--gray-300);
    .gauge__percentage {
      font-size: 2.9rem;
      font-weight: 300;
    }
  }
  &.gauge--small .gauge__inset {
    width: 42px;
    height: 42px;
    margin-left: 4px;
    margin-top: 4px;
    border: 1px solid var(--gra-color--gray-300);
    .gauge__percentage {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}
