
.infobox-text {
  font-size: 42px;
  text-align: center;
  margin-top: 0.25em;
  text-align: left;
}

.title {
  font-size: 15px;
  font-weight: 300;
}


a.infobox__link {
  display: block !important;
}

.infobox-list {
  text-align: left;
  margin: 0;
}
