<div [formGroup]="infoboxForm">

  <section>
    <ui-form-field label="Value">
      <bmi-formatter-picker preferredType="data-binding" formControlName="value"></bmi-formatter-picker>
    </ui-form-field>

    <ui-form-field label="Display Text (optional)">
      <bmi-formatter-picker preferredType="number-format" formControlName="displayValue"></bmi-formatter-picker>
    </ui-form-field>
  </section>

  <section formGroupName="styleOptions">
    <h3>Style</h3>
    <ui-form-field label="Visualization Type">
      <ui-single-select [options]="dataVisualOptions" formControlName="visualization"></ui-single-select>
    </ui-form-field>
    <ui-form-field label="Size Type">
      <ui-single-select [options]="sizeOptions" formControlName="size"></ui-single-select>
    </ui-form-field>
    <ui-form-field label="Color">
      <bmi-formatter-picker preferredType="color-picker" formControlName="color"></bmi-formatter-picker>
    </ui-form-field>
  </section>

</div>
