<div class="infobox-content">

  <ng-container *ngIf="styleOptions | async" [ngSwitch]="visualizationType">

    <bmi-infobox-gauge
      *ngSwitchCase="'gauge'"
      [value]="value | async"
      [displayValue]="displayValue | async"
      [size]="size"
      [color]="color | async">
    </bmi-infobox-gauge>

    <bmi-infobox-progress-bar
      *ngSwitchCase="'bar'"
      [value]="value | async"
      [displayValue]="displayValue | async"
      [size]="size"
      [color]="color | async">
    </bmi-infobox-progress-bar>

    <div class="infobox-text" [style.color]="color" *ngSwitchDefault>

      <div class="infobox-list" *ngIf="(isArray | async); else valueIsString">
        <ul *ngFor="let v of (value | async)">
          <li>{{ v }}</li>
        </ul>
      </div>

      <ng-template #valueIsString>
        <p class="infobox-list">
            {{ displayValue | async }}
        </p>
      </ng-template>

    </div>

  </ng-container>

</div>
