<h2>{{ transformConfig.name }}</h2>

<dl>
  <dd>ID</dd><dt>{{ transformConfig.id }}</dt>
  <dd>Type</dd><dt>{{ transformConfig.type }}</dt>
</dl>

<ng-container *ngIf="!!transformConfig.metadata">
  <ng-container
    *ngTemplateOutlet="keyValueList;context:{object:transformConfig.metadata}">
  </ng-container>
</ng-container>

<ng-container *ngIf="!!transformConfig.transforms">
  <h3>Transformers</h3>
  <ng-container *ngFor="let key of Object.keys(transformConfig.transforms)">
    <h4>{{ key }}</h4>
    <ng-container
      *ngTemplateOutlet="keyValueList;context:{object:getTransformerDisplay(transformConfig.transforms[key])}">
    </ng-container>
  </ng-container>
</ng-container>

<ng-template
  #keyValueList
  let-object="object">
  <dl>
    <ng-container *ngFor="let key of Object.keys(object)">
      <dd>{{ key }}</dd><dt>{{ formatValue(key, object[key]) }}</dt>
    </ng-container>
  </dl>
</ng-template>
