@import '@bmi/ui/styles/forms';

h3 {
  margin: 1em 0;
}

ngx-monaco-diff-editor {
  min-width: 80rem;
  max-width: 128rem;
  min-height: 42rem;
}

ui-validation-summary {
  margin-top: 1rem;
  display: block;
}

:host ::ng-deep .sb-content {
  display: grid;
  grid-template-columns: 1rem 1fr 1fr;
  grid-gap: .5rem 2rem;
  grid-template-areas: "toggle label fieldpath";
  .toggle {
    grid-area: toggle;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .ui-icon {
      color: var(--gra-color--gray-300);
      font-size: 2rem;
    }
  }
  .label-areas {
    grid-area: label;
  }
  .fieldpath {
    grid-area: fieldpath;
  }
  .id {
    grid-area: id;
    display: none;
  }
  .ui {
    grid-area: ui;
    display: none;
    // didn't find a way to expand this to fill the grid cell automatically
    .ui-form-group {
      height: calc(100% - 1.65rem);
    }
    textarea {
      height: calc(100% - 2rem);
    }
  }
  &.open {
    grid-template-areas:
      "toggle label ui"
      "toggle fieldpath ui"
      "toggle id ui";
    .ui, .id {
      display: block;
    }
  }
}

.help-form-section {
  padding-bottom: var(--gra-spacing);
  margin: 0 0 var(--gra-spacing);
  border-bottom: 1px solid var(--gra-color--gray-400);
  display: grid;
  grid-gap: 40px;
  grid-template-columns: minmax(720px, 960px) minmax(360px, 1fr);
  ui-form-field + ui-form-field {
    margin-top: var(--gra-spacing-half);
  }
  :host ::ng-deep & bmi-help-box .blockquote--primary {
    max-width: 480px;
  }
}
