<ui-loading-container [isLoading]="loading">
  <ng-template>

    <form [formGroup]="form">

      <div class="help-form-section">

        <div class="help-form-section__form">
          <ui-form-field label="Board ID">
            <input type="text" formControlName="boardId" [disabled]>
          </ui-form-field>
          <ui-form-field label="ID">
            <input type="text" formControlName="id">
          </ui-form-field>
          <ui-form-field label="Name">
            <input type="text" formControlName="name">
          </ui-form-field>
          <ui-form-field label="Type">
            <input type="text" formControlName="type">
          </ui-form-field>
          <ui-form-field label="UI">
            <textarea formControlName="ui"></textarea>
          </ui-form-field>
        </div>

        <bmi-help-box>
          <h4>ID</h4>
          <p>Will be generated using the Name field (this might change, manual entry could be required)</p>
          <h4>Name</h4>
          <p>User-facing title</p>
          <h4>Type</h4>
          <p>Used by the app to select the correct component or to filter views</p>
          <h4>UI</h4>
          <p>This section has been used by developers to add custom view
            properties. Existing values should be left untouched unless you
            understand how changes will affect the view.
          </p>
        </bmi-help-box>

      </div>

      <h3>Fields</h3>

      <div class="help-form-section">

        <div class="help-form-section__form">
          <ui-stacker-list
            [items]="modifiedFields"
            (orderChanged)="updateViewFields()"
            (itemDeleted)="updateViewFields()">
            <ng-template let-field>

              <section class="sb-content" #stackerContent [formGroup]="field">
                <div class="toggle" (click)="toggleFieldDeets(stackerContent)">
                  <span class="ui-icon ui-icon-chevron-{{ isExpanded(stackerContent) ? 'down' : 'right' }}"></span>
                </div>
                <ui-form-field label="Label" class="label-area">
                  <input formControlName="label">
                </ui-form-field>
                <ui-form-field label="Field path" class="fieldpath">
                  <gravity-path-picker
                    [board]="originalView.boardId"
                    formControlName="fieldPath">
                  </gravity-path-picker>
                </ui-form-field>
                <ui-form-field label="ID" class="id">
                  <input formControlName="id">
                </ui-form-field>
                <ui-form-field label="UI" class="ui">
                  <textarea formControlName="ui"></textarea>
                </ui-form-field>
              </section>

            </ng-template>
          </ui-stacker-list>
          <button type="button" class="btn btn--secondary" (click)="addField()">
            <span class="icon-add"></span>
            Add Field
          </button>
        </div>
        <bmi-help-box>
          <h4>Label</h4>
          <p>By default, labels will be provided by the board template field config. Adding a value here will override this for presentation to users.</p>
          <h4>Field path</h4>
          <p>Where a field references another board, dotted values can pick out a value from a field on that board. For example: <code>staff.name</code>
          <h4>UI</h4>
          <p>This section is used by developers for custom properties. Existing values should be left untouched unless you understand how changes will affect the application.
          </p>
        </bmi-help-box>
      </div>
    </form>

    <h3>Compare changes</h3>
    
    <ngx-monaco-diff-editor
      [options]="options"
      [originalModel]="originalModel"
      [modifiedModel]="modifiedModel">
    </ngx-monaco-diff-editor>
    <button type="button" class="btn btn--ghost" (click)="resetView()">
      <span class="icon-history"></span>
      Revert your changes
    </button>

    <ui-validation-summary [formGroup]="form"></ui-validation-summary>

  </ng-template>
</ui-loading-container>
