@import '@bmi/ui/styles/forms';

.menu-item-card {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-top: .8rem solid var(--gra-color--gray-400);
  padding: 2rem;
  border-radius: .3rem;
  h2 {
    margin-top: 0;
    padding-right: 30px;
  }
  &.error {
    border-color: var(--gra-color--danger);
  }
}

button.btn--small {
  position: absolute;
  right: 20px;
}

ui-form-field.error {
  color: var(--gra-color--danger);
  input {
    border-color: var(--gra-color--danger);
  }
}

:host ::ng-deep ui-form-field.error {
  ui-single-select .select-toggler {
    border-color: var(--gra-color--danger);
  }
}

ui-form-field {
  margin-bottom: 1rem;
}
