$bradius: 3px;
$fullWidth: 360px;
$indent: 20px;

.page-grid {
  display: grid;
  grid-template-columns: $fullWidth auto;
  grid-gap: 2rem;
}
.menu-container {
  position: relative;
}
.group-container {
  user-select: none;
  background: var(--gra-color--white);
  button {
    margin-bottom: 0;
  }
  padding-bottom: 8px;
  margin-bottom: 2px;
  &.dragging {
    opacity: .75;
  }
}
.menu-form  {
  max-width: 480px;
  button,
  ui-form-field {
    margin-bottom: 1rem;
  }
  & > div {
    position: sticky;
    top: 7rem;
  }
}
.box {
  width: $fullWidth;
  background-color: var(--gra-color--gray-300);
  padding: 4px 16px;
  margin-bottom: 2px;
  border-radius: $bradius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: grab;
  h3 {
    height: 16px;
    span {
      margin: -2px 4px 2px 0;
      font-size: 18px;
    }
  }
  h3, h4 {
    margin: 0;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.inner {
    margin-left: $indent;
    width: $fullWidth - $indent;
    background-color: var(--gra-color--gray-400);
  }
  &.selected {
    color: var(--gra-color--white);
    background-color: var(--gra-color--gray-700);
  }
  &.error {
    border-left: 8px solid var(--gra-color--danger);
  }
}
.dragging {
  position: absolute;
  z-index: 1;
  cursor: grabbing;
  .box {
    cursor: grabbing;
  }
}
.drag-placeholder {
  background-color: var(--gra-color--gray-200);
  height: 0;
  border-radius: $bradius;
  width: $fullWidth;
  &.sub {
    width: $fullWidth - $indent;
    margin-left: $indent;
  }
}

.indent {
  margin-left: $indent;
  margin-bottom: 12px;
}
button.indent {
  width: -webkit-fill-available;
}

.help-form-section {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: minmax(720px, 960px) minmax(360px, 1fr);
  :host ::ng-deep & bmi-help-box .blockquote--primary {
    max-width: 480px;
    p {
      font-size: var(--gra-font-size-sm);
    }
  }
}
