<section class="help-form-section">
  <section class="help-form-section__form page-grid">

  <section class="menu-display">

    <ng-container *ngFor="let group of menuItems; let i = index">
      <div class="group-container"
        #box
        [style.top.px]="containerIndex === -1 && dragging === i ? dragLocation : 0"
        [class.dragging]="containerIndex === -1 && dragging === i">

        <div
          (mousedown)="initDrag(i, $event)"
          class="box"
          [class.selected]="group === selectedItem"
          [class.error]="itemIncomplete(group)">
          <h3>
            <span class="{{ group.icon }}"></span>
            {{ group.title }}
          </h3>
          <button
            type="button"
            (mousedown)="deleteGroup(i, $event)"
            class="btn btn--circle btn--ghost">
            <span class="icon-delete"></span>
          </button>
        </div>

        <ng-container *ngFor="let view of group.views; let j = index">
          <div
            #sub
            class="box inner"
            (mousedown)="initSubDrag(i, j, $event)"
            [class.dragging]="containerIndex === i && dragging === j"
            [style.top.px]="containerIndex === i && dragging === j ? dragLocation : 0"
            [class.selected]="view === selectedItem"
            [attr.data-group]="i"
            [class.error]="linkItemIncomplete(view)">
            <h4>
              <span class="{{ view.icon }}"></span>
              {{ view.title }}
            </h4>
            <button
              type="button"
              (mousedown)="deleteView(i, j, $event)"
              class="btn btn--circle btn--ghost">
              <span class="icon-delete"></span>
            </button>
          </div>
          <div 
            class="drag-placeholder sub"
            *ngIf="containerIndex === i && dragging > -1 && j === dragTarget"
            [style.height.px]="placeholderHeight">
          </div>
        </ng-container>

        <button
          type="button"
          (click)="addView(i)"
          class="btn btn--ghost indent">
          <span class="icon-add"></span>
          Add view
        </button>

      </div>
      <div
        class="drag-placeholder"
        *ngIf="dragging >= 0 && containerIndex === -1 && i === dragTarget"
        [style.height.px]="placeholderHeight">
      </div>
    </ng-container>

    <button
      type="button"
      (click)="addGroup()"
      class="btn btn--justified">
      <span class="icon-add"></span>
      Add group
    </button>
  </section>

  <section class="menu-form">
    <div>
      <button type="button" class="btn btn--ghost" (click)="cancelButton()">
        Cancel
      </button>
      <button
        type="button"
        class="btn btn--primary"
        (click)="saveButton()"
        [disabled]="validationFail()">
        Save menu
      </button>
      <ui-form-field required label="Module default route">
        <bmi-core-route-selector [(ngModel)]="defaultRoute" [moduleId]="moduleId"></bmi-core-route-selector>
      </ui-form-field>
      <ng-container *ngIf="!!selectedItem">
        <gravity-admin-menu-item-control
          *ngIf="undefined !== selectedItem.views"
          [itemConfig]="selectedItem"
          [pages]="pages"
          (close)="selectItem(null)">
        </gravity-admin-menu-item-control>
        <gravity-admin-menu-sub-item-control
          *ngIf="undefined === selectedItem.views"
          [moduleId]="moduleId"
          [itemConfig]="selectedItem"
          [pages]="pages"
          (close)="selectItem(null)">
        </gravity-admin-menu-sub-item-control>
      </ng-container>
    </div>
  </section>

</section>
  <bmi-help-box>
    <h4>Main (group / parent) items</h4>
    <p>You can make these items link to pages in the module. This behavior changes if you add a sub item. With at least one sub item in the nested group, the main item no longer works as a page link and instead toggles showing the nested group.</p>
    <h4>Child (inset / sub) items</h4>
    <p>Only a single level of nesting is supported at present.</p>
    <h4>Link parameters</h4>
    <p>Can be added and configured after selecting a route for the item. Where filters exist on the target page, their ids will be pre-populated into this list. Data bound values (can be static / text) will select the corresponding filter values on navigating to the page.</p>
  </bmi-help-box>
</section>