<div class="transform-editor__layout" [formGroup]="form" class="help-form-section">
  <div class="help-form-section__form">
    <div class="row">
      <div class="col">
        <ui-form-field label="Name">
          <input formControlName="name">
        </ui-form-field>
      </div>
      <div class="col">
        <ui-form-field label="Transform ID">
          <input formControlName="id">
        </ui-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>Permissions</h2>
        <gravity-permissions-editor [allowRemoveAdmin]="false" formControlName="permissions"></gravity-permissions-editor>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>Transformers</h2>
        <bmi-transformer-editor-list formControlName="transforms"></bmi-transformer-editor-list>
      </div>
    </div>
  </div>

  <bmi-help-box>
    <h4>Transforms</h4>
    <p>Transforms are a generalised mechanism for extracting data from Gravity. A transform is a pipeline of Transformers, which pass a data object along, adding to it, or transforming the result at each stage.
    </p>
    <p>The bulk of the Transform configuration is setting up the transform pipeline. This object defines each stage of the transform pipeline. The key in this object is arbitrary, the order is determined by sorting on the order field of each transform stage.</p>
    <bmi-viewable-image src="assets/docs/diagrams/transform-diagram.png"></bmi-viewable-image>
  </bmi-help-box>
</div>
