<ui-observable-loader [source]="pluginMetadata">
  <ng-template let-plugin>
    <ng-container *ngIf="plugin; else noPluginAvailable" [formGroup]="form">
      <h3>{{type}}</h3>
      <bmi-plugin-form
        [boardId]="boardId"
        [pluginMetadata]="plugin"
        formControlName="configuration"
      ></bmi-plugin-form>
    </ng-container>

    <ng-template #noPluginAvailable>
      No plugin available for {{ type }} actions.
      <code><pre>{{ originalTransformer | json: 2 }}</pre></code>
    </ng-template>

  </ng-template>
</ui-observable-loader>
