<ui-stacker-list [items]="formArray">
  <ng-template let-actionControl>
    <bmi-transformer-editor
      [formControl]="actionControl"
      [boardId]="transformId"
      [transformerType]="">
    </bmi-transformer-editor>
  </ng-template>
</ui-stacker-list>

<ui-dropdown-menu>
  <button type=button class="btn btn--success">
    <ui-icon icon="cui-plus" [fixedWidth]="true"></ui-icon>
    Add Transformer
  </button>
  <ng-template #items>
    <ui-dropdown-item
      *ngFor="let transformerType of transformerTypes | async"
      (click)="addTransformer(transformerType)">
      {{transformerType.name}}
    </ui-dropdown-item>
  </ng-template>
</ui-dropdown-menu>

