.action-widget {
  &__layout {
    display: grid;
    grid-gap: 10px;

    grid-template-columns: 1fr;

    & > * { min-width: 0; }
  }

  @for $i from 1 through 6 {
    &--#{$i}-column {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  &--density-comfortable {
    grid-gap: 10px;
  }

  &--density-compact {
    grid-gap: 5px;
  }
}
