@mixin action-item($colorVar) {
  border-left-width: 3px !important;
  border-left-style: solid !important;
  border-left-color: rgba($colorVar, 1.0) !important;
  background-color: rgba($colorVar, 0.16) !important;

  &.action-item--is-link:hover {
    box-shadow: 0 0 3px rgba($colorVar, 0.2), 0 0 1px 1px rgba($colorVar, 0.6);
  }
}

:host {
  display: flex;
}


.action-item {
  display: flex !important;
  color: var(--gra-font-color) !important;
  flex-wrap: nowrap !important;
  padding: 10px;
  flex: 1;

  &:hover {
    text-decoration: none !important;
  }

  &--compact {
    padding: 3px;
    font-size: 10px;
  }

  &--compact &--action-title {
    font-size: 10px;
  }

  &--info {
    @include action-item(var(--gra-theme-info-rgb));
  }

  &--warning {
    @include action-item(var(--gra-theme-warning-rgb));
  }

  &--critical {
    @include action-item(var(--gra-theme-danger-rgb));
  }

  &--success {
    @include action-item(var(--gra-theme-success-rgb));
  }

  &__markdown ::ng-deep {
    p { margin: 3px 0; }
  }

  &__icon, &__contents {
    align-self: flex-start;
  }

  &__icon {
    font-size: 18px;
    padding-right: 10px;
  }

  &__action-title {
    font-size: 12px;
    font-weight: 400;
    margin: 3px 0;

    ::ng-deep p {
      margin: 0;
    }
  }

}


