<ng-container [formGroup]="form">

  <ui-form-field label="Layout Density">
    <ui-single-select [options]="densityOptions" formControlName="density"></ui-single-select>
  </ui-form-field>

  <ui-form-field label="Layout columns">
    <input type="number" formControlName="columns" min="1" max="6">
  </ui-form-field>

  <ui-form-field label="No Actions Message">
    <input formControlName="noActionsMessage" placeholder="Optional message to display if there are no actions">
  </ui-form-field>

  <ui-stacker-list [items]="form.controls.actionSources">
    <ng-template let-item>
      <ng-container [formGroup]="item" [bmiThisPathSource]="item.value.dataSourceId">

        <ui-form-field label="Data Source ID">
          <input formControlName="dataSourceId">
        </ui-form-field>

        <ui-form-field label="Title">
          <input formControlName="title">
        </ui-form-field>

        <ui-form-field label="Body">
          <input formControlName="body">
        </ui-form-field>

        <ui-form-field label="Severity">
          <input formControlName="severity">
        </ui-form-field>

        <h4>Data Values</h4>
        <ui-form-field label="Data Values" infoText="These bindings extract data from the action cards and make it available as template variables in the title and body fields above.">
          <bmi-data-map-editor formControlName="data"></bmi-data-map-editor>
        </ui-form-field>

        <bmi-route-editor [moduleId]="moduleId" formControlName="route"></bmi-route-editor>
      </ng-container>
    </ng-template>
  </ui-stacker-list>

  <button type="button" class="btn btn--success" (click)="addActionSource()">Add Action Source</button>
</ng-container>
