<ng-container *ngIf="hasActions | async; else showNoActionsMessage">
  <div class="action-widget__layout action-widget--density-{{density | async}} action-widget--{{columns | async}}-column">
    <bmi-core-action-item
        *ngFor="let action of (actions | async)"
        [action]="action"
        [showIcon]="!(showAsCompact | async)"
        [compact]="showAsCompact | async"
      >
    </bmi-core-action-item>
  </div>
</ng-container>
<ng-template #showNoActionsMessage>
  <h4>{{noActionsMessage | async}}</h4>
</ng-template>
