<a 
  *ngIf="!!action.route"
  [bmiRouteLink]="action.route"
  class="action-item action-item--{{actionStyle.type}} {{ compact ? 'action-item--compact' : ''}} {{ action.route ? 'action-item--is-link' : '' }}"
  >
  <ng-container *ngTemplateOutlet="itemContent"></ng-container>
</a>

<div 
  *ngIf="!action.route"
  class="action-item action-item--{{actionStyle.type}} {{ compact ? 'action-item--compact' : ''}} {{ action.route ? 'action-item--is-link' : '' }}"
  >
  <ng-container *ngTemplateOutlet="itemContent"></ng-container>
</div>

<ng-template #itemContent>
  <span *ngIf="showIcon && actionStyle.icon" class="action-item__icon {{actionStyle.icon}}"></span>
  <div class="action-item__contents">
    <h4 class="action-item__action-title action-item__markdown" [innerHtml]="action.titleHtml"></h4>
    <div class="action-item__action-body action-item__markdown" [innerHtml]="action.bodyHtml"></div>
  </div>
</ng-template>
