<div [formGroup]="form">
  <ui-form-field label="Pivot Transform">
    <ui-select
      formControlName="transformId"
      [options]="transformOptions | async"
      [floating]="true"
    ></ui-select>
  </ui-form-field>

  <ui-form-field label="Condition List" class="condition-list">
    <ui-stacker-list [items]="conditions" [showDrag]="false">
      <ng-template let-condition let-index="index">
        <ng-container [formGroup]="condition">
          <div class="data-source-condition-group">
            <div class="data-source-condition-field">
              <ui-form-field label="Field picker">
                <gravity-path-picker
                  *ngIf="transformBoard"
                  [board]="transformBoard"
                  formControlName="fieldName"
                ></gravity-path-picker>
              </ui-form-field>
              <ui-form-field label="Condition Value">
                <bmi-formatter-picker preferredType="data-binding" formControlName="value"></bmi-formatter-picker>
              </ui-form-field>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </ui-stacker-list>
    <button
      type="button"
      class="btn btn--success data-source-add-condition"
      (click)="addCondition()"
    >
      <ui-icon icon="shared-ui-plus"></ui-icon> Add Condition
    </button>
  </ui-form-field>
</div>
