<ng-container [formGroup]="form">
  <div class="form-row">
    <ui-form-field label="X Axis Field">
      <input formControlName="xAxisField">
    </ui-form-field>

    <ui-form-field label="Is Categorical Data" class="flex-fixed">
      <ui-checkbox formControlName="isCategorical"></ui-checkbox>
    </ui-form-field>
  </div>

  <ui-stacker-list [items]="seriesArray">
    <ng-template let-series>
      <div class="form-row" [formGroup]="series">
        <ui-form-field label="Y Axis Field">
          <input formControlName="yAxisField">
        </ui-form-field>

        <ui-form-field label="Datapoint Name Field">
          <input formControlName="nameField">
        </ui-form-field>
      </div>
    </ng-template>
  </ui-stacker-list>

  <button class="ui-button ui-btn--success" type="button" (click)="addSeriesMapping()">Add series</button>

</ng-container>
