@import '@bmi/ui/styles/gra-colors';
@import '@bmi/ui/styles/forms';

.form-row {
  display: flex;
  flex-direction: row;

  ui-form-field {
    flex: 1 0 auto;
  }

  ui-form-field + ui-form-field {
    margin-left: 1rem;
  }

  .flex-fixed {
    flex: 0 0 auto;
  }
}
