@import '@bmi/ui/styles/gra-colors';

.alert-box {
  border-color: $LtGray2;
  border-width: 1px 1px 1px 4.8rem;
  border-style: solid;
  border-radius: 2px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: $DkGray2;
  font-size: 1.25rem;
  position: relative;
  .alert-box-title {
    margin: 0;
    font-size: 1.875rem;
  }
  .ui-icon {
    position: absolute;
    top: 0.5rem;
    left: -3.6rem;
    font-size: 2.8rem;
    color: $White;
  }
}

.alert-box-default {
  border-color: $StatusBlue;
}

.alert-box-error {
  border-color: $StatusRed;
}

.alert-box-warning {
  border-color: $StatusOrange;
}

.alert-box-success {
  border-color: $StatusGreen;
}
