<div class="alert-box alert-box-{{type}}">
  <span class="ui-icon ui-icon-{{ iconName }}"></span>
  <div>
    <h4 *ngIf="title" class="alert-box-title">{{title}}</h4>
    <ng-content></ng-content>
  </div>
</div>
