ui-form-field {
  margin-top: var(--gra-spacing-half);
}

gravity-permissions-editor {
  display: block;
  max-width: 60rem;
}

.tab-pane {
  max-width: 860px;
}

textarea {
  resize: vertical;
  border-color: var(--gra-color--gray-300);
  min-height: 30px;
  padding: 8px;
}

ui-validation-summary {
  display: block;
  margin-top: var(--gra-spacing);
}
