<iv-loader *ngIf="!form"></iv-loader>

<h2>{{ pageTitle() }}</h2>

<ng-container *ngIf="form &&!saving" [formGroup]="form">

  <ul id="hleft" class="tabs">
    <li *ngFor="let title of ['General', 'Fields', 'Phases', 'Permissions'];let i = index;" class="tab" [class.active]="isActive(i)">
      <a tabindex="i" (click)="activateTab(i)">{{ title }}</a>
    </li>
  </ul>
  <section class="tab-content">

    <section *ngIf="isActive(0)" class="tab-pane" [class.active]="isActive(0)">
      <ui-form-field label="Title" [required]="true">
        <input formControlName="name">
      </ui-form-field>
      <ui-form-field label="ID" [required]="true">
        <input formControlName="id">
      </ui-form-field>
      <ui-form-field label="Description">
        <textarea formControlName="description" rows="6"></textarea>
      </ui-form-field>
      <ui-form-field label="Board type">
        <ui-select [options]="boardTypeOptions" formControlName="boardType"></ui-select>
      </ui-form-field>
      <ui-form-field label="Card name (singular)">
        <input [formControl]="singularControl">
      </ui-form-field>
      <ui-form-field label="Cards name (plural)">
        <input [formControl]="pluralControl">
      </ui-form-field>
      <ui-form-field label="Classification">
        <ui-select [options]="classificationOptions" formControlName="classification"></ui-select>
      </ui-form-field>
      <ui-form-field label="History">
        <ui-checkbox formControlName="history"></ui-checkbox>
      </ui-form-field>
    </section>

    <div *ngIf="isActive(1)" class="tab-pane" [class.active]="isActive(1)">
      <bmi-field-editor-list formControlName="fields"></bmi-field-editor-list>
    </div>

    <div *ngIf="isActive(2)" class="tab-pane" [class.active]="isActive(2)">
      <bmi-phase-editor-list formControlName="phases"></bmi-phase-editor-list>
    </div>

    <div *ngIf="isActive(3)" class="tab-pane" [class.active]="isActive(3)">
      <gravity-permissions-editor formControlName="permissions"></gravity-permissions-editor>
    </div>

  </section>

  <ui-validation-summary [formGroup]="form"></ui-validation-summary>

</ng-container>
