.field-editor {
  &__title-input {
    display: none;
    &--edit {
      display: block;
    }
  }
  :host ::ng-deep &__title label {
    height: 0;
  }
  &__grid {
    display: grid;
    grid-gap: var(--gra-spacing-half);
    grid-template-columns: 2fr 1fr 2fr 60px 60px;
  }
  &__title {
    &__icon {
      color: var(--gra-color--gray-400);
    }
    &:hover span {
      color: var(--gra-color--gray-600);
    }
  }

  &__advanced-options {
    margin-top: var(--gra-spacing-half);
  }
}

h3 {
  height: 29px;
  cursor: pointer;
  &:hover {
    color: var(--gra-color--black);
  }
}

h3,
ui-form-field {
  margin: 0;
  min-width: 0;
  input[disabled] {
    background-color: var(--gra-color--white);
  }
}
