<ng-container [formGroup]="form">
  <ui-click-to-edit [isEditing]="editingTitle" [forceIsEditing]="!hasValidTitle" (isEditingChange)="onIsEditingUpdated($event)" [text]="form.value.label" (onceOpen)="titleInput.focus()">
    <ui-form-field
      [hideLabelIfEmpty]="true">
      <input #titleInput formControlName="label" (blur)="editingTitle = false">
    </ui-form-field>
  </ui-click-to-edit>

  <div class="field-editor__grid">
    <ui-form-field label="ID"  [required]="true">
      <input tabindex="1" formControlName="id" />
    </ui-form-field>
    <ui-form-field label="Type" [required]="true">
      <ui-select [options]="form.value.optionlist ? optionlistTypeOptions : typeOptions" formControlName="type"></ui-select>
    </ui-form-field>
    <ui-form-field label="Source board (optionlist)">
      <ui-select
        formControlName="optionlist"
        [options]="boardOptions"
      ></ui-select>
    </ui-form-field>
    <ui-form-field label="Required">
      <ui-checkbox formControlName="required"></ui-checkbox>
    </ui-form-field>
  </div>

  <ui-collapsible-section
      class="field-editor__advanced-options"
      label="Advanced Options"
      [initiallyOpen]="shouldOpenAdvancedByDefault">

    <ui-form-field label="Field Description">
      <textarea formControlName="description"></textarea>
    </ui-form-field>

    <div class="row">
      <div class="col">
        <ui-form-field [hideLabelIfEmpty]="true">
          <ui-checkbox formControlName="indexed" label="Create a DB index on this field"></ui-checkbox>
        </ui-form-field>
      </div>
      <div class="col">
        <ui-form-field [hideLabelIfEmpty]="true">
          <ui-checkbox formControlName="immutable" label="Immutable after card creation"></ui-checkbox>
        </ui-form-field>
      </div>
    </div>

  </ui-collapsible-section>
</ng-container>
