.phase-editor {
  &__title-input {
    display: none;
    &--edit {
      display: block;
    }
    :host ::ng-deep & label {
      height: 0;
    }
  }
  &__grid {
    display: grid;
    grid-gap: var(--gra-spacing-half);
    grid-template-columns: 1fr 60px;
  }
}

h3 {
  height: 29px;
  margin: 0;
  min-width: 0;
  cursor: pointer;
  span.icon-edit {
    color: var(--gra-color--gray-400);
  } 
  &:hover {
    color: var(--gra-color--black);
    span.icon-edit {
      color: var(--gra-color--gray-600);
    }
  }
}

ui-form-field {
  margin: 0;
  min-width: 0;
  input[disabled] {
    background-color: var(--gra-color--white);
  }
}
