<ng-container [formGroup]="form">
  <ui-click-to-edit [(isEditing)]="editingTitle" [forceIsEditing]="!hasValidName" [text]="form.value.name" (onceOpen)="titleInput.focus()">
    <ui-form-field
      [hideLabelIfEmpty]="true"
    >
      <input
        #titleInput
        formControlName="name"
        (blur)="editingTitle = false"
      />
    </ui-form-field>
  </ui-click-to-edit>

  <div class="phase-editor__grid">
    <ui-form-field label="ID" tabindex="1" [required]="true">
      <input formControlName="id" />
    </ui-form-field>
    <ui-form-field label="Invisible">
      <ui-checkbox formControlName="invisible"></ui-checkbox>
    </ui-form-field>
  </div>
</ng-container>
