<header>
  <h1>Widgets</h1>
  <section class="list-actions">
    <ui-search-input
      [placeholder]="'Search widgets'"
      [selection]="true"
      (newSearch)="updateSearch($event)">
    </ui-search-input>
    <button
      type="button"
      class="btn btn--primary"
      [routerLink]="['/module', moduleId, 'add-widget']">
      <span class="icon-add"></span>
      Create widget
    </button>
  </section>
</header>

<ui-loading-container [isLoading]="!widgets">
  <ng-template>

    <section class="object-list-columns">
      <section class="object-list">
        <ui-alert-box *ngIf="widgets.length === 0" class="no-widgets-alert" type="info">
          <p>There are no widgets in this application yet</p>
          <a class="ui-button ui-btn--success" [routerLink]="['/module', moduleId, 'add-widget']">
            <span class="ui-icon ui-icon-plus"></span>
            Create widget
          </a>
        </ui-alert-box>
        <ng-container *ngFor="let widgetType of widgetTypes">
          <ng-container *ngIf="typeHasWidgets(widgetType)">
            <h3>{{ widgetType }}</h3>
            <ul>
              <li
                *ngFor="let widget of filteredWidgetsByType(widgetType)"
                [class.selected]="isSelected(widget)"
                (click)="selectWidget(widget)">
                <span
                  class="grow"
                  [innerHTML]="displayName(widget) | highlightTerm:search">
                </span>
                <a
                  class="row-action btn btn--link"
                  *ngIf="canEditWidget(widget)"
                  [routerLink]="['/module', widget.applicationId, 'widget', widget.id]">
                  <span class="icon-edit"></span> Edit
                </a>
              </li>
            </ul>
          </ng-container>
        </ng-container>
      </section>

      <section>
        <div class="widget-preview" *ngIf="selectedWidget && canEditWidget(selectedWidget)">
          <h2>Preview: {{ selectedWidget.title }}</h2>
          <ui-loading-container [isLoading]="!chartData">
            <ng-template>
              <bmi-chart-viewer
                [config]="selectedWidget.fields"
                [data]="chartData">
              </bmi-chart-viewer>
            </ng-template>
          </ui-loading-container>
        </div>
        <gravity-config-viewer
          *ngIf="selectedWidget"
          [config]="selectedWidget"
          [pageTitle]="'Config: ' + selectedWidget.title">
        </gravity-config-viewer>
      </section>
    </section>

  </ng-template>
</ui-loading-container>
