gravity-config-viewer {
  margin-top: 2rem;
  display: block;
  width: calc(50vw - 4rem);
}

.object-list-columns ::ng-deep gravity-config-viewer > section.border {
  margin-bottom: 0;
}

.widget-preview {
  border: 2px solid var(--gra-color--gray-200);
  border-radius: 2px;
  margin: 2rem 0 0;
  min-height: 10rem;
  h2 {
    background: var(--gra-color--gray-200);
    margin: 0;
    padding: 1rem;
  }

  ui-loading-container {
    min-height: 20rem;
  }
}

.no-widgets-alert {
  display: block;
  margin: 4rem 8rem;
  min-height: 3rem;
}
