<ng-container [formGroup]="form">
  <ui-form-field label="Name">
    <bmi-binding-picker formControlName="name"></bmi-binding-picker>
  </ui-form-field>
  <ui-form-field label="Description">
    <bmi-binding-picker formControlName="description"></bmi-binding-picker>
  </ui-form-field>
  <ui-form-field label="People">
    <ui-stacker-list [items]="peopleControl">
      <ng-template let-person>
        <ng-container [formGroup]="person">
          <ui-form-field label="Name">
            <bmi-binding-picker formControlName="name"></bmi-binding-picker>
          </ui-form-field>
          <ui-form-field label="USERID">
            <bmi-binding-picker formControlName="userId"></bmi-binding-picker>
          </ui-form-field>
          <ui-form-field label="Role">
            <bmi-binding-picker formControlName="subHeading"></bmi-binding-picker>
          </ui-form-field>
        </ng-container>
      </ng-template>
    </ui-stacker-list>
    <button
      type="button"
      class="btn btn--small btn--secondary"
      (click)="addPerson()"
    >
      Add person
    </button>
  </ui-form-field>
  <ui-form-field label="Custom content">
    <bmi-binding-picker formControlName="template"></bmi-binding-picker>
  </ui-form-field>
</ng-container>
