<div class="formatter__layout">

  <ui-dropdown-menu #menu class="formatter__menu {{ menu.isOpen ? 'formatter__menu--open' : ''}}">
    <button class="formatter__menu-button" title="Change input mode">
      <ui-icon icon="cui-sign-in" [fixedWidth]="true"></ui-icon>
    </button>

    <ng-template #items>
      <ui-dropdown-item
          *ngFor="let formatter of visibleFormatters | async"
          [isActive]="(formatterType | async) === formatter.formatterType"
          (click)="selectFormatterType(formatter.formatterType)">
        {{formatter.name}}
      </ui-dropdown-item>
    </ng-template>
  </ui-dropdown-menu>

  <div class="formatter__control">
    <ng-container *ngIf="formatterPortal | async as portal">
      <ng-container *cdkPortalOutlet="portal"></ng-container>
    </ng-container>
  </div>
</div>


<ng-template #formatterNamePortal cdkPortal let-name="name">
  <h4 class="formatter__name-placeholder">{{name}}</h4>
</ng-template>
