.formatter {
  &__layout {
    display: flex;
    flex-direction: row;
  }

  &__control {
    flex: 1;
  }

  &__menu-button {
    color: var(--gra-color--gray-700);
    font-size: 16px;
    padding: 0;
    margin: 0;

    // This is the height of a typical input control.
    width: 29px;
    height: 29px;

    ui-icon {
      color: var(--gra-color--gray-600);
    }

    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent !important;
    border-radius: 2px;


    &:focus {
      outline: 0;
    }

    &:hover {
      background-color: var(--gra-color--gray-300) !important;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.1), inset 1px 1px 3px rgba(white, 0.15);
      border-color: var(--gra-color--gray-400) !important;
    }

    .formatter__menu--open &,
    .formatter__menu--open &:hover {
      // some other style rules from the object-home stylesheets are messing with this
      background-color: var(--gra-color--gray-400) !important;
      border-color: var(--gra-color--gray-500) !important;
      box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
    }
  }

  &__name-placeholder {
    margin: 5px;
  }
}
