<ng-container [formGroup]="form">
  <ui-form-field title="Notes Board">
    <ui-select formControlName="board" [options]="boardOptions | async"></ui-select>
  </ui-form-field>

  <ui-form-field title="Key Fields">
    <bmi-data-map-editor formControlName="keys"></bmi-data-map-editor>
  </ui-form-field>

  <br>

  <ui-form-field label="Visibility Keys">
    <ui-stacker-list [items]="visibilityKeys">
      <ng-template let-visibilityKey>
        <ng-container>
          <bmi-binding-picker [formControl]="visibilityKey"></bmi-binding-picker>
        </ng-container>
      </ng-template>
    </ui-stacker-list>
    <button type="button" class="btn btn--ghost btn--small" (click)="addVisibilityKey()">Add Visibility Key</button>
  </ui-form-field>

</ng-container>
