.help-form-section {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: minmax(720px, 960px) minmax(360px, 1fr);
  :host ::ng-deep & bmi-help-box .blockquote--primary {
    max-width: 480px;
  }
  &__form > .row {
    margin-bottom: var(--gra-spacing);
  }
}
