<div class="integration-editor__layout" [formGroup]="form" class="help-form-section">
  <div class="help-form-section__form">
    <div class="row">
      <div class="col">
        <ui-form-field label="Name">
          <input formControlName="name">
        </ui-form-field>
      </div>
      <div class="col">
        <ui-form-field label="Integration ID">
          <input formControlName="id">
        </ui-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <ui-form-field label="Integration Type">
          <ui-select formControlName="connector" [options]="connectorOptions | async"></ui-select>
        </ui-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>Integration Config</h2>
        <ui-observable-loader *ngIf="(selectedConnector | async); else noConnectorSelected" [source]="selectedConnectorPlugin">
          <ng-template let-pluginMetadata>
            <bmi-plugin-form *ngIf="pluginMetadata; else noPluginFound" [pluginMetadata]="pluginMetadata" formControlName="config"></bmi-plugin-form>
            <ng-template #noPluginFound>
              No plugin available for {{ selectedConnector | async }} integration configs.
              <code><pre>{{ form.value.config | json:2 }}</pre></code>
            </ng-template>
          </ng-template>
        </ui-observable-loader>
        <ng-template #noConnectorSelected>
          Config unavailable until an integration connector type is selected.
        </ng-template>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>Actions</h2>
        <bmi-action-editor-list formControlName="actions"></bmi-action-editor-list>
      </div>
    </div>
  </div>

  <bmi-help-box>
    <h4>Integrations</h4>
    <p>Pull data from a 3rd party source. Actions trigger in order for each result.</p>
    <bmi-viewable-image src="assets/docs/diagrams/integration-diagram.png"></bmi-viewable-image>
    <h4>Schedule</h4>
    <p>Disable the schedule for integrations that will only be triggered manually. Currently, scheduling is restricted to once per day or once per week at the selected time.</p>
  </bmi-help-box>
</div>
