<gravity-condition-list [conditions]="filterConditions" [board]="board"></gravity-condition-list>


<button type="button" class="button-link addit" (click)="addCondition()">Add condition</button>
<button type="button" class="button-link addit" (click)="addDynamicCondition()">Add dynamic condition</button>
<button type="button" class="button-link addit" (click)="addPhaseCondition()">Add phase condition</button>
