<ui-loading-container [isLoading]="isLoading" [errorMessage]="errorMessage" [hasError]="!!errorMessage">
  <ng-template>
    <bmi-highcharts-viewer [config]="chartConfig"></bmi-highcharts-viewer>
  </ng-template>
</ui-loading-container>
