<h2>Chart settings</h2>

<section *ngIf="!!form" [formGroup]="form">

  <section class="chart-settings">
    <ui-form-field label="X-Axis label">
      <input formControlName="xAxisTitle">
    </ui-form-field>

    <ui-form-field label="X-Axis type">
      <ui-select formControlName="xAxisType" [options]="GROUP_OPTIONS"></ui-select>
    </ui-form-field>
    
    <ui-form-field label="Y-Axis label">
      <input formControlName="yAxisTitle">
    </ui-form-field>

    <ui-form-field label="Y-Axis type">
      <ui-select formControlName="yAxisType" [options]="VALUE_OPTIONS"></ui-select>
    </ui-form-field>

    <ui-form-field label="Stacking">
      <ui-single-select formControlName="stacked" [options]="stackingOptions" [floating]="true"></ui-single-select>
    </ui-form-field>

    <ui-form-field label="Polar chart">
      <ui-checkbox formControlName="polar"></ui-checkbox>
    </ui-form-field>
  </section>
</section>

<h2>Series</h2>

<ng-container *ngFor="let control of seriesGroups.controls; index as index">
  <div *ngIf="seriesGroups.length > 1" class="series-group__header">
    <h3 class="series-group__title">Series Group (for {{control.value.dataSeries?.dataSourceId || 'unknown source'}})</h3>
    <button class="btn btn--link" title="Delete Series Group" (click)="deleteSeriesGroup(index)">
      <ui-icon icon="shared-ui-trash"></ui-icon>
    </button>
  </div>
  <bmi-chart-series-group-editor [formControl]="control"></bmi-chart-series-group-editor>
  <hr>
</ng-container>

<button (click)="addSeriesGroup()" class="btn btn--link btn--small">
  Add series from another data source
</button>
