<ng-container [formGroup]="form">
  <ui-form-field [label]="'Navigation location'">
    <ui-select [options]="navOptions" formControlName="navLocation"></ui-select>
  </ui-form-field>
  <ui-form-field label="Tab Generation">
    <ui-select [options]="tabGenerationOptions" formControlName="tabGenerationMode"></ui-select>
  </ui-form-field>

  <ng-container
      *ngIf="isDynamicTabs; else staticTabs"
      formGroupName="dynamicConfig"
      [bmiThisPathSource]="form.value.dynamicConfig.dataSourceId">
    <p>
      This mode will automatically generate the tabs on the control. Each tab
      will have the same content structure, however a "tabItems" data source
      will be available to widgets inside each tab, allowing access to the
      items within the group.
    </p>

    <ui-form-field label="List Data Source" helpText="This data source will be grouped and made available the data binding for each tab.">
      <bmi-data-source-picker formControlName="dataSourceId"></bmi-data-source-picker>
    </ui-form-field>

    <ui-form-field label="Group ID Binding">
      <bmi-binding-picker formControlName="id"></bmi-binding-picker>
    </ui-form-field>

    <ui-form-field label="Group Name Binding">
      <bmi-binding-picker formControlName="title"></bmi-binding-picker>
    </ui-form-field>

    <button class="btn btn--link" (click)="editDynamicTabDataContext()">
      <ui-icon icon="cui-insights"></ui-icon> Data Sources
    </button>
  </ng-container>
  <ng-template #staticTabs>
    <ui-form-field [label]="'Content tabs'">
      <ui-stacker-list [items]="form.controls.sections">
        <ng-template let-item>
          <ng-container [formGroup]="item">
            <input formControlName="title">
          </ng-container>
        </ng-template>
      </ui-stacker-list>
      <button
        type="button"
        class="btn btn--small btn--secondary"
        (click)="addTab()">
        New tab
      </button>
    </ui-form-field>
  </ng-template>

</ng-container>
