<div class="tabs-grid" [class.nav-left]="config.fields.navLocation === 'left'">

  <nav class="tabs-grid__nav" *ngIf="config.fields.navLocation !== 'none'">

    <ul
      class="tabs hidden-xs hidden-sm"
      [class.tabs--vertical]="config.fields.navLocation === 'left'">
      <li
        *ngFor="let tab of tabs; let i = index;"
        class="tab"
        data-cy="content-tab" 
        [class.active]="i === currentTab"
        (click)="selectTab(tab.id)">
        <a>
          <div class="tab__heading" title="{{ tab.title }}">{{ tab.title }}</div>
        </a>
      </li>
    </ul>

    <ng-container *ngIf="config.fields.navLocation === 'top'">

      <button
        type=button
        class="tabs-grid__nav__dropdown-button {{dropdownMenu.isOpen ? 'ui-row-with-menu__options-button--open' : '' }}"
        (click)="dropdownMenu.toggle();filterTabs()">
        <ui-icon icon="cui-more"></ui-icon>
      </button>

      <ui-dropdown-menu #dropdownMenu positionPolicy="right">
        <ng-template #items let-dropdown>
           <ui-search-input
            [selection]="true"
            placeholder="Search tabs"
            (newSearch)="filterTabs($event)">
          </ui-search-input>
          <ui-dropdown-item
            *ngFor="let tab of filteredTabs; let i = index;"
            [class.item-active]="tab.id === tabs[currentTab].id"
            [leaveIconSpace]="false"
            (click)="selectTab(tab.id)">
            {{ tab.title }}
          </ui-dropdown-item>
          <ui-dropdown-item *ngIf="!filteredTabs.length" class="item-warning">
            No tabs found
          </ui-dropdown-item>
        </ng-template>
      </ui-dropdown-menu>

    </ng-container>

  </nav>

  <section class="tab-content">
    <ng-container *ngFor="let tab of tabs; let i = index;trackBy: trackByTab">
      <bmi-core-widget-wrapper bmiWidgetWrapperContext *ngIf="i === currentTab">
        <bmi-widget-host
          [bmiDataContext]="tab.dataContext"
          [bmiDataContextSources]="tab.dataSources"
          [config]="tab.widgetConfig"
          [editable]="true"
          (updateWidgetConfig)="updateTabWidgetConfig($event, tab.id)">
        </bmi-widget-host>
      </bmi-core-widget-wrapper>
    </ng-container>
  </section>

</div>
