.tabs-grid {
  display: flex;
  flex-direction: column;
  .tabs-grid__nav {
    position: relative;
    margin-bottom: var(--gra-spacing);
    a {
      padding-top: 8px;
    }
  }
  &.nav-left {
    flex-direction: row;
    & > .tabs-grid__nav {
      margin-bottom: 0;
      margin-right: 10px;
      flex: 1 0 160px;
      min-width: 0;
      // fill the widget container vertically.
      align-self: stretch;
      & > ul {
        // fill nav vertically (for the separator to be full height)
        height: 100%;
        .tab__heading {
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: keep-all;
        }
      }
    }
    .tab-content {
      flex: 8 1 320px;
    }
  }
}
.tab-content {
  justify-self: center;
  flex: 1 1 auto;

  // Setting this constraint changes the default overflow mode and prevents
  // the tab content from expanding beyond the container
  min-width: 0;

}

body.gra :host ::-webkit-scrollbar {
  height: var(--gra-spacing-half);
}

.tabs-grid__nav__dropdown-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 32px;
  box-shadow: -5px 0 var(--gra-spacing-half) var(--gra-spacing-qtr) var(--gra-color--white);
}
ui-dropdown-menu {
  top: 36px;
  right: 0;
  position: absolute;
}

.item-active {
  border-left: 3px solid var(--gra-theme-primary);
  padding-left: 7px;
  background-color: var(--gra-background-active);
}

.item-warning {
  color: var(--gra-theme-warning-alt-darker);
}

ui-search-input {
  margin: var(--gra-spacing-qtr);
  display: block;
}
