<div class="card-edit-form {{ (isEditMode | async) ? 'card-edit-form--is-edit-mode' : ''}}">
  <h4 *ngIf="isEditMode | async" class="card-edit-form__editor-title">Card Editor Form</h4>

  <ui-loading-container [isLoading]="!!loadingMessage" [loadingMessage]="loadingMessage">
    <ng-template>
      <bmi-widget-host bmiWidgetWrapperContext
          [config]="body | async"
          [editable]="true"
          (updateWidgetConfig)="updateBodyConfig($event)">
      </bmi-widget-host>
    </ng-template>
  </ui-loading-container>
</div>
