.card-edit-form {
  &--is-edit-mode {
    padding: 5px;
    margin: 2px;
    border: 1px dashed var(--gra-color--gray-400);
  }

  &__editor-title {
    color: var(--gra-color--gray-400);
  }

  ui-loading-container {
    min-height: 100px;
  }
}
