<ng-container [formGroup]="form">

  <section class="table-widget-editor__section">
    <ui-form-field label="Data Source Id">
      <bmi-data-source-picker
        formControlName="dataSourceId"
      ></bmi-data-source-picker>
    </ui-form-field>
  </section>

  <section class="table-widget-editor__section">
    <h4>Columns</h4>
    <ui-stacker-list [items]="form.controls.columns">
      <ng-template let-item>
        <ng-container [formGroup]="item" [bmiThisPathSource]="selectedDataSource">
          <div class="row">
            <div class="col">
              <ui-form-field label="Title">
                <input formControlName="title" class="bold" />
              </ui-form-field>
            </div>
            <div class="col">
              <ui-form-field label="Width">
                <ui-select
                  [options]="widthOptions"
                  formControlName="width">
                </ui-select>
              </ui-form-field>
            </div>
          </div>

          <ui-dynamic-editor bmiUsingDynamicEditorsFor="table-column" formControlName="content"></ui-dynamic-editor>
        </ng-container>
      </ng-template>
    </ui-stacker-list>

    <ui-dynamic-editor-add-menu bmiUsingDynamicEditorsFor="table-column" (configCreated)="addColumn($event)">
      <button class="btn btn--secondary">Add Column <ui-icon icon="cui-chevron-down"></ui-icon></button>
    </ui-dynamic-editor-add-menu>
  </section>

  <ui-collapsible-section label="Advanced Table Settings" type="sidebar" class="table-widget-editor__advanced-settings">
    <div class="row">
      <ui-form-field class="col" label="Has Pagination">
        <ui-checkbox formControlName="hasPagination"></ui-checkbox>
      </ui-form-field>
      <ui-form-field class="col" *ngIf="form.value.hasPagination" label="Rows per page">
        <input formControlName="rowsPerPage" type="number" min="0" step="1"/>
      </ui-form-field>
    </div>
    <ui-form-field label="Enable search">
      <ui-checkbox formControlName="hasSearch"></ui-checkbox>
    </ui-form-field>
    <section class="editable--container">
      <ui-form-field label="Editable">
        <ui-checkbox formControlName="isEditable"></ui-checkbox>
      </ui-form-field>
      <section *ngIf="editable" class="actions" formGroupName="editOptions">
        <h4>Actions</h4>
        <div class="actions--selector">
          <ui-form-field label="Add">
            <ui-checkbox formControlName="add"></ui-checkbox>
          </ui-form-field>
          <ui-form-field label="Edit">
            <ui-checkbox formControlName="edit"></ui-checkbox>
          </ui-form-field>
          <ui-form-field label="Delete">
            <ui-checkbox formControlName="delete"></ui-checkbox>
          </ui-form-field>
        </div>
        <ui-form-field label="Action Column Title">
          <input formControlName="actionsColumnTitle">
        </ui-form-field>
      </section>
    </section>
  </ui-collapsible-section>

</ng-container>
