<div class="table-control">
 <ui-search-input class="table-control-item"
   *ngIf="searchEnabled"
   [selection]="true"
   (newSearch)="updateSearch($event)">
 </ui-search-input>
 <a *ngIf="addEnabled"  type="button" class="table-control-item"  (click)="createCard()">
   <ui-icon icon="cui-add" [fixedWidth]="true"></ui-icon> Add Card
 </a>
</div>

<ui-observable-loader [state]="loaderState">
  <ng-template>
    <idp-data-table *ngIf="tableModel"
      [data]="tableModel"
      [noDataMessage]="null"
      [search]="search"
      (tableAction)="onTableAction($event)">
    </idp-data-table>

    <ui-data-table-pagination
      *ngIf="paginated"
      [data]="tableModel">
    </ui-data-table-pagination>

  </ng-template>
</ui-observable-loader>


<ng-template cdkPortal #timelineHeaderPortal let-value="value">
  <bmi-core-timeline-display
      [dataPoints]="value.dataPoints"
      [timelineStart]="value.timelineStart"
      [timelineEnd]="value.timelineEnd"
      [markers]="value.markers"
      [type]="'roadmap-header'"
      [style.flex]="1"
    >
  </bmi-core-timeline-display>
</ng-template>

<ng-template cdkPortal #timelineCellPortal let-value="value">
  <bmi-core-timeline-display
      [dataPoints]="value.dataPoints"
      [timelineStart]="value.timelineStart"
      [timelineEnd]="value.timelineEnd"
      [markers]="value.markers"
    >
  </bmi-core-timeline-display>
</ng-template>
