button.btn {
  padding: 0 1rem;
}

.bold {
  font-weight: 700;
}

.table-widget-editor__section + .table-widget-editor__section, .table-widget-editor__advanced-settings {
  margin-top: var(--gra-spacing-half);
}

.table-column {
  display: grid;
  gap: var(--gra-spacing-qtr) var(--gra-spacing-half);
  margin-bottom: var(--gra-spacing-qtr);
  & > * {
    min-width: 0;
  }
  &__common {
    grid-template-columns: 1fr 1fr;
  }

  &__more {
    grid-template-columns: 1fr 1fr 3.5rem 2.5rem;
  }
  &__link {
    grid-template-columns: 1fr;
  }
}


.editable--container {
  background: var(--gra-color--gray-200);
  border: 1px solid var(--gra-color--gray-400);
  border-radius: 2.5px;
  display: block;
  padding: .4rem 1rem;
  margin-bottom: 1rem;

  .actions {
    padding-left: 1rem;
    .actions--selector {
      display: flex;
      ui-form-field {
        width: 40px;
        text-align: center;
      }
    }
  }
}
