.page-designer {
  &__layout {
    position: relative;
  }


  &__editor {
    // We want this to fill the screen as much as possible, but delegate the
    // scrolling behaviour to the component itself, so that the page content
    // and sidebar can manage their own behaviour.

    // Unfortunately, getting this behaviour with the current nav layout is
    // going to be a bit hacky, and there are issues further up that
    // complicate using an absolute positioning strategy.
    position: fixed;

    // This clears the top navbar and the breadcrumbs
    top: 106px;

    // This is the height of the buttonbar.
    bottom: 68px;

    margin-left: -20px;

    left: 100px;
    right: 0px;
  }

  &__button-bar {
    position: fixed;
    z-index: 1;
    bottom: 0;

    // We want this guy sitting at the bottom of the screen taking up the full
    // width but the expanding CUI sidebar makes this tricky. If we don't set
    // a left/right property then the horizontal positioning remains in the
    // document flow and gets pushed across by the sidebar. But there's a
    // margin that we need to deal with, then counter with padding to align
    // the buttons.
    width: 100%;
    margin-left: -20px;
    padding-left: 20px;

    background: var(--gra-color--gray-200);
    padding: 20px 30px;

    box-shadow: 0 2px 10px 0px rgba(black, 0.1), 0 0px 2px 0px rgba(black, 0.15), inset 2px 2px 10px rgba(white, 0.1);
    border-top: 1px solid var(--gra-color--gray-300);
  }
}

