<div class="page-designer__layout">
  <bmi-page-editor class="page-designer__editor" *ngIf="pageConfig" [config]="pageConfig" (updateConfig)="onPageUpdated($event)"></bmi-page-editor>
  <div class="page-designer__button-bar">
    <button type="button" class="btn btn--primary" [disabled]="!hasUnsavedChanges" (click)="saveClicked()">Save Page</button>
    <button type="button" class="btn btn--ghost" (click)="cancelClicked()">{{ hasUnsavedChanges ? 'Discard changes' : 'Cancel' }}</button>
  </div>
</div>
