<div class="widget-selector">
  <div class="widget-selector__header">
    <h4 class="widget-selector__title">{{ title }}</h4>
    <div class="widget-selector__toolbar">
      <ui-dropdown-menu *ngIf="availableConverters.length > 0" class="widget-selector__toolbar-item">
        <button type="button" class="btn btn--link btn--small widget-selector__toolbar-button" title="Convert the widget to another type">
          <ui-icon icon="shared-ui-share"></ui-icon> Convert <ui-icon icon="shared-ui-caret-down"></ui-icon>
        </button>
        <ng-template #items>
          <ui-dropdown-item *ngFor="let converter of availableConverters" (click)="applyConversion(converter)">
            {{converter.name}}
          </ui-dropdown-item>
        </ng-template>
      </ui-dropdown-menu>

      <button type="button" class="btn btn--link btn--small widget-selector__toolbar-item widget-selector__toolbar-button" (click)="copyWidgetConfig()" title="Copy Widget Config">
        <span class="fa fa-clone"></span>
      </button>
      <button type="button" class="btn btn--link btn--small widget-selector__toolbar-item widget-selector__toolbar-button" (click)="pasteWidgetConfig()" title="Paste Widget Config">
        <span class="fa fa-paste"></span>
      </button>
      <button *ngIf="mode === 'configuring'" class="btn btn--link widget-selector__toolbar-item widget-selector__toolbar-button" type="button" (click)="clearSelection()">
        <span class="fa fa-trash"></span> Clear
      </button>
    </div>
  </div>

  <div class="widget-selector__body">
    <ng-container [ngSwitch]="mode">

      <div *ngSwitchCase="'choosing-widget-template'">
        <p>
          Choose the type of widget you want to add to the page.
        </p>

        <bmi-add-widget-dropdown (widgetCreated)="addWidgetConfig($event)">
          <button class="btn btn--success" type="button">Add widget <ui-icon icon="shared-ui-caret-down"></ui-icon></button>
        </bmi-add-widget-dropdown>
      </div>

      <div *ngSwitchCase="'configuring'">
        <bmi-widget-config-editor [widgetConfig]="form.value.widgetConfig" (updateWidgetConfig)="updateWidgetConfig($event)"></bmi-widget-config-editor>
      </div>
    </ng-container>
  </div>
</div>


