@import '@bmi/ui/styles/gra-colors';

:host {
  display: block;
  margin: 1rem 0;
}

.widget-selector {

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--gra-color--gray-500);
  }

  &__toolbar-button {
    padding: 0px 5px !important;
  }

  &__toolbar-item {
    display: inline-block;

    & + & {
      margin-left: 3px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 1.8rem;
    flex: 1 1 auto;
    margin: 0;
  }

  &__body {
    padding: 20px 0px;
  }

  &__input-group {
    display: flex;
    ui-single-select {
      flex: 1 1 auto;
    }
  }
}
