<h3>Grid Cell</h3>
<div [formGroup]="form" *ngIf="cellConfig">
  <ng-container *ngIf="allowSpanEditing; else showLayoutMessage">
    <h4>Manual Grid Sizing</h4>
    <p>
      The grid layout uses a 12 unit wide grid, and you can set the width of a cell using the column
      span. A "12" is full width, a "6" is half. Cells will pack together, so two "6" cells adjacent
      will form a 2 column layout. If there isn't enough room on the row, it will start a new row.
    </p>
    <p>
      The row span is a more advanced feature, but this allows some more complex layouts. Usually
      this should be 1.
    </p>
    <p>
      A simpler option is to <a href="#" (click)="$event.preventDefault(); selectSection()">pick a preset layout for this entire section</a>
    </p>
    <ui-form-field label="Column Span (1-12)">
      <input type="number" min="1" max="12" formControlName="span">
    </ui-form-field>
    <ui-form-field label="Row Span (1-12)">
      <input type="number" min="1" max="12" formControlName="rowSpan">
    </ui-form-field>
  </ng-container>
  <ng-template #showLayoutMessage>
    <p>
      The size of this cell is being determined by the {{sectionPresetName}} layout for this
      section. You can <a href="#" (click)="$event.preventDefault(); selectSection()">change the
      layout from the section sidebar</a>
    </p>
  </ng-template>

  <ui-form-field>
    <ui-checkbox label="Show with no card" formControlName="noCard"></ui-checkbox>
  </ui-form-field>

  <bmi-widget-selector formControlName="widgetSelection"></bmi-widget-selector>
</div>
