<div class="button-toolbar">
  <button class="btn {{buttonClasses}} btn--ghost" (click)="editCard()"
          data-cy="button-toolbar-edit-button" >
    <ui-icon icon="cui-edit" [fixedWidth]="true"></ui-icon> Edit
  </button>

  <button *ngIf="showPinToFocusPanel" class="btn {{buttonClasses}} btn--ghost" (click)="pinToFocusPanel()">
    <ui-icon icon="fa4-eye" [fixedWidth]="true"></ui-icon> Add Watch
  </button>
</div>
