.home-page {
  &__layout {
    display: grid;
    gap: var(--gra-spacing);
    grid-template-areas:
      "modules boards";

    grid-template-columns: 1fr 560px;
    margin: 0 -20px -20px;
    padding: var(--gra-spacing);
    background: var(--gra-color--gray-100);
    body.gra :host ::ng-deep & h1 {
      margin: 0 0 var(--gra-spacing-half);
    }
  }

  &__modules {
    grid-area: modules;
  }

  &__boards {
    grid-area: boards;
  }
}

.modules-grid {
  display: grid;
  grid-gap: var(--gra-spacing);
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

:host ::ng-deep .object-list {
  background: var(--gra-color--white);
}

bmi-core-card {
  .module-item {
    &__title {
      grid-area: title;
      margin: 0;
    }
    &__pin-icon {
      font-size: 1.8rem;
      color: var(--gra-color--gray-700);
      vertical-align: middle;
    }
    &__actions {
      grid-area: actions;
      margin-left: var(--gra-spacing-half);
      &__toggle {
        padding: 0;
        line-height: 1;
      }
    }
    &__description {
      grid-area: description;
      margin-bottom: 0;
    }
    &__grid {
      outline: 0;
      margin: -20px;
      padding: var(--gra-spacing);
      grid-template-columns: 1fr;
      display: grid;
      grid-template-areas:
        "title actions"
        "description description";
      min-height: calc(100% + 40px);
      &:hover {
        cursor: pointer;
        box-shadow: inset 0 0 0 1px var(--gra-theme-primary);
      }
    }
  }
}
