<div class="home-page__layout" id="home-page__root">
  <div class="home-page__modules">
    <h1>Modules</h1>
    <section class="modules-grid" *ngIf="appModules | async as modules; else moduleLoader">
      <bmi-core-card *ngFor="let module of modules">
        <div class="module-item__grid" [routerLink]="['/module', module.id]">
          <h2 class="module-item__title">
            <ui-icon class="module-item__pin-icon" *ngIf="module.favorite" icon="cui-pin"></ui-icon>
            {{ module.name }}
          </h2>
          <p class="module-item__description" *ngIf="module.description">{{ module.description }}</p>
          <div class="module-item__actions">
            <ui-dropdown-menu positionPolicy="left" (click)="stopPropagation($event)">
              <button type=button class="btn btn--link module-item__actions__toggle">
                Actions
                <ui-icon icon="cui-chevron-down"></ui-icon>
              </button>
              <ng-template #items>
                <ui-dropdown-item icon="cui-jump-out" (click)="visitModule(module.id)">View Module in App...</ui-dropdown-item>
                <hr>
                <ui-dropdown-item icon="cui-edit" [routerLink]="['/module', 'edit', module.id]">Edit module config</ui-dropdown-item>
                <ui-dropdown-item icon="cui-list-menu" [routerLink]="['/module', module.id, 'menu']">Edit Menu</ui-dropdown-item>
                <hr>
                <ui-dropdown-item icon="cui-pin" (click)="setFavorite(module.id, !module.favorite)">{{module.favorite ? 'Unpin Module' : 'Pin Module'}}</ui-dropdown-item>
              </ng-template>
            </ui-dropdown-menu>
          </div>
        </div>
      </bmi-core-card>
      <div>
        <button type="button" class="btn btn--success" [routerLink]="['/module', 'add']">
          <span class="icon-add"></span>
          Add Module
        </button>
      </div>
    </section>
    <ng-template #moduleLoader>
      <ui-loader ></ui-loader>
    </ng-template>
  </div>
  
  <div class="home-page__boards">
    <gravity-board-home [enableSidebar]="false"></gravity-board-home>
  </div>
</div>
