<ui-modal (modalClosed)="onModalClosed()">

  <ui-loading-container [isLoading]="isLoading">
    <ng-template>

      <h1>{{ kpiFields.name }}</h1>
      <blockquote><p>{{ kpiFields.description }}</p></blockquote>

      <ng-container *ngIf="pocs.length">
        <h3>Points of Contact</h3>
        <ul class="kpi-modal__pocs-list">
          <li *ngFor="let poc of pocs">
            <bmi-profile-image [userId]="poc.id"></bmi-profile-image>
            <h4>{{ poc.name }}</h4>
          </li>
        </ul>
      </ng-container>

      <ng-container *ngTemplateOutlet="linksList; context: {
        $implicit: sorLinks,
        title: 'Source of Record Links'
      }"></ng-container>

      <ng-container *ngTemplateOutlet="linksList; context: {
        $implicit: additionalLinks,
        title: 'Additional Links'
      }"></ng-container>

    </ng-template>
  </ui-loading-container>

</ui-modal>

<ng-template #linksList let-links let-title="title">
  <ng-container *ngIf="links.length">
    <h3>{{ title }}</h3>
    <ul>
      <li *ngFor="let link of links">
        <a href="{{ link.url }}" target="_blank">
          {{ link.title || link.url }}
        </a>
      </li>
    </ul>
  </ng-container>
</ng-template>
