h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

h3 {
  margin-top: 3rem;
  font-size: 2.8rem;
  font-weight: 200;
}

p, a {
  font-size: 16px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.kpi-modal__pocs-list {
  display: grid;
  grid-template-columns: 1fr 1fr;

  li {
    display: flex;
    align-items: center;
  }

  h4 {
    margin-left: 1rem;
    font-size: 1.8rem;
    margin-bottom: 0;
  }

}

bmi-profile-image {
  width: 48px;
  height: 48px;
  font-size: 48px;
}
