<header class="header bmi-app-header">

  <section class="confidential-banner">
  </section>

  <div class="header-panels">

    <div class="header-panel">
      <a class="header__logo" href="/">
        <span class="icon-brand"></span>
      </a>
      <div class="header__title" data-cy="app-header">
        {{ headerTitle }}
      </div>
    </div>

    <div class="header-panel header-panel--center">
      <div class="header-item" *ngIf="!!contextTabs" >
        <ul id="tabsheader" class="tabs">
          <li
            class="tab"
            *ngFor="let item of contextTabs; let i = index"
            [routerLink]="item.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a [attr.data-cy]="'tab-heading-' + item.route[2]" tabindex="{{ i }}">
              <div class="tab__heading">{{ item.title }}</div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="header-panel header-panel--right">
      <ng-container *ngTemplateOutlet="userRightPanel || defaultRightPanel"></ng-container>
    </div>

  </div>
</header>


<ng-template #defaultRightPanel>
  <div class="header-item" *ngIf="!!userName">
    <span class="half-margin-right">{{ userName | async }}</span>
    <span class="icon-contact icon-size-20"></span>
  </div>
  <ui-dropdown-menu positionPolicy="right">
    <button type=button class="btn btn--link"><ui-icon icon="cui-chevron-down"></ui-icon></button>
    <ng-template #items>
      <ui-dropdown-item (click)="ssoLogout()">Logout</ui-dropdown-item>
    </ng-template>
  </ui-dropdown-menu>
</ng-template>
