<ui-dropdown-menu positionPolicy="left">
  <ng-content></ng-content>
  <ng-template #items>
    <ui-dropdown-item *ngFor="let item of preparedMenuItems" [icon]="item.icon" (click)="addItem(item)">{{item.name}}</ui-dropdown-item>
  </ng-template>
</ui-dropdown-menu>
