<ui-base-dropdown (isOpenChange)="dropdownToggled()">
  <ng-template #dropdownControl let-dropdown>
    <ui-select-toggler [isOpen]="dropdown.isOpen" (toggleOpen)="dropdown.toggle()">
      {{ values.join(', ') }}
    </ui-select-toggler>
  </ng-template>

  <ng-template #dropdownContent let-dropdown>
    <div class="dropdown-wrapper">
      <div class="scroller">
        <ul class="array-entries">
          <li *ngFor="let entry of values; index as index">
            {{entry}}
            <button class='remove-button' type='button' title="Remove entry" (click)="removeEntry(index)">
              <span class="ui-icon fa-fw ui-icon-close"></span>
            </button>
          </li>
        </ul>
      </div>
      <div class="add-value-field">
        <input type="text" [(ngModel)]="valueToAdd" (keydown)="textboxKeyDown($event)">
        <button type='button' class="button-link btn--success" [disabled]="!valueToAdd" (click)="addCurrentValue()">
          <span class="ui-icon ui-icon-plus"></span> Add
        </button>
      </div>
    </div>
  </ng-template>
</ui-base-dropdown>
