@import '@bmi/ui/styles/gra-colors';
@import '@bmi/ui/styles/select-mixins';

* {
  box-sizing: border-box;
}

.dropdown-wrapper {
  width: 100%;
  min-width: 30rem;
  padding: 1rem;

  @include ui-select-dropdown-background();
}

div.scroller {
  overflow-y: scroll;
  padding: 0.5rem;
  min-height: 20rem;
  max-height: 40rem;
}

ul.array-entries {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    @include ui-select-item();

    position: relative;
    padding: 0.5rem 1rem;
    cursor: pointer;

    .remove-button {
      position: absolute;
      color: $MedGray2;
      top: 0.2rem;
      right: 0.5rem;
      border: none;
      background: none;
      float: right;
      padding: 0.3rem;
      border-radius: 0.2rem;
      &:hover {
        background: $LtGray2;
        color: $DkGray2;
      }
    }
  }
}

.add-value-field {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;

  input {
    width: auto;
  }

  input {
    flex: 1 0 auto;
  }

  button {
    flex: 0 0 auto;
  }

  input + button {
    margin-left: 0.5rem;
  }
}


