<h3>Grid Section</h3>
<div [formGroup]="form" *ngIf="sectionConfig">
  <ui-form-field label="Section Layout">
    <bmi-core-grid-preset-picker formControlName="layoutId"></bmi-core-grid-preset-picker>
  </ui-form-field>

  <h4>Grid Cells</h4>
  <ui-stacker-list [items]="sectionCells">
    <ng-template let-item let-index="index">
      {{ describeCellForRearranging(item.value) }}
    </ng-template>
  </ui-stacker-list>

  <button type="button" class="btn btn--ghost" (click)="addGridCell()">Add Cell</button>
</div>
