<gravity-resource-text-editor [formControl]="resourceControl"></gravity-resource-text-editor>
<div class="board-resource-coponent__buttons">
  <button class="btn btn--primary resource-page__save" [disabled]="!canSave" (click)="saveResource()">Save</button>
  <button class="btn btn--ghost" (click)="closed()">Close</button>
</div>
