:host {
  display: block;
}

.card-task-item {
  display: flex;
  align-items: center;

  &__body {
    flex: 1 1 auto;
    margin-top: var(--gra-spacing-qtr);
    margin-bottom: var(--gra-spacing-qtr);

    h4 {
      font-weight: 400;
      font-size: 14px;
      color: var(--gra-color--gray-800);
      margin: 0;
    }

    .label + .label {
      margin-left: var(--gra-spacing-qtr);
    }
  }
}
