<div class="card-task-item">
  <div class="card-task-item__body">
    <h4 class="card-task-item__task-name">{{task.detail}} <small>({{task.taskid}})</small></h4>
    <div class="card-task-item__task-statuses">
      <span *ngIf="!isComplete" class="label label--light label--small">Incomplete</span>
      <span *ngIf="isComplete" class="label label--success label--small">Completed</span>
      <span *ngIf="assignedUser" class="label label--light label--small">Assigned to {{assignedUser}}</span>
      <span *ngIf="task.occuredTime" class="label label--light label--small">At: {{completionDateText}}</span>
    </div>
  </div>
  <div class="card-task-item__menu">
    <ui-dropdown-menu positionPolicy="right">
      <button type="button" class="btn btn--link">
        <ui-icon icon="cui-chevron-down" [fixedWidth]="true"></ui-icon>
      </button>
      <ng-template #items>
        <ui-dropdown-item *ngIf="!isComplete" icon="cui-check" (click)="completeTask()">Complete Task</ui-dropdown-item>
        <ui-dropdown-item *ngIf="isComplete" icon="cui-reset" (click)="revertTask()">Revert Task</ui-dropdown-item>
      </ng-template>
    </ui-dropdown-menu>
  </div>
</div>
