.system-page {

  &__layout {
    display: grid;
    gap: var(--gra-spacing);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'body sidebar';

    & > * { min-width: 0; }
  }

  &__body {
    grid-area: body;
  }

  &__sidebar {
    grid-area: sidebar;
  }
}
