<h1>BMI System</h1>

<div class="row">
  <div class="col">
    <card-alert-summary></card-alert-summary>
  </div>
  <div class="col">
    <h2>System Status</h2>
    <ui-observable-loader [source]="systemStatus">
      <ng-template let-status>
        <dl>
          <dt>Automation State</dt>
          <dd>{{status.automation}}</dd>

          <dt>Automation Backlog</dt>
          <dd>{{status.automationbacklog}}</dd>

          <dt>Current server time</dt>
          <dd>{{status.timestamp | date:'medium'}}</dd>
        </dl>

      </ng-template>
    </ui-observable-loader>

    <hr>

    <h2>Version</h2>
    <ui-observable-loader [source]="softwareVersions">
      <ng-template let-versions>
        <div class="system-page__revision" *ngFor="let version of versions">
          <h4>{{version.name}}
            &nbsp;
            <a target="_blank" [attr.href]="version.scmUrl">
              {{version.versionText}}
              <ng-container *ngIf="version.buildTime">
                (built on {{ version.buildTime | date:'short' }})
              </ng-container>
            </a>
          </h4>
        </div>
      </ng-template>
    </ui-observable-loader>
  </div>
</div>
