:host {
  width: 100%;
}
.widget-card {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px -1px;
  padding: var(--gra-spacing);
  position: relative;
  height: 100%;
  &--edit-mode {
    // editor needs strong definition for cards against section/grid controls.
    // also less padding to accommodate extra editing elements
    border: 1px solid var(--gra-color--gray-600);
    padding: var(--gra-spacing-half);
  }
}
