<input matInput [matDatepicker]="picker" [disabled]="isDisabled"
       placeholder="Choose a date" [(ngModel)]="date"
       (dateInput)="addEvent('input', $event)"
       (dateChange)="addEvent('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
