.resource-text-editor {
  display: grid;
  grid-template-areas:
    "toolbar"
    "editor";

  & > * { min-width: 0; }

  &__toolbar {
    grid-area: toolbar;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gra-spacing);
  }

  &__editor {
    grid-area: editor;
    position: relative;
  }

  &__editor-loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  ngx-monaco-editor {
    height: var(--bmi-editor-height);
  }
}
:host {
  --bmi-editor-height: 600px;
}
