<div class="resource-text-editor" [formGroup]="form">
  <div class="resource-text-editor__toolbar">
    <ui-form-field label="Resource ID">
      <input formControlName="id">
    </ui-form-field>

    <ui-form-field label="Resource Type">
      <ui-select formControlName="type" [options]="languageOptions"></ui-select>
    </ui-form-field>
  </div>

  <div class="resource-text-editor__editor">
    <ui-loader *ngIf="!editorHasInitialized" class="resource-text-editor__editor-loader"></ui-loader>
    <ngx-monaco-editor class="ngx-monaco-editor"
      formControlName="resource"
      [options]="editorOptions | async"
      (onInit)="onMonacoInitialized($event)">
    </ngx-monaco-editor>
  </div>
</div>
