<p *ngIf="errorMessage" class="warning">
  <span class="ui-icon ui-icon-exclamation-triangle color-status-orange"></span>
  {{ errorMessage }}
</p>

<p *ngIf="seriesMessage" class="warning">
  <span class="ui-icon ui-icon-exclamation-triangle color-status-orange"></span>
  {{ seriesMessage }}
</p>

<section *ngIf="!!form" [formGroup]="form" class="settings-grid">

  <section class="chart-config">

    <ui-form-field label="Chart title">
      <input type="text" formControlName="chartTitle">
    </ui-form-field>

    <ui-form-field label="X-Axis label">
      <input formControlName="xAxisTitle">
    </ui-form-field>

    <ui-form-field label="Y-Axis label">
      <input formControlName="yAxisTitle">
    </ui-form-field>

    <ui-form-field label="Polar chart">
      <ui-checkbox formControlName="polar"></ui-checkbox>
    </ui-form-field>

    <ui-form-field label="Default series type">
      <ui-single-select formControlName="type" [options]="typeOptions"></ui-single-select>
    </ui-form-field>

    <ui-form-field label="Stacking">
      <ui-single-select formControlName="stacked" [options]="stackingOptions" [floating]="true"></ui-single-select>
    </ui-form-field>

    <ui-form-field label="Only show selected series">
      <ui-checkbox formControlName="selectedOnly"></ui-checkbox>
    </ui-form-field>

  </section>

  <section class="series-config">

    <h3>Series</h3>

    <button (click)="addAllSeries()" type="button" class="ui-button">
      <span class="ui-icon ui-icon-plus"></span>
      Add all series
    </button>

    <button (click)="clearSeries()" type="button" class="ui-button">
      <span class="ui-icon ui-icon-close"></span>
      Remove all series
    </button>

    <button type="button" (click)="randomColors()" class="ui-button">
      <span class="ui-icon ui-icon-random"></span>
      Assign random colors to series
    </button>

    <section *ngIf="unusedSeries.length">
      <h4>Unused Series</h4>
      <span (click)="addSeries(series)" class="unused-series truncate" *ngFor="let series of unusedSeries">
        <span class="ui-icon ui-icon-plus"></span>
        {{ series }}
      </span>
    </section>

    <ui-stacker-list
      (itemDeleted)="updateUnusedSeries()"
      [items]="form.get('seriesSettings')"
      class="series-list">
      <ng-template let-item>
        <ng-container [formGroup]="item">

          <section class="series-controls">

            <ui-form-field label="Ref">
              <input formControlName="value">
            </ui-form-field>
            <ui-form-field label="Label">
              <input formControlName="label">
            </ui-form-field>
            <ui-form-field label="Type">
              <ui-single-select formControlName="type" [options]="typeOptions" [floating]="true"></ui-single-select>
            </ui-form-field>
            <ui-form-field label="Color">
              <ui-color-dropdown formControlName="color"></ui-color-dropdown>
            </ui-form-field>
            <ui-form-field label="Connect nulls">
              <ui-checkbox formControlName="connectNulls"></ui-checkbox>
            </ui-form-field>
            <ui-form-field label="Visible on load">
              <ui-checkbox formControlName="visible"></ui-checkbox>
            </ui-form-field>
            <ui-form-field label="Use zones">
              <ui-checkbox (click)="toggleZones(item)" [checked]="!!item.value.zones">
            </ui-checkbox>
            </ui-form-field>
            <ui-form-field label="Zone axis" *ngIf="item.value.zones">
              <ui-single-select
                formControlName="zoneAxis"
                [options]="[{text: 'X', value: 'x'},{text: 'Y', value: 'y'}]"
                [floating]="true">
              </ui-single-select>
            </ui-form-field>

          </section>

          <bmi-zones-control
            *ngIf="item.value.zones"
            [defaultColor]="item.value.color"
            formControlName="zones">
          </bmi-zones-control>

        </ng-container>
      </ng-template>
    </ui-stacker-list>-

  </section>

</section>
