@import '@bmi/ui/styles/forms';
@import '@bmi/ui/styles/gra-colors';

:host {
  ui-stacker-list ::ng-deep {
    .stacker-boxes {
      margin-top: 1rem;
    }
    .series-controls {
      display: flex;
      ui-form-field:not(:last-child) {
        margin-right: 1rem;
      }
      flex-wrap: wrap;

      button {
        align-self: center;
        justify-self: center;
      }
    }
    .zones-list {
      .stacker-boxes {
        max-width: 56rem;
      }
      ui-stacker-box {
        background-color: rgba(0, 0, 0, .1);
        box-shadow: none;
      }
      .stacker-box-content {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
.unused-series {
  font-size: 1.25rem;
  padding: .3rem 1rem .3rem .6rem;
  border-radius: .2rem;
  border: 1px solid mix($PaleGray1, $LtGray2);
  background: $PaleGray1;
  margin: 0 1rem 0 0;
  display: inline-block;
  cursor: pointer;
  .ui-icon {
    background: $MedGreen;
    border-radius: .9rem;
    color: $White;
    height: 1.8rem;
    width: 1.8rem;
    text-align: center;
    border: 3px solid $MedGreen;
  }
  &:hover {
    background: mix($PaleGray1, $LtGray2);
  }
}

.truncate {
  max-width: 32rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.warning {
  font-size: 1.5rem;
}

.color-status-orange {
  color: $StatusOrange;
}

.color-brand-blue {
  color: $BrandBlue;
}

.settings-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  @media (min-width: 1600px) {
    grid-template-columns: 1fr 3fr;
  }
}
