<ui-loading-container [isLoading]="isLoading">
  <ng-template>
    <button *ngIf="canEditCards" type="button" class="btn btn--default"  (click)="createCard()">
      <ui-icon data-cy="add-card-button" icon="cui-add" [fixedWidth]="true"></ui-icon> Add Card
    </button>
    <button type="button" class="btn btn--ghost"  (click)="refreshBoard()">
      <ui-icon icon="cui-refresh" [fixedWidth]="true"></ui-icon> Refresh
    </button>
    <idp-data-table *ngIf="tableModel" [data]="tableModel" [search]="search" (tableAction)="onTableAction($event)"></idp-data-table>
    <ui-data-table-pagination [data]="tableModel" (pageChanged)="scrollToTop()"></ui-data-table-pagination>
  </ng-template>
</ui-loading-container>
