dl {
  display: grid;
  grid-template-columns: 12rem auto;
  grid-gap: .5rem;
  margin: .5rem 0;
  dd {
    font-weight: 400;
    margin: 0;
  }
  dt {
    margin: 0;
  }
}

.border {
  position: relative;
  padding: 1rem 0 0 1rem;
  margin: 1rem 0;
  border: 2px solid var(--gra-color--gray-200);
  border-radius: .3rem;
  & > .object-content,
  & > .content {
    padding-top: .5rem;
    display: none;
  }
  &.open > .object-content,
  &.open > .content {
    display: block;
  }
  .border {
    border-right: none;
  }
  h2,
  h3 {
    margin: -1.1rem 0 0 -1rem;
    padding: 1rem;
    background: var(--gra-color--gray-200);
    line-height: 1;
  }
  h3 {
    cursor: pointer;
    &:hover {
      background: var(--gra-color--gray-300);
    }
    span.ui-icon {
      min-width: 1.8rem;
      text-align: center;
    }
  }
}

button.ui-button {
  margin-bottom: 1rem;
}

pre {
  background-color: var(--gra-theme-tertiary-lighter);
  font-size: 1.25rem;
  color: var(--gra-color--white);
  padding: 1rem;
  border-radius: .3rem;
  margin-left: -1rem;
}
