:host ::ng-deep {
  max-width: 640px;
  display: block;
  .stacker-box-content {
    padding: 0;
  }
  ui-stacker-box.default-style {
    margin-bottom: 0.2rem;
  }
}

.map-editor__grid {
  display: grid;
  grid-template-columns: 2fr 12px 3fr;
  gap: var(--gra-spacing-qtr);
  width: calc(100% - 5px);
  input {
    padding: 0 0.8rem;
    border: none;
    width: 100%;
  }
}

.icon-arrow-right-tail {
  color: var(--gra-color--gray-500);
  font-size: 12px;
  line-height: 26px;
}
