<div>
  <span *ngIf="showBulkManagerButton" class="ui-button ui-btn--secondary" (click)="loadBulkDataManager()"> Bulk Data Manager </span>
  <span class="ui-button ui-btn--secondary" (click)="loadUploadStatus()"> Upload Status </span>
</div>

<ui-modal>
  <ng-template bulk-host></ng-template>
</ui-modal>


