<div class="modal-backdrop" id="modal-backdrop"></div>
<section class="app-container">

  <bmi-app-header
    headerTitle="Gravity Client App">
  </bmi-app-header>

  <bmi-app-sidebar
    [menuContent]="[]"
    [contextTabs]="[]"
    cssClass="sidebar--secondary">
  </bmi-app-sidebar>

  <router-outlet></router-outlet>

</section>

