:host {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  min-height: 10px;
  min-width: 30px;
}

.grid-preset__cell {
  background: #777;
  min-width: 0;
  min-height: 0;
}

@for $i from 1 through 12 {
  .grid-preset__cell--colspan-#{$i} {
    grid-column: span $i;
  }

  .grid-preset__cell--rowspan-#{$i} {
    grid-row: span $i;
  }
}
