<section class="zone-bar" *ngIf="form" [formGroup]="form">

  <ui-base-dropdown
    class="zone"
    *ngFor="let zoneGroup of form.controls, let i=index"
    [style.backgroundColor]="zoneGroup.value.color"
    [style.flexGrow]="getFlex(zones[i].value, i)"
    (isOpenChange)="checkZoneOrder($event)">

    <ng-template #dropdownControl let-dropdown>
      <div>
        <span class="value-badge">
          <ng-container *ngIf="zoneGroup.get('value')">{{ zoneGroup.value.value }}</ng-container>
          <ng-container *ngIf="!zoneGroup.get('value')">default</ng-container>
        </span>
      </div>
    </ng-template>

    <ng-template #dropdownContent let-dropdown>
      <section class="dropdown-section" [formGroup]="zoneGroup">

        <ui-form-field label="Color">
          <ui-color-dropdown formControlName="color"></ui-color-dropdown>
        </ui-form-field>

        <ui-form-field label="Value (upper limit)" *ngIf="zoneGroup.get('value')">
          <input type="number" formControlName="value">
        </ui-form-field>

        <button
          type="button"
          class="ui-button ui-btn--negative"
          (click)="deleteZone(i); dropdown.close()"
          *ngIf="zoneGroup.get('value')"
          title="Delete zone">
          <span class="ui-icon ui-icon-close"></span>
        </button>

        <button
          type="button"
          class="ui-button"
          (click)="splitZone(i, zoneGroup); dropdown.close()"
          *ngIf="canSplitZone(i)"
          title="Existing zone will split evenly into 2 zones.">
          <span class="ui-icon ui-icon-columns"></span>
          Split (add zone)
        </button>

        <button
          type="button"
          class="ui-button ui-btn--success"
          (click)="dropdown.close()" 
          title="Close dropdown and update zones">
            <span class="ui-icon ui-icon-check"></span>
        </button>

      </section>
    </ng-template>

  </ui-base-dropdown>

</section>