<ui-loading-container [isLoading]="isLoading">
  <ng-template>
    <ui-form-field label="Choose card phase">
      <ui-single-select [formControl]="phase" [options]="phaseOptions" [floating]="true"></ui-single-select>
    </ui-form-field>
  </ng-template>
</ui-loading-container>

