@import '@bmi/ui/styles/select-mixins';

:host { display: block; }

.global-search {
  &__dropdown {
    @include ui-select-dropdown-background();
    min-width: 350px;
    max-width: 350px;
    width: 350px;

    max-height: 80vh;

    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
  }


  &__result-list {

    a {
      display: block !important;
    }
  }

  &__no-results {
    position: relative;
    min-height: 85px;

    ui-icon {
      position: absolute;
      display: block;
      top: -5px;
      left: 0px;
      opacity: 0.3;
      color: var(--gra-accent-color);
      font-size: 64px;
    }

    h3 {
      padding-top: 32px;
      padding-left: 70px;
    }
  }
}
