<ui-base-dropdown [(isOpen)]="isOpen" [toggleOpenOnClick]="false" positionPolicy="right">
  <ng-template #dropdownControl>
    <ui-search-input
      [search]="searchQuery"
      placeholder="Search boards"
      (click)="considerWhetherToOpen()"
      (newSearch)="applySearch($event)">
    </ui-search-input>
  </ng-template>
  <ng-template #dropdownContent>
    <div class="global-search__dropdown">
      <ng-container *ngIf="hasResults; else noResults">
        <h3>Results</h3>
        <ui-list-group class="ui-list-group global-search__result-list">
          <a
              *ngFor="let result of searchResults"
              [routerLink]="result.link"
              [isActionable]="true"
              (click)="completeSearch()"
              uiListGroupItem>
            <ui-icon [icon]="getIcon(result)" [fixedWidth]="true"></ui-icon>
            {{result.name}}
          </a>
        </ui-list-group>
      </ng-container>
      <ng-template #noResults>
        <div class="global-search__no-results">
          <ui-icon icon="cui-search"></ui-icon>
          <h3>No results for '{{searchQuery}}'</h3>
        </div>
      </ng-template>
    </div>
  </ng-template>
</ui-base-dropdown>
