.flair-icons {
  &__flair {
    &--clickable {
      cursor: pointer;
      line-height: 1;
      &:hover {
        color: var(--gra-accent-color);
      }
      ui-icon {
        line-height: 1;
      }
    }
  }
}
