@import '@bmi/ui/styles/gra-colors';

:host {
  box-sizing: border-box;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
}

.fa-question {
  box-sizing: border-box;
  border-radius: 50%;
  background-color: $BrandBlue;
  height: 1.6rem;
  width: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  font-size: 1.4rem;
  color: $White;
  cursor: help;
  display: inline-block;
}
