.flair-editor-list {
  ui-stacker-list {
    display: block;
    margin: 10px 0px;


    &.fixed-flairs-list ::ng-deep .stacker-box-content {
      padding-left: 0;
    }
  }


  &__button-bar {
    ui-dropdown-menu {
      display: inline-block;
    }

    button {
      margin: 5px 3px;
    }
  }
}
