<div class="flair-editor-list" bmiFlairsDynamicEditorDefs>
  <ui-stacker-list class="fixed-flairs-list" [items]="flairs.controls.fixedFlairs" [showDrag]="false" [customStyles]="true">
    <ng-template let-item>
      <ui-dynamic-editor [formControl]="item" [showTitle]="false"></ui-dynamic-editor>
    </ng-template>
  </ui-stacker-list>

  <div class="flair-editor-list__button-bar">

    <button *ngFor="let opt of buttonFlairOptions" type="button" class="btn btn--small btn--success" (click)="addFlair(opt.flairType)">
      <ui-icon *ngIf="opt.icon" [icon]="opt.icon" [fixedWidth]="true"></ui-icon>
      {{ opt.text }}
    </button>

    <ui-dropdown-menu
        *ngIf="menuFlairOptions.length > 0"
        [options]="menuFlairOptions"
        (optionClicked)="addFlair($event.flairType)">
      <button type="button" class="btn btn--small btn--success">
        <span class="ui-icon ui-icon-star-o ui-icon-fw"></span>
        Add Flair
        <span class="ui-icon ui-icon-caret-down"></span>
      </button>
    </ui-dropdown-menu>
  </div>

  <ui-dynamic-editor-list [formControl]="flairs.controls.sortableFlairs" [showAddMenu]="false"></ui-dynamic-editor-list>
</div>
