@import '@bmi/ui/styles/gra-colors';

.scroller {
  overflow-y: scroll;
  max-height: 240px;
  width: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 5px 10px;
  font-size: 1.25rem;
}
.selected {
  color: $White;
  background: $BrandBlue;
}

:host ::ng-deep {
  .dropdown-container,
  .ui-dropdown-contents {
    background: $White;
    width: 100%;
  }
  .dropdown-container {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: 1px solid $LtGray2;
    border-top: none;
    position: relative;
  }
  .dropdown-label span.name {
    font-size: 1.25rem;
  }
  .select-toggler {
    padding-left: .5rem;
  }
  ui-search-input .search-container {
    max-width: none;
  }
}

span.display-icon {
  font-size: 2rem;
  width: 4rem;
  text-align: center;
}

li.option-element {
  align-items: center;
  padding-left: .5rem;
  cursor: pointer;
}

ui-search-input {
  padding: 8px 12px 0;
  display: block;
  width: 100%;
}
