<ui-base-dropdown>

  <ng-template #dropdownControl let-dropdown>
    <ui-select-toggler [isOpen]="dropdown.isOpen" (toggleOpen)="dropdown.toggle()">
      <div
        class="dropdown-label"
        *ngIf="!!selectedIcon; else nothingSelected"
        title="{{ selectedIcon }}">
        <span class="display-icon {{ getClasses(selectedIcon) }}"></span>
        <span class="display-name">{{ getDisplayName(selectedIcon) }}</span>
      </div>
      <ng-template #nothingSelected>
        <strong>No icon selected</strong>
      </ng-template>
    </ui-select-toggler>
  </ng-template>

  <ng-template #dropdownContent let-dropdown>
    <div class="dropdown-container">
      <ui-search-input (newSearch)="newSearch($event)" [search]="search"></ui-search-input>
      <div class="scroller">
        <ul>
          <li
            class="option-element"
            [class.selected]="option.value === selectedIcon"
            *ngFor="let option of filteredOptions()"
            (click)="dropdown.toggle();selectIcon(option.value)"
            title="{{ option.value }}">
            <span class="display-icon {{ getClasses(option.value) }}"></span>
            <span [innerHTML]="option.text | highlightTerm:search"></span>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>

</ui-base-dropdown>
