



<ui-observable-loader [source]="transformObservable | async">
  <ng-template let-transform>
    <h1>{{ transform.isNew ? 'Create Transform' : 'Edit Transform: ' + transform.name }}</h1>
    <bmi-transform-editor [formControl]="formControl"></bmi-transform-editor>
    <hr>
    <button type=button class="btn btn--primary" [disabled]="invalidForm | async" (click)="save()">Save</button>
    <button type=button class="btn btn--ghost" (click)="delete()">Delete</button>
    <button type="button" class="btn btn--ghost" (click)="cancel()">Cancel</button>
  </ng-template>
</ui-observable-loader>
