@import '@bmi/ui/styles/forms';
@import '@bmi/ui/styles/gra-colors';

.stacker-row-flow {
  display: flex;
  flex-direction: row;

  ui-form-field {
    flex: 1 1 auto;
  }

  ui-form-field + ui-form-field {
    padding-left: 1rem;
  }
}


.filtering-options {

  border: 1px solid transparent;
  transition: border-color 0.2s, background-color 0.2s;
  padding: 1rem;
  border-radius: 3px;

  &.is-open {
    background-color: $PaleGray1;
    border-color: $LtGray2;
  }

  h4 {
    user-select: none;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
  }

  .filter-content {
    max-height: 0px;
    opacity: 0;
    transition: opacity 0.25s, max-height 0.5s;

    h5 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  &.is-open .filter-content {
    opacity: 1;
    max-height: 1000px;
  }

  .box-caret {
    color: $DkGray2;
    transition: transform 0.2s;
  }

  &.is-open .box-caret {
    transform: rotate(90deg);
  }
}
