<ng-container [formGroup]="form">
  <ui-form-field label="Data Source">
    <ui-single-select formControlName="dataSourceRef" [floating]="true" [options]="dataSourceOptions | async"></ui-single-select>
  </ui-form-field>

  <div class="filtering-options" [class.is-open]="showFilteringOptions">
    <h4 (click)="toggleFilteringOptions()">
      <span class="box-caret ui-icon ui-icon-caret-right"></span>
      Filtering Options
      <small class="filter-summary">({{ getFilterSummary() }})</small>
    </h4>

    <div class="filter-content">
      <ng-container *ngIf="showFilteringOptions">
        <h5>Source-specific Filter Conditions</h5>
        <p>
          These filter conditions will get applied to the data source, allowing you to limit the data that
          is included in the aggregation.
        </p>

        <ui-stacker-list [items]="filtersArray">
          <ng-template let-filter>
            <div class="stacker-row-flow" [formGroup]="filter">
              <ui-form-field label="Field">
                <input formControlName="fieldName">
              </ui-form-field>
              <ui-form-field label="Operation">
                <select formControlName="operation">
                  <option value="EQUALTO">EQUAL TO</option>
                  <option value="NOTEQUALTO">NOT EQUAL TO</option>
                </select>
              </ui-form-field>
              <ui-form-field label="Value">
                <input formControlName="value">
              </ui-form-field>
            </div>
          </ng-template>
        </ui-stacker-list>
        <button type="button" class="ui-button ui-btn--success" (click)="addCondition()">Add Condition</button>

        <h5>Global Filter Conditions</h5>
        <p>
          In addition to data-source filter conditions, there may be 'global' filters that affect this
          chart. These could come from the page or dashboard that the chart is on. Rather than apply
          global filters to all sources (which may have unintended consequences), this mapping lets you
          set up the valid fields to be used for global filters.
        </p>
        <p>
          To allow a field to be filtered, add it to the list below. The global filter ID is determined by
          the app displaying the chart. The Data Source Field is the name of the field on this data source
          which that filter corresponds to.
        </p>

        <ui-stacker-list [items]="globalFilterMapping">
          <ng-template let-filter>
            <div class="stacker-row-flow" [formGroup]="filter">
              <ui-form-field label="Global Filter ID">
                <input formControlName="globalFilterId">
              </ui-form-field>
              <ui-form-field label="Data Source Field">
                <input formControlName="dataSourceField">
              </ui-form-field>
            </div>
          </ng-template>
        </ui-stacker-list>
        <button type="button" class="ui-button ui-btn--success" (click)="addGlobalFilterMapping()">Add Global Filter</button>
      </ng-container>
    </div>
  </div>

  <div *ngIf="translatorOptions.length > 0" class="translator-settings">
    <ui-form-field *ngIf="translatorOptions.length > 1" label="Translator">
      <ui-single-select formControlName="translatorId" [options]="translatorOptions"></ui-single-select>
    </ui-form-field>

    <div class="translator-settings" *ngIf="activeTranslator as translator">
      <ng-container [ngSwitch]="translator.editorUiComponentId">
        <bmi-charts-series-mapper-editor *ngSwitchCase="'series-mapper'" formControlName="translator"></bmi-charts-series-mapper-editor>
        <ng-container *ngSwitchDefault></ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>
