@import '@bmi/ui/styles/buttons';
@import '@bmi/ui/styles/typography';
@import '@bmi/ui/styles/icons';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '@bmi/ui/styles/material-dialog-customization';

@import '@bmi/ui/styles/cui2-fixes';

html {
  padding: 0;
}


body {
  margin: 0;
}


.hidden {
  display: none;
}
