<ng-container [formGroup]="form">
  <select class="binding-picker__type-select" formControlName="bindingType">
    <option *ngFor="let option of bindingTypes" value="{{ option.value }}">{{ option.text }}</option>
  </select>

  <input
    class="binding-picker__value-input"
    formControlName="value"
    [placeholder]="placeholderText"
    type="text"/>
</ng-container>
