@import '@bmi/ui/styles/forms';

:host {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
}

.binding-picker {
  &__type-select, &__value-input {
    @include form-control();
    min-width: 0;
    width: unset;
  }
}
