<ng-container *ngIf="!!config">

  <section class="border">
    <h2 class="top-bar">
      {{ pageTitle }}
      <button type='button' class="btn btn--ghost toggle-json-button" (click)="toggleJson()">
        {{ viewJson ? 'Default view' : 'View as JSON' }}
      </button>
    </h2>
    <ng-container *ngIf="!viewJson; else jsonViewer">
      <ng-container *ngTemplateOutlet="keyValueList;context:{object:config,path:'',level:'root' }"></ng-container>
    </ng-container>
    <ng-template #jsonViewer>
      <button type='button' class="btn btn--dark copy-to-clipboard-button" (click)="copyToClipboard()">
        <span class="icon-clipboard"></span> Copy to clipboard
      </button>
      <pre #jsonText class="json-text">{{ config | json }}</pre>
    </ng-template>
  </section>

</ng-container>

<ng-template
  #keyValueList
  let-object="object"
  let-path="path"
  let-level="level">
  <ng-container *ngFor="let key of sortKeys(object)">
    <ng-container *ngIf="isObject(object[key]) && (path + '.' + key) as childPath">
      <div class="border" [class.open]="isOpen(childPath)">
        <h3 data-cy="child-path-heading" (click)="toggleOpen(childPath)">
          <span class="icon-{{ isOpen(childPath) ? 'chevron-down' : 'chevron-right' }}"></span>
          {{ key }}
        </h3>
        <div class="object-content">
          <ng-container *ngTemplateOutlet="keyValueList;context:{object:object[key],path: childPath, level:'child'}"></ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!isObject(object[key])">
      <dl attr.data-cy="{{level}}-level-property"><dd  >{{ key }}</dd><dt>{{ formatValue(key, object[key]) }}</dt></dl>
    </ng-container>
  </ng-container>
</ng-template>
