<ng-container *ngIf="canEditConfig; else showMessage" >
  <bmi-flair-editor-list *ngIf="flairEditing" [formControl]="flairs"></bmi-flair-editor-list>

  <bmi-widget-host
    [widgetDefinitionService]="editorDefService"
    [config]="widgetConfigSubject | async"
    [noFlairs]="true"
    (updateWidgetConfig)="widgetConfigUpdated($event)">
  </bmi-widget-host>
</ng-container>
<ng-template #showMessage>
  <ui-alert-box type="warning">
    <p>You cannot directly edit this widget from the Page Designer as it is included by reference</p>
  </ui-alert-box>
</ng-template>
