<ng-container [formGroup]="form">
  <ui-form-field label="Board">
    <ui-select formControlName="board" [options]="boardOptions | async"></ui-select>
  </ui-form-field>

  <ui-form-field label="Card ID">
    <bmi-binding-picker formControlName="cardId"></bmi-binding-picker>
  </ui-form-field>

  <ui-form-field label="Default field values">
    <bmi-data-map-editor
      formControlName="defaults"
      [useFormatters]="true">
    </bmi-data-map-editor>
  </ui-form-field>

  <ui-form-field label="Event: After Save">
    <ui-dynamic-editor-list
      bmiUsingDynamicEditorsFor="event-action"
      formControlName="afterSaveEvent"
      addMenuLabel="Add event action">
    </ui-dynamic-editor-list>
  </ui-form-field>
</ng-container>
